In [2]:
import pandas as pd
import numpy as np
import obspy

from obspy.clients.fdsn import Client
from pnwstore.mseed import WaveformClient
from datetime import datetime
from matplotlib import pyplot as plt
from obspy import UTCDateTime

from tqdm import tqdm
from obspy.geodetics import locations2degrees, degrees2kilometers

In [11]:
t1 = pd.Timestamp('2016-06-04 00:15:00.000000+0000', tz='UTC')
t2 = pd.Timestamp('2016-06-04 00:45:59.999999+0000', tz='UTC')

In [12]:
# Load all the pick assignments 
mycatalog_picks = pd.read_csv('../data/datasets_OR/all_pick_assignments_OR.csv')
mycatalog = mycatalog_picks.drop_duplicates(subset=['idx'])
# Convert the time series in all_pick_assignments to datetime
mycatalog['datetime'] = pd.to_datetime(mycatalog['time'], utc = True)
mycatalog=mycatalog.loc[(mycatalog['datetime'] > t1) & (mycatalog['datetime'] < t2) ]
mycatalog.head()

/tmp/ipykernel_3497953/100770907.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mycatalog['datetime'] = pd.to_datetime(mycatalog['time'], utc = True)

,Unnamed: 0,idx,time,x,y,z,picks,latitude,longitude,depth,event_idx,pick_idx,residual,station,phase,time_pick,datetime
0,0,0,2016-06-04 00:35:30.430365+00:00,-49.492017,-52.653525,45.703125,12,44.024477,-126.117313,45.703125,0,10,-0.685211,BABR,P,1.465001e+09,2016-06-04 00:35:30.430365+00:00