In [3]:
import pandas as pd
import numpy as np
from obspy.clients.fdsn import Client
from pnwstore.mseed import WaveformClient
from datetime import datetime
import obspy
from matplotlib import pyplot as plt
from obspy import UTCDateTime

from obspy.geodetics import locations2degrees, degrees2kilometers
from tqdm import tqdm

## Morton Catalog

In [4]:
# Read Morton's catalog
events_morton = pd.read_csv('../data/ds01.csv')
# Convert the TSTRING to datetime
events_morton['datetime'] = pd.to_datetime(events_morton['TSTRING'], format='%Y%m%d%H%M%S', utc=True)
# Get the events in the Morton catalog that occurred on 10/14/2012
t1 = pd.Timestamp('2012-10-01 00:00:00.000000+0000', tz='UTC')
t2 = pd.Timestamp('2012-10-31 23:59:59.999999+0000', tz='UTC')

events_morton_201210= events_morton.loc[(events_morton['datetime'] > t1) & (events_morton['datetime'] < t2) ]

events_morton_201210.head()

,CI YEAR,TSTRING,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,LAT,LON,...,dist to nearest stn,tt RMS,ERH,ERZ,STRIKE,DIP,RAKE,PLATE DESIGNATION,TEMPLATE EVENT?,datetime
630,2.0,2.012100e+13,2012.0,10.0,1.0,4.0,32.0,57.05,40.7190,-125.9525,...,34.0,0.46,2.6,29.2,NaN,NaN,NaN,Seaward of Trench,NaN,2012-10-01 04:32:57+00:00
631,2.0,2.012100e+13,2012.0,10.0,1.0,23.0,30.0,58.38,40.5787,-124.8887,...,11.8,0.34,6.9,5.8,NaN,NaN,NaN,Slab,NaN,2012-10-01 23:30:58+00:00
632,2.0,2.012100e+13,2012.0,10.0,2.0,4.0,25.0,46.37,40.5592,-125.2087,...,24.1,0.30,1.7,5.0,NaN,NaN,NaN,Seaward of Trench,NaN,2012-10-02 04:25:46+00:00
633,2.0,2.012100e+13,2012.0,10.0,2.0,5.0,16.0,28.35,40.5075,-124.5450,...,7.3,0.35,1.1,1.2,NaN,NaN,NaN,Slab,NaN,2012-10-02 05:16:28+00:00
634,2.0,2.012100e+13,2012.0,10.0,2.0,6.0,17.0,18.88,40.4213,-125.3963,...,31.2,0.46,1.4,34.8,316.59,43.54,-85.95,Seaward of Trench,NaN,2012-10-02 06:17:18+00:00

In [5]:
events_morton['datetime'].max()

Timestamp('2015-10-07 21:45:50+0000', tz='UTC')

In [6]:
events_morton_201210.keys()

Index(['CI YEAR', 'TSTRING', 'YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE',
       'SECOND', 'LAT', 'LON', 'DEPTH', 'Md', 'Num P&S with weights > 0.1',
       'max az gap', 'dist to nearest stn', 'tt RMS', 'ERH', 'ERZ', 'STRIKE',
       'DIP', 'RAKE', 'PLATE DESIGNATION', 'TEMPLATE EVENT?', 'datetime'],
      dtype='object')

In [7]:
len(events_morton_201210)

91

## Our Catalog

In [8]:
# Load all the pick assignments 
mycatalog = pd.read_csv('../data/all_pick_assignments_october_temp_with_JCC.csv')
# Convert the time series in all_pick_assignments to datetime
mycatalog['datetime'] = pd.to_datetime(mycatalog['time'], utc = True)
mycatalog=mycatalog.loc[(mycatalog['datetime'] > t1) & (mycatalog['datetime'] < t2) ]
mycatalog.head()

,Unnamed: 0,idx,time,x,y,z,picks,latitude,longitude,depth,event_idx,pick_idx,residual,station,phase,time_pick,datetime
0,0,0,2012-10-01 04:32:57.526930+00:00,-95.153374,-109.358894,38.671875,9,40.759805,-125.876866,38.671875,0,191641,0.691466,FS20B,S,1.349066e+09,2012-10-01 04:32:57.526930+00:00
1,1,0,2012-10-01 04:32:57.526930+00:00,-95.153374,-109.358894,38.671875,9,40.759805,-125.876866,38.671875,0,52682,-0.194832,G10B,P,1.349066e+09,2012-10-01 04:32:57.526930+00:00
2,2,0,2012-10-01 04:32:57.526930+00:00,-95.153374,-109.358894,38.671875,9,40.759805,-125.876866,38.671875,0,195745,-0.455126,G10B,S,1.349066e+09,2012-10-01 04:32:57.526930+00:00
3,3,0,2012-10-01 04:32:57.526930+00:00,-95.153374,-109.358894,38.671875,9,40.759805,-125.876866,38.671875,0,72030,0.389036,G19B,P,1.349066e+09,2012-10-01 04:32:57.526930+00:00
4,4,0,2012-10-01 04:32:57.526930+00:00,-95.153374,-109.358894,38.671875,9,40.759805,-125.876866,38.671875,0,214198,0.052522,G19B,S,1.349066e+09,2012-10-01 04:32:57.526930+00:00

In [9]:
mycatalog

,Unnamed: 0,idx,time,x,y,z,picks,latitude,longitude,depth,event_idx,pick_idx,residual,station,phase,time_pick,datetime
0,0,0,2012-10-01 04:32:57.526930+00:00,-95.153374,-109.358894,38.671875,9,40.759805,-125.876866,38.671875,0,191641,0.691466,FS20B,S,1.349066e+09,2012-10-01 04:32:57.526930+00:00
1,1,0,2012-10-01 04:32:57.526930+00:00,-95.153374,-109.358894,38.671875,9,40.759805,-125.876866,38.671875,0,52682,-0.194832,G10B,P,1.349066e+09,2012-10-01 04:32:57.526930+00:00
2,2,0,2012-10-01 04:32:57.526930+00:00,-95.153374,-109.358894,38.671875,9,40.759805,-125.876866,38.671875,0,195745,-0.455126,G10B,S,1.349066e+09,2012-10-01 04:32:57.526930+00:00
3,3,0,2012-10-01 04:32:57.526930+00:00,-95.153374,-109.358894,38.671875,9,40.759805,-125.876866,38.671875,0,72030,0.389036,G19B,P,1.349066e+09,2012-10-01 04:32:57.526930+00:00
4,4,0,2012-10-01 04:32:57.526930+00:00,-95.153374,-109.358894,38.671875,9,40.759805,-125.876866,38.671875,0,214198,0.052522,G19B,S,1.349066e+09,2012-10-01 04:32:57.526930+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5079,5079,413,2012-10-31 23:52:18.863116+00:00,-30.939441,-123.840003,25.390625,6,40.634324,-125.115721,25.390625,413,161602,-0.016219,FS09B,S,1.351728e+09,2012-10-31 23:52:18.863116+00:00
5080,5080,413,2012-10-31 23:52:18.863116+00:00,-30.939441,-123.840003,25.390625,6,40.634324,-125.115721,25.390625,413,19435,0.097867,FS13B,P,1.351728e+09,2012-10-31 23:52:18.863116+00:00
5081,5081,413,2012-10-31 23:52:18.863116+00:00,-30.939441,-123.840003,25.390625,6,40.634324,-125.115721,25.390625,413,170646,-0.376346,FS13B,S,1.351728e+09,2012-10-31 23:52:18.863116+00:00
5082,5082,413,2012-10-31 23:52:18.863116+00:00,-30.939441,-123.840003,25.390625,6,40.634324,-125.115721,25.390625,413,32021,-0.435223,FS16B,P,1.351728e+09,2012-10-31 23:52:18.863116+00:00
5083,5083,413,2012-10-31 23:52:18.863116+00:00,-30.939441,-123.840003,25.390625,6,40.634324,-125.115721,25.390625,413,183563,0.391548,FS16B,S,1.351728e+09,2012-10-31 23:52:18.863116+00:00

In [13]:
matched_events_mycatalog= []
matched_times_morton = []
# matched_time_mycatalog = []
# matched_time_morton = []
unmatched_times_morton = []
unmatched_events_mycatalog = []
time_threshold = 5

lat_morton=[]
lon_morton=[]

for i in range(len(events_morton_201210)):
    t1 = events_morton_201210.iloc[i]['datetime']
    matched_df = mycatalog.loc[(mycatalog['datetime'] >= t1 - pd.Timedelta(time_threshold,'seconds')) & 
                               (mycatalog['datetime'] <= t1 +pd.Timedelta(time_threshold,'seconds')) ]
    
    unmatched_df = mycatalog.loc[~((mycatalog['datetime'] > t1 - pd.Timedelta(time_threshold,'minutes')) & 
                               (mycatalog['datetime'] < t1 +pd.Timedelta(time_threshold,'minutes'))) ]
    
    # If there is only one match, append the time with the closest match. 
    
    # Instead of appending individual rows, append DataFrames directly
    if len(matched_df) == 1:
        matched_times_morton.append(t1)
        lat_morton.append(events_morton_201210.iloc[i]['LAT'])
        lon_morton.append(events_morton_201210.iloc[i]['LON'])
        matched_events_mycatalog.append(matched_df) # Append DataFrame directly

    elif len(matched_df) > 1:
        diffs = abs(matched_df['datetime']-t1)
        matched_times_morton.append(t1)
        lat_morton.append(events_morton_201210.iloc[i]['LAT'])
        lon_morton.append(events_morton_201210.iloc[i]['LON'])
        matched_df = matched_df.iloc[[np.argmin(diffs)]] # Wrap np.argmin(diffs) with list to ensure it returns a DataFrame
        matched_events_mycatalog.append(matched_df) # Append DataFrame directly
    
    
    else: 
        unmatched_times_morton.append(t1)
        

    
#     print(i,len(matched_events_mycatalog),len(matched_df), len(matched_df['time'].unique()), events_morton_201210.iloc[i]['Md'])

# unmatched_df = np.setdiff1d(np.array(mycatalog['datetime']), np.array(matched_events_mycatalog['datetime']))
# len(matched_events_mycatalog)

In [ ]:
# For debugging 
print(len(matched_times_morton),len(events_morton_201210),len(unmatched_times_morton),)
pd

In [11]:
# For debugging 
matched_events_mycatalog = pd.concat(matched_events_mycatalog, ignore_index=True)

In [12]:
# For debugging 
print(matched_events_mycatalog)

0                                      0
1                                      0
2       2012-10-01 04:32:57.526930+00:00
3                             -95.153374
4                            -109.358894
                      ...
1321                            0.217008
1322                               FS09B
1323                                   S
1324                   1351700036.145501
1325    2012-10-31 16:13:43.579286+00:00
Length: 1326, dtype: object

In [ ]:
matched_events_mycatalog = pd.concat(matched_events_mycatalog)

In [ ]:
# Concatenate the list of dataframes
matched_events_mycatalog = pd.concat(matched_events_mycatalog)
# Drop duplicates by datetime
matched_events_mycatalog = matched_events_mycatalog.drop_duplicates(subset=['datetime'])
# Extract the datetimes 
matched_times_mycatalog = matched_events_mycatalog['datetime']
# Concatenate the list of unmatched dataframes
unmatched_times_mycatalog = pd.concat(unmatched_events_mycatalog)

# Define the latitudes and longitudes for my catalog
lat_mycatalog = matched_events_mycatalog['latitude']
lon_mycatalog = matched_events_mycatalog['longitude']

## Plot the Origin Times

In [ ]:
# Make lists for plotting the 1:1 line
x = pd.date_range(start='2012-10-1', end='2012-10-31', periods=len(matched_times_morton))
y = pd.date_range(start='2012-10-1', end='2012-10-31', periods=len(matched_times_morton))

# Plot the scatter plot
plt.figure()
plt.scatter(matched_times_mycatalog,matched_times_morton)
plt.plot(x,y, 'k--')
plt.xlabel('Origin Time of mycatalog')
plt.ylabel('Origin Time of Morton')
plt.title('Scatter Plot: Origin Times of Matched Events')

## Plot the Latitudes from mycatalog and Morton's catalog

In [ ]:
# Plot the scatter plot
plt.figure()
lat_min = min(lat_mycatalog)
lat_max = max(lat_mycatalog)

# Make lists for plotting the 1:1 line
x_lat = np.linspace(lat_min, lat_max, 10)
y_lat = np.linspace(lat_min, lat_max, 10)
plt.scatter(lat_mycatalog,lat_morton)
plt.plot(x_lat,y_lat, 'k--')
plt.xlabel('Latitudes of mycatalog ($^\circ$)')
plt.ylabel('Latitudes of Morton ($^\circ$)')
plt.title('Scatter Plot: Latitudes of mycatalog vs.Latitudes of Morton')

## Plot the longitudes from mycatalog and Morton's catalog

In [ ]:
# Plot the scatter plot
plt.figure()
lon_min = min(lon_mycatalog)
lon_max = max(lon_mycatalog)

# Make lists for plotting the 1:1 line
x_lon = np.linspace(lon_min, lon_max, 10)
y_lon = np.linspace(lon_min, lon_max, 10)
plt.scatter(lon_mycatalog,lon_morton)
plt.plot(x_lon,y_lon, 'k--')
plt.xlabel('Longitudes of mycatalog ($^\circ$)')
plt.ylabel('Longitudes of Morton ($^\circ$)')
plt.title('Scatter Plot: Longitudes of mycatalog vs.Longitudes of Morton')

## Histograms
Make histograms of mycatalog vs. Morton's catalog

### Histogram: All of our catalog (767 events)

In [ ]:
events_october = pd.read_csv('../data/events_october_temp.csv')

In [ ]:
len(events_october),len(matched_events_mycatalog),len(unmatched_events_mycatalog)

In [ ]:
# Plot the histogram of the number of picks for all events in events_october.csv
# plt.figure()
# fig,ax = plt.subplots(2,sharex=True)
# bins = np.linspace(5,26,20)
# ax[0].hist(events_october['picks'], bins=bins)

# # ax[0].set_xlabel('Number of Picks')
# ax[0].set_ylabel('Number of Events')
# ax[0].set_title('Histogram of Picks vs. the Number of Events')

# ax[1].hist(matched_events_mycatalog['picks'],bins=bins)
# ax[1].set_xlabel('Number of Picks')
# ax[1].set_ylabel('Number of Events')
# ax[1].set_title('Histogram of Matched Events: Picks vs. the Number of Events')

In [ ]:
# Plot the same histogram but overlay the histograms
bins = np.linspace(5,26,20)

plt.hist(events_october['picks'], bins=bins,  
         alpha=0.5, # the transaparency parameter 
         label='Matched Events') 
  
plt.hist(matched_events_mycatalog['picks'], bins=bins,
         alpha=0.5, 
         label='Unmatched events') 
  
plt.legend(loc='upper right') 
plt.title('Picks vs. Number of Events') 
plt.show()

### Histogram: Those matched with Morton (73 events)

In [ ]:
# Plot the histogram of the number of picks for the matched events
plt.figure()
plt.hist(matched_events_mycatalog['picks'],bins=20)
plt.xlabel('Number of Picks')
plt.ylabel('Number of Events')
plt.title('Histogram of Matched Events: Picks vs. the Number of Events')

### Plot the waveforms of one of the matched events

In [ ]:
client = WaveformClient()
client2 = Client("IRIS")

In [ ]:
# Get the list of stations
station_list = ['FS09B',
 'FS13B',
 'FS16B',
 'FS17B',
 'FS20B',
 'G10B',
 'G17B',
 'G19B',
 'G25B',
 'G26B',
 'G27B',
 'J09B',
 'J25B',
 'J33B',
 'M09B',
 'M12B',
 'M14B']

In [ ]:
mycatalog[mycatalog['idx'] == 9]

In [ ]:
mycatalog['station'].unique()

In [ ]:
distances

In [ ]:
distances.keys()

In [ ]:
idx = 0
otime = UTCDateTime(mycatalog['datetime'].unique()[idx])
distances = {}
for i, sta in enumerate(station_list):
    sta_inv = client2.get_stations(network = "7D", station = sta, channel = "?H?", 
                     starttime = otime - 1e4, endtime = otime + 1e4)[0][0]
    slat = sta_inv.latitude
    slon = sta_inv.longitude
    olat = mycatalog['latitude'].unique()[idx]
    olon = mycatalog['longitude'].unique()[idx]

    dis1 = locations2degrees(olat, olon, slat, slon)
    dist = degrees2kilometers(dis1)
    distances[sta] = dist
distances = {k: v for k, v in sorted(distances.items(), key=lambda item: item[1])}
# print(distances.keys())
print(otime)
plt.figure(figsize=(15,10), dpi=150)
for i, sta in enumerate(distances.keys()):
    st = client.get_waveforms(network="7D", station=sta, channel="?H?", year=2012, month=10, day=14)
    st = obspy.Stream(filter(lambda st:st.stats.sampling_rate>10, st))
    st.filter(type='bandpass',freqmin=4,freqmax=15)

    trim_st = st.copy().trim(starttime = otime - 30, 
                endtime = otime + 60)
    if len(trim_st)>0:
        trim_st = trim_st.normalize()
        offsets1  = np.arange(0,len(trim_st))
        offsets2 = np.arange(0,len(station_list)* (len(trim_st)),len(trim_st))

        for ii in range(len(trim_st)):
            plt.plot(trim_st[ii].times(type='utcdatetime'), trim_st[ii].data+offsets1[ii]*0.5+offsets2[i], 
                     color = 'gray', alpha=0.7, lw=0.5)    
        time_pick = [[x['time_pick'], x['phase']] for _, x in mycatalog[mycatalog['idx'] == idx].iterrows() 
                     if x['station'] == sta]
        if len(time_pick) > 0:
            for p in time_pick:
                if p[1] == 'P':
                    plt.vlines(p[0], offsets1[ii]*0.5+offsets2[i]-1, 
                                     offsets1[ii]*0.5+offsets2[i]+1, color='r')
                else:
                    plt.vlines(p[0], offsets1[ii]*0.5+offsets2[i]-1, 
                                     offsets1[ii]*0.5+offsets2[i]+1, color='b')
    else:                 
        pass 
plt.show()

In [ ]:
st = client.get_waveforms(network="7D", station='FS16B', channel="?H?", year=2012, month=10, day=14)
st = obspy.Stream(filter(lambda st:st.stats.sampling_rate>10, st))
st.filter(type='bandpass',freqmin=4,freqmax=15)

trim_st = st.copy().trim(starttime = otime - 30, 
            endtime = otime + 60)
trim_st
st

In [ ]:
otime