## Notebook for formatting data frames for phase association
Source:
1. https://chatgpt.com/

In [20]:
import pandas as pd
import numpy as np
import datetime
import glob
import os

### 1.1 Load the station data frame

In [21]:
stas_2011_or_shelf_trench = pd.read_csv('../data/datasets_2011/stas_2011_or_shelf_trench.csv',index_col=0)
stas_2012_or_shelf_trench = pd.read_csv('../data/datasets_2012/stas_2012_or_shelf_trench.csv',index_col=0)
stas_2013_or_shelf_trench = pd.read_csv('../data/datasets_2013/stas_2013_or_shelf_trench.csv',index_col=0)
stas_2014_or_shelf_trench = pd.read_csv('../data/datasets_2014/stas_2014_or_shelf_trench.csv',index_col=0)
stas_2015_or_shelf_trench = pd.read_csv('../data/datasets_2015/stas_2015_or_shelf_trench.csv',index_col=0)
print(stas_2011_or_shelf_trench)
print(stas_2012_or_shelf_trench)
print(stas_2013_or_shelf_trench)
print(stas_2014_or_shelf_trench)
print(stas_2015_or_shelf_trench)

         id   longitude   latitude  elevation
0  7D.J33A. -124.570801  45.106602     -348.7
1  7D.J41A. -124.537201  45.811901     -175.0
2  7D.J42A. -125.299698  45.933102    -1540.0
3  7D.M08A. -124.895302  44.118698     -126.4
4  7D.M07A. -125.116798  44.898701    -1356.5
5  7D.J25A. -124.621597  44.472900     -142.8
          id   longitude   latitude  elevation
0   7D.J25A. -124.621597  44.472900     -142.8
1   7D.J09B. -124.726997  43.151001     -252.0
2   7D.J42A. -125.299698  45.933102    -1540.0
3   7D.J41A. -124.537201  45.811901     -175.0
4   7D.J25B. -124.621696  44.471298     -147.0
5   7D.M08A. -124.895302  44.118698     -126.4
6   7D.J33B. -124.570602  45.106602     -350.0
7   7D.J18B. -125.466003  44.008301    -3047.0
8   7D.M09B. -125.058899  44.249699     -914.0
9   7D.M07A. -125.116798  44.898701    -1356.5
10  7D.J10B. -125.543503  43.349400    -3093.0
11  7D.J33A. -124.570801  45.106602     -348.7
12  7D.J26A. -125.466400  44.654701    -2864.0
13  7D.M06A. -124.926804  45.529499    -1439.0
14  7D.J34A. -125.414497  45.305698    -2574.0
15  7D.J17B. -124.614799  43.790001     -286.0
          id   longitude   latitude  elevation
0   7D.J09B. -124.726997  43.151001     -252.0
1   7D.J41C. -124.537598  45.811699     -171.0
2   7D.J17B. -124.614799  43.790001     -286.0
3   7D.J34C. -125.415199  45.306999    -2580.0
4   7D.J25B. -124.621696  44.471298     -147.0
5   7D.J18B. -125.466003  44.008301    -3047.0
6   7D.J42C. -125.299103  45.932301    -1550.0
7   7D.J10B. -125.543503  43.349400    -3093.0
8   7D.M05C. -124.934502  46.173500     -837.0
9   7D.J33B. -124.570602  45.106602     -350.0
10  7D.J33C. -124.570801  45.106800     -354.0
11  7D.M06C. -124.926102  45.528702    -1460.0
12  7D.M08C. -124.895401  44.118500     -131.0
13  7D.M09B. -125.058899  44.249699     -914.0
14  7D.J26C. -125.465302  44.653400    -2868.0
15  7D.M07C. -125.116798  44.898800    -1365.0
16  7D.M10B. -124.972801  43.624802     -675.0
17  7D.J25C. -124.621696  44.473000     -144.0
18  7D.M18B. -124.971199  44.887100     -720.0
           id   longitude   latitude  elevation
0    7D.J10D. -125.545097  43.348499    -3085.0
1    7D.M06C. -124.926102  45.528702    -1460.0
2    7D.J26C. -125.465302  44.653400    -2868.0
3    7D.M05C. -124.934502  46.173500     -837.0
4    7D.J33C. -124.570801  45.106800     -354.0
5    7D.J18D. -125.481400  43.977200    -3050.0
6    7D.J34C. -125.415199  45.306999    -2580.0
7    7D.J42C. -125.299103  45.932301    -1550.0
8    7D.J25C. -124.621696  44.473000     -144.0
9    7D.J17D. -124.613403  43.787300     -285.0
10   7D.M08C. -124.895401  44.118500     -131.0
11   7D.J41C. -124.537598  45.811699     -171.0
12   7D.J26D. -125.467003  44.657700    -2880.0
13   7D.J09D. -124.727097  43.151402     -252.0
14  7D.FC03D. -124.738297  44.813301     -432.0
15   7D.J25D. -124.630997  44.456699     -136.0
16   7D.M07C. -125.116798  44.898800    -1365.0
17   7D.M13D. -125.044601  43.597301     -990.0
18  OO.HYS14. -125.147900  44.569157     -775.0
          id   longitude   latitude  elevation
0   7D.J25D. -124.630997  44.456699     -136.0
1  7D.FC03D. -124.738297  44.813301     -432.0
2   7D.J18D. -125.481400  43.977200    -3050.0
3   7D.J09D. -124.727097  43.151402     -252.0
4   7D.J17D. -124.613403  43.787300     -285.0
5  OO.HYS14. -125.147900  44.569157     -775.0
6   7D.J26D. -125.467003  44.657700    -2880.0
7   7D.J10D. -125.545097  43.348499    -3085.0
8   7D.M13D. -125.044601  43.597301     -990.0
9  OO.HYSB1. -125.405258  44.509791    -2908.0

In [22]:
stas_or_shelf_trench = pd.concat([stas_2011_or_shelf_trench,stas_2012_or_shelf_trench,stas_2013_or_shelf_trench,
                           stas_2014_or_shelf_trench,stas_2015_or_shelf_trench],ignore_index=True)
stas_or_shelf_trench = stas_or_shelf_trench.drop_duplicates(subset='id')
stas_or_shelf_trench

           id   longitude   latitude  elevation
0    7D.J33A. -124.570801  45.106602     -348.7
1    7D.J41A. -124.537201  45.811901     -175.0
2    7D.J42A. -125.299698  45.933102    -1540.0
3    7D.M08A. -124.895302  44.118698     -126.4
4    7D.M07A. -125.116798  44.898701    -1356.5
5    7D.J25A. -124.621597  44.472900     -142.8
7    7D.J09B. -124.726997  43.151001     -252.0
10   7D.J25B. -124.621696  44.471298     -147.0
12   7D.J33B. -124.570602  45.106602     -350.0
13   7D.J18B. -125.466003  44.008301    -3047.0
14   7D.M09B. -125.058899  44.249699     -914.0
16   7D.J10B. -125.543503  43.349400    -3093.0
18   7D.J26A. -125.466400  44.654701    -2864.0
19   7D.M06A. -124.926804  45.529499    -1439.0
20   7D.J34A. -125.414497  45.305698    -2574.0
21   7D.J17B. -124.614799  43.790001     -286.0
23   7D.J41C. -124.537598  45.811699     -171.0
25   7D.J34C. -125.415199  45.306999    -2580.0
28   7D.J42C. -125.299103  45.932301    -1550.0
30   7D.M05C. -124.934502  46.173500     -837.0
32   7D.J33C. -124.570801  45.106800     -354.0
33   7D.M06C. -124.926102  45.528702    -1460.0
34   7D.M08C. -124.895401  44.118500     -131.0
36   7D.J26C. -125.465302  44.653400    -2868.0
37   7D.M07C. -125.116798  44.898800    -1365.0
38   7D.M10B. -124.972801  43.624802     -675.0
39   7D.J25C. -124.621696  44.473000     -144.0
40   7D.M18B. -124.971199  44.887100     -720.0
41   7D.J10D. -125.545097  43.348499    -3085.0
46   7D.J18D. -125.481400  43.977200    -3050.0
50   7D.J17D. -124.613403  43.787300     -285.0
53   7D.J26D. -125.467003  44.657700    -2880.0
54   7D.J09D. -124.727097  43.151402     -252.0
55  7D.FC03D. -124.738297  44.813301     -432.0
56   7D.J25D. -124.630997  44.456699     -136.0
58   7D.M13D. -125.044601  43.597301     -990.0
59  OO.HYS14. -125.147900  44.569157     -775.0
69  OO.HYSB1. -125.405258  44.509791    -2908.0

In [23]:
# Create  a csv file
stas_or_shelf_trench.to_csv('../data/datasets_or_shelf_trench/all_stations_or_shelf_trench.csv')

### 1.2 Concatenate data frames from several stations and format

In [4]:
# Gather all the files that we produced in 1_parallel_detect_picks_elep_all_sta
csv_list = glob.glob('../data/picks_201[1-5]/*.csv')

In [5]:
# Print csv_list
csv_list

['../data/picks_2012/PGC_20120125.csv',
 '../data/picks_2012/KSXB_20120105.csv',
 '../data/picks_2012/JCC_20120213.csv',
 '../data/picks_2012/VGZ_20120203.csv',
 '../data/picks_2012/J01D_20120701.csv',
 '../data/picks_2012/LEBA_20120209.csv',
 '../data/picks_2012/FS02B_20121216.csv',
 '../data/picks_2012/J01D_20120216.csv',
 '../data/picks_2012/LEBA_20120906.csv',
 '../data/picks_2012/KHBB_20120312.csv',
 '../data/picks_2012/G25B_20121220.csv',
 '../data/picks_2012/MGB_20120216.csv',
 '../data/picks_2012/J50A_20120510.csv',
 '../data/picks_2012/FN14A_20120614.csv',
 '../data/picks_2012/PFB_20121101.csv',
 '../data/picks_2012/KCT_20120303.csv',
 '../data/picks_2012/KBO_20120301.csv',
 '../data/picks_2012/OZB_20120203.csv',
 '../data/picks_2012/J01D_20120530.csv',
 '../data/picks_2012/J51A_20120227.csv',
 '../data/picks_2012/SHB_20120515.csv',
 '../data/picks_2012/DBO_20121101.csv',
 '../data/picks_2012/FS18B_20121105.csv',
 '../data/picks_2012/LZB_20121122.csv',
 '../data/picks_2012/L02E_20121103.csv',
 '../data/picks_2012/FS06B_20121009.csv',
 '../data/picks_2012/J51A_20120331.csv',
 '../data/picks_2012/J25A_20120409.csv',
 '../data/picks_2012/KEB_20120104.csv',
 '../data/picks_2012/FN01A_20120608.csv',
 '../data/picks_2012/LZB_20120604.csv',
 '../data/picks_2012/KHBB_20120402.csv',
 '../data/picks_2012/FS08B_20121002.csv',
 '../data/picks_2012/G11B_20121031.csv',
 '../data/picks_2012/FN16A_20120216.csv',
 '../data/picks_2012/G33B_20121201.csv',
 '../data/picks_2012/M11B_20120918.csv',
 '../data/picks_2012/M03A_20120613.csv',
 '../data/picks_2012/FN07A_20120421.csv',
 '../data/picks_2012/FS02B_20121224.csv',
 '../data/picks_2012/SHB_20120917.csv',
 '../data/picks_2012/FS09B_20121111.csv',
 '../data/picks_2012/FN12A_20120228.csv',
 '../data/picks_2012/D03D_20120821.csv',
 '../data/picks_2012/HEBO_20120807.csv',
 '../data/picks_2012/D03D_20120210.csv',
 '../data/picks_2012/DBO_20120510.csv',
 '../data/picks_2012/FN07A_20120317.csv',
 '../data/picks_2012/FS02B_20121110.csv',
 '../data/picks_2012/KRP_20120211.csv',
 '../data/picks_2012/KHBB_20120714.csv',
 '../data/picks_2012/J09B_20120907.csv',
 '../data/picks_2012/F04D_20120923.csv',
 '../data/picks_2012/KSXB_20120721.csv',
 '../data/picks_2012/VGZ_20120808.csv',
 '../data/picks_2012/J59A_20120426.csv',
 '../data/picks_2012/I02D_20120709.csv',
 '../data/picks_2012/TAKO_20120419.csv',
 '../data/picks_2012/J01D_20120927.csv',
 '../data/picks_2012/PGC_20120803.csv',
 '../data/picks_2012/J42A_20120315.csv',
 '../data/picks_2012/MEGW_20120108.csv',
 '../data/picks_2012/FS13B_20121105.csv',
 '../data/picks_2012/G34B_20121201.csv',
 '../data/picks_2012/FS01B_20121205.csv',
 '../data/picks_2012/KRMB_20120119.csv',
 '../data/picks_2012/NLLB_20121008.csv',
 '../data/picks_2012/KSXB_20120309.csv',
 '../data/picks_2012/TAKO_20120818.csv',
 '../data/picks_2012/KMPB_20120716.csv',
 '../data/picks_2012/DBO_20120928.csv',
 '../data/picks_2012/PGC_20121216.csv',
 '../data/picks_2012/FS15B_20121227.csv',
 '../data/picks_2012/KRP_20120828.csv',
 '../data/picks_2012/F04D_20120115.csv',
 '../data/picks_2012/FN12A_20120209.csv',
 '../data/picks_2012/HEBO_20120207.csv',
 '../data/picks_2012/J57A_20120130.csv',
 '../data/picks_2012/KHMB_20121122.csv',
 '../data/picks_2012/F04D_20120206.csv',
 '../data/picks_2012/FS19B_20121125.csv',
 '../data/picks_2012/J41A_20120502.csv',
 '../data/picks_2012/LEBA_20120818.csv',
 '../data/picks_2012/KRP_20120319.csv',
 '../data/picks_2012/L02E_20121107.csv',
 '../data/picks_2012/KBO_20120328.csv',
 '../data/picks_2012/KMPB_20120605.csv',
 '../data/picks_2012/KEB_20120215.csv',
 '../data/picks_2012/G19B_20121009.csv',
 '../data/picks_2012/G33B_20121104.csv',
 '../data/picks_2012/FS09B_20121005.csv',
 '../data/picks_2012/JCC_20120131.csv',
 '../data/picks_2012/RADR_20121021.csv',
 '../data/picks_2012/LEBA_20120707.csv',
 '../data/picks_2012/J43A_20120514.csv',
 '../data/picks_2012/FN12A_20120531.csv',
 '../data/picks_2012/FS06B_20121011.csv',
 '../data/picks_2012/J49A_20120410.csv',
 '../data/picks_2012/KEB_20120328.csv',
 '../data/picks_2012/G26B_20121118.csv',
 '../data/picks_2012/J51A_20120313.csv',
 '../data/picks_2012/J25B_20121002.csv',
 '../data/picks_2012/OFR_20120927.csv',
 '../data/picks_2012/DBO_20120122.csv',
 '../data/picks_2012/FS20B_20121024.csv',
 '../data/picks_2012/J42A_20120519.csv',
 '../data/picks_2012/G03D_20120713.csv',
 '../data/picks_2012/DBO_20120606.csv',
 '../data/picks_2012/KCT_20120330.csv',
 '../data/picks_2012/LZB_20120826.csv',
 '../data/picks_2012/KMPB_20120626.csv',
 '../data/picks_2012/G03D_20120721.csv',
 '../data/picks_2012/J73A_20120602.csv',
 '../data/picks_2012/TAKO_20120621.csv',
 '../data/picks_2012/G28B_20121201.csv',
 '../data/picks_2012/LRIV_20121224.csv',
 '../data/picks_2012/FORK_20120124.csv',
 '../data/picks_2012/FS15B_20121015.csv',
 '../data/picks_2012/K02D_20120805.csv',
 '../data/picks_2012/FN07A_20120305.csv',
 '../data/picks_2012/FS02B_20121115.csv',
 '../data/picks_2012/VGZ_20120202.csv',
 '../data/picks_2012/WISH_20120510.csv',
 '../data/picks_2012/SHB_20120628.csv',
 '../data/picks_2012/J17B_20120919.csv',
 '../data/picks_2012/OZB_20120114.csv',
 '../data/picks_2012/G02B_20120910.csv',
 '../data/picks_2012/FORK_20121202.csv',
 '../data/picks_2012/G11B_20120930.csv',
 '../data/picks_2012/FS19B_20121110.csv',
 '../data/picks_2012/FN12A_20120214.csv',
 '../data/picks_2012/M03A_20120326.csv',
 '../data/picks_2012/WISH_20120406.csv',
 '../data/picks_2012/KMPB_20120312.csv',
 '../data/picks_2012/FN07A_20120108.csv',
 '../data/picks_2012/G10B_20121227.csv',
 '../data/picks_2012/BB070_20121010.csv',
 '../data/picks_2012/J50A_20120404.csv',
 '../data/picks_2012/PGC_20120921.csv',
 '../data/picks_2012/RADR_20120708.csv',
 '../data/picks_2012/FISH_20120821.csv',
 '../data/picks_2012/M08A_20120218.csv',
 '../data/picks_2012/G10B_20121031.csv',
 '../data/picks_2012/KEB_20121018.csv',
 '../data/picks_2012/M08A_20120420.csv',
 '../data/picks_2012/J33B_20121218.csv',
 '../data/picks_2012/KMR_20121214.csv',
 '../data/picks_2012/J34A_20120503.csv',
 '../data/picks_2012/FS02B_20121130.csv',
 '../data/picks_2012/FN16A_20120611.csv',
 '../data/picks_2012/FN18A_20120516.csv',
 '../data/picks_2012/L02D_20120220.csv',
 '../data/picks_2012/KMPB_20120416.csv',
 '../data/picks_2012/VGZ_20120621.csv',
 '../data/picks_2012/JCC_20121130.csv',
 '../data/picks_2012/J17B_20120729.csv',
 '../data/picks_2012/M06A_20120427.csv',
 '../data/picks_2012/G26B_20121102.csv',
 '../data/picks_2012/FORK_20121125.csv',
 '../data/picks_2012/RADR_20120817.csv',
 '../data/picks_2012/FS07B_20121003.csv',
 '../data/picks_2012/G03D_20120308.csv',
 '../data/picks_2012/J59A_20120320.csv',
 '../data/picks_2012/BABR_20120629.csv',
 '../data/picks_2012/FN12A_20120520.csv',
 '../data/picks_2012/FORK_20121122.csv',
 '../data/picks_2012/J41A_20120120.csv',
 '../data/picks_2012/J34A_20120712.csv',
 '../data/picks_2012/KRP_20120401.csv',
 '../data/picks_2012/J01D_20120828.csv',
 '../data/picks_2012/LEBA_20120407.csv',
 '../data/picks_2012/FN07A_20120415.csv',
 '../data/picks_2012/FS18B_20121028.csv',
 '../data/picks_2012/FS10B_20121220.csv',
 '../data/picks_2012/SHB_20121219.csv',
 '../data/picks_2012/J59A_20120229.csv',
 '../data/picks_2012/BTB_20120922.csv',
 '../data/picks_2012/J18B_20121225.csv',
 '../data/picks_2012/KRP_20120425.csv',
 '../data/picks_2012/NLLB_20120208.csv',
 '../data/picks_2012/J01D_20120727.csv',
 '../data/picks_2012/M14B_20121230.csv',
 '../data/picks_2012/I02D_20120413.csv',
 '../data/picks_2012/J19B_20121208.csv',
 '../data/picks_2012/KMPB_20120612.csv',
 '../data/picks_2012/J42A_20120702.csv',
 '../data/picks_2012/FN08A_20120525.csv',
 '../data/picks_2012/MEGW_20120204.csv',
 '../data/picks_2012/G02B_20121231.csv',
 '../data/picks_2012/VGZ_20120809.csv',
 '../data/picks_2012/FN01A_20120317.csv',
 '../data/picks_2012/KMR_20120921.csv',
 '../data/picks_2012/M03A_20120520.csv',
 '../data/picks_2012/BABR_20120626.csv',
 '../data/picks_2012/G09B_20121229.csv',
 '../data/picks_2012/WISH_20120908.csv',
 '../data/picks_2012/J17B_20120801.csv',
 '../data/picks_2012/M06A_20120130.csv',
 '../data/picks_2012/M06A_20120128.csv',
 '../data/picks_2012/SNB_20120609.csv',
 '../data/picks_2012/G03D_20120427.csv',
 '../data/picks_2012/KHMB_20120601.csv',
 '../data/picks_2012/J35A_20120408.csv',
 '../data/picks_2012/G36B2_20121210.csv',
 '../data/picks_2012/D03D_20120607.csv',
 '../data/picks_2012/NLLB_20121121.csv',
 '../data/picks_2012/TAKO_20120118.csv',
 '../data/picks_2012/FN16A_20120227.csv',
 '../data/picks_2012/KSXB_20120125.csv',
 '../data/picks_2012/M18B_20120820.csv',
 '../data/picks_2012/J57A_20120428.csv',
 '../data/picks_2012/BTB_20120914.csv',
 '../data/picks_2012/BB030_20120924.csv',
 '../data/picks_2012/BABR_20121110.csv',
 '../data/picks_2012/M11B_20121120.csv',
 '../data/picks_2012/G19B_20121224.csv',
 '../data/picks_2012/K02D_20120726.csv',
 '../data/picks_2012/J65A_20120102.csv',
 '../data/picks_2012/J11B_20121202.csv',
 '../data/picks_2012/J57A_20120222.csv',
 '../data/picks_2012/J57A_20120710.csv',
 '../data/picks_2012/G03A_20120331.csv',
 '../data/picks_2012/FS15B_20121130.csv',
 '../data/picks_2012/J58A_20120531.csv',
 '../data/picks_2012/J59A_20120531.csv',
 '../data/picks_2012/M09B_20121213.csv',
 '../data/picks_2012/I02D_20120918.csv',
 '../data/picks_2012/PFB_20121219.csv',
 '../data/picks_2012/G03D_20120404.csv',
 '../data/picks_2012/J19B_20120908.csv',
 '../data/picks_2012/MGB_20120809.csv',
 '../data/picks_2012/BB070_20121214.csv',
 '../data/picks_2012/FN16A_20120713.csv',
 '../data/picks_2012/FN07A_20120308.csv',
 '../data/picks_2012/BB070_20121216.csv',
 '../data/picks_2012/M06A_20120612.csv',
 '../data/picks_2012/J50A_20120413.csv',
 '../data/picks_2012/FISH_20120518.csv',
 '../data/picks_2012/LZB_20120910.csv',
 '../data/picks_2012/I03D_20121014.csv',
 '../data/picks_2012/J01D_20120208.csv',
 '../data/picks_2012/J58A_20120201.csv',
 '../data/picks_2012/M13B_20121014.csv',
 '../data/picks_2012/G36B2_20120915.csv',
 '../data/picks_2012/FS17B_20121124.csv',
 '../data/picks_2012/BB030_20121121.csv',
 '../data/picks_2012/FISH_20121201.csv',
 '../data/picks_2012/YOUB_20120912.csv',
 '../data/picks_2012/KBO_20120325.csv',
 '../data/picks_2012/J25A_20120316.csv',
 '../data/picks_2012/RADR_20120302.csv',
 '../data/picks_2012/BB090_20121120.csv',
 '../data/picks_2012/D03D_20120707.csv',
 '../data/picks_2012/M13B_20120925.csv',
 '../data/picks_2012/FN08A_20120622.csv',
 '../data/picks_2012/I02D_20120426.csv',
 '../data/picks_2012/KHBB_20120131.csv',
 '../data/picks_2012/I03D_20121120.csv',
 '../data/picks_2012/YOUB_20121127.csv',
 '../data/picks_2012/SHB_20121229.csv',
 '../data/picks_2012/KHMB_20121210.csv',
 '../data/picks_2012/KHMB_20120323.csv',
 '../data/picks_2012/J25A_20120705.csv',
 '../data/picks_2012/KRP_20121013.csv',
 '../data/picks_2012/BABR_20120104.csv',
 '../data/picks_2012/SHB_20120508.csv',
 '../data/picks_2012/G02B_20121221.csv',
 '../data/picks_2012/G18B_20121123.csv',
 '../data/picks_2012/NLLB_20120618.csv',
 '../data/picks_2012/BTB_20120904.csv',
 '../data/picks_2012/WISH_20121214.csv',
 '../data/picks_2012/FN01A_20120628.csv',
 '../data/picks_2012/NCBC_20120731.csv',
 '../data/picks_2012/KMPB_20120814.csv',
 '../data/picks_2012/L02D_20120404.csv',
 '../data/picks_2012/BABR_20120401.csv',
 '../data/picks_2012/FS12B_20121201.csv',
 '../data/picks_2012/J58A_20120624.csv',
 '../data/picks_2012/G18B_20121126.csv',
 '../data/picks_2012/KHMB_20121220.csv',
 '../data/picks_2012/TAKO_20120113.csv',
 '../data/picks_2012/M06A_20120403.csv',
 '../data/picks_2012/RADR_20120115.csv',
 '../data/picks_2012/J65A_20120207.csv',
 '../data/picks_2012/F04D_20120805.csv',
 '../data/picks_2012/G03B_20120924.csv',
 '../data/picks_2012/KMR_20120622.csv',
 '../data/picks_2012/BABR_20120520.csv',
 '../data/picks_2012/M14B_20121113.csv',
 '../data/picks_2012/G25B_20121109.csv',
 '../data/picks_2012/G28B_20121002.csv',
 '../data/picks_2012/BABR_20121201.csv',
 '../data/picks_2012/WISH_20120520.csv',
 '../data/picks_2012/J49A_20120317.csv',
 '../data/picks_2012/FS08B_20121129.csv',
 '../data/picks_2012/PGC_20121123.csv',
 '../data/picks_2012/FN18A_20120527.csv',
 '../data/picks_2012/KHMB_20120925.csv',
 '../data/picks_2012/M02A_20120525.csv',
 '../data/picks_2012/G17B_20121228.csv',
 '../data/picks_2012/J73A_20120630.csv',
 '../data/picks_2012/F04D_20121218.csv',
 '../data/picks_2012/J18B_20121118.csv',
 '../data/picks_2012/FS01B_20121130.csv',
 '../data/picks_2012/J59A_20120105.csv',
 '../data/picks_2012/KMPB_20120512.csv',
 '../data/picks_2012/I02D_20121122.csv',
 '../data/picks_2012/G04B_20121207.csv',
 '../data/picks_2012/DBO_20120202.csv',
 '../data/picks_2012/FS06B_20121231.csv',
 '../data/picks_2012/TAKO_20120816.csv',
 '../data/picks_2012/G17B_20121215.csv',
 '../data/picks_2012/LEBA_20120606.csv',
 '../data/picks_2012/KEB_20120611.csv',
 '../data/picks_2012/J33B_20120902.csv',
 '../data/picks_2012/FS02B_20121206.csv',
 '../data/picks_2012/M11B_20121112.csv',
 '../data/picks_2012/SNB_20120731.csv',
 '../data/picks_2012/KMR_20121015.csv',
 '../data/picks_2012/J01E_20121209.csv',
 '../data/picks_2012/JEDS_20120220.csv',
 '../data/picks_2012/FS03B_20121028.csv',
 '../data/picks_2012/M13B_20121107.csv',
 '../data/picks_2012/M06A_20120320.csv',
 '../data/picks_2012/OZB_20120220.csv',
 '../data/picks_2012/FS07B_20121112.csv',
 '../data/picks_2012/M14B_20121214.csv',
 '../data/picks_2012/YOUB_20121203.csv',
 '../data/picks_2012/FS12B_20121022.csv',
 '../data/picks_2012/KHBB_20120330.csv',
 '../data/picks_2012/G28B_20121103.csv',
 '../data/picks_2012/VGZ_20121222.csv',
 '../data/picks_2012/FISH_20120401.csv',
 '../data/picks_2012/OFR_20120923.csv',
 '../data/picks_2012/G03D_20121007.csv',
 '../data/picks_2012/FS13B_20121003.csv',
 '../data/picks_2012/L02D_20120304.csv',
 '../data/picks_2012/J01D_20120305.csv',
 '../data/picks_2012/NLLB_20120814.csv',
 '../data/picks_2012/FS15B_20121011.csv',
 '../data/picks_2012/FS15B_20121024.csv',
 '../data/picks_2012/FS04B_20121211.csv',
 '../data/picks_2012/G03A_20120403.csv',
 '../data/picks_2012/KMR_20121212.csv',
 '../data/picks_2012/J57A_20120607.csv',
 '../data/picks_2012/M18B_20121224.csv',
 '../data/picks_2012/J26A_20120609.csv',
 '../data/picks_2012/KEB_20120321.csv',
 '../data/picks_2012/J41A_20120318.csv',
 '../data/picks_2012/G34B_20121106.csv',
 '../data/picks_2012/J33B_20121004.csv',
 '../data/picks_2012/LZB_20120628.csv',
 '../data/picks_2012/PGC_20121030.csv',
 '../data/picks_2012/KBO_20120602.csv',
 '../data/picks_2012/G36B2_20121227.csv',
 '../data/picks_2012/F04D_20120609.csv',
 '../data/picks_2012/KEB_20120311.csv',
 '../data/picks_2012/J25B_20121030.csv',
 '../data/picks_2012/G17B_20121005.csv',
 '../data/picks_2012/OFR_20120816.csv',
 '../data/picks_2012/FISH_20120508.csv',
 '../data/picks_2012/OFR_20120710.csv',
 '../data/picks_2012/J09B_20121018.csv',
 '../data/picks_2012/SHB_20120426.csv',
 '../data/picks_2012/KSXB_20120208.csv',
 '../data/picks_2012/J26A_20120216.csv',
 '../data/picks_2012/HEBO_20120506.csv',
 '../data/picks_2012/J27B_20120908.csv',
 '../data/picks_2012/J57A_20120228.csv',
 '../data/picks_2012/NC89_20121231.csv',
 '../data/picks_2012/LEBA_20120715.csv',
 '../data/picks_2012/I02D_20120220.csv',
 '../data/picks_2012/G03A_20120301.csv',
 '../data/picks_2012/J11B_20121106.csv',
 '../data/picks_2012/FS15B_20121224.csv',
 '../data/picks_2012/I02D_20121020.csv',
 '../data/picks_2012/KRMB_20120430.csv',
 '../data/picks_2012/M07A_20120420.csv',
 '../data/picks_2012/JCC_20120307.csv',
 '../data/picks_2012/KBO_20120329.csv',
 '../data/picks_2012/KMR_20120818.csv',
 '../data/picks_2012/M18B_20120723.csv',
 '../data/picks_2012/FISH_20120310.csv',
 '../data/picks_2012/HEBO_20120429.csv',
 '../data/picks_2012/J65A_20120426.csv',
 '../data/picks_2012/HEBO_20120707.csv',
 '../data/picks_2012/OFR_20121226.csv',
 '../data/picks_2012/G03D_20120915.csv',
 '../data/picks_2012/SNB_20120309.csv',
 '../data/picks_2012/J09B_20121223.csv',
 '../data/picks_2012/J57A_20120616.csv',
 '../data/picks_2012/KHBB_20120210.csv',
 '../data/picks_2012/D03D_20120830.csv',
 '../data/picks_2012/G25B_20121104.csv',
 '../data/picks_2012/FN18A_20120216.csv',
 '../data/picks_2012/FISH_20120408.csv',
 '../data/picks_2012/FN18A_20120107.csv',
 '../data/picks_2012/KEB_20121116.csv',
 '../data/picks_2012/FS16B_20121227.csv',
 '../data/picks_2012/PFB_20120308.csv',
 '../data/picks_2012/M06A_20120229.csv',
 '../data/picks_2012/KMR_20120912.csv',
 '../data/picks_2012/I02D_20121105.csv',
 '../data/picks_2012/KHMB_20120311.csv',
 '../data/picks_2012/M06A_20120116.csv',
 '../data/picks_2012/FS04B_20120920.csv',
 '../data/picks_2012/M01A_20120222.csv',
 '../data/picks_2012/M18B_20120924.csv',
 '../data/picks_2012/MEGW_20120320.csv',
 '../data/picks_2012/I02D_20120401.csv',
 '../data/picks_2012/DBO_20121212.csv',
 '../data/picks_2012/KRP_20120909.csv',
 '../data/picks_2012/FN16A_20120131.csv',
 '../data/picks_2012/KEB_20120320.csv',
 '../data/picks_2012/TAKO_20120605.csv',
 '../data/picks_2012/SNB_20120414.csv',
 '../data/picks_2012/J58A_20120414.csv',
 '../data/picks_2012/SHB_20120914.csv',
 '../data/picks_2012/DBO_20120630.csv',
 '../data/picks_2012/M12B_20120925.csv',
 '../data/picks_2012/G02B_20121028.csv',
 '../data/picks_2012/J73A_20120311.csv',
 '../data/picks_2012/KHBB_20121007.csv',
 '../data/picks_2012/G11B_20121004.csv',
 '../data/picks_2012/DBO_20120307.csv',
 '../data/picks_2012/G36B2_20121029.csv',
 '../data/picks_2012/M09B_20120909.csv',
 '../data/picks_2012/J17B_20121017.csv',
 '../data/picks_2012/FORK_20120615.csv',
 '../data/picks_2012/J01D_20120823.csv',
 '../data/picks_2012/KMPB_20121231.csv',
 '../data/picks_2012/NLLB_20120331.csv',
 '../data/picks_2012/G09B_20121128.csv',
 '../data/picks_2012/M18B_20121220.csv',
 '../data/picks_2012/F04D_20120416.csv',
 '../data/picks_2012/FISH_20120323.csv',
 '../data/picks_2012/G04B_20120912.csv',
 '../data/picks_2012/J01D_20120716.csv',
 '../data/picks_2012/M18B_20121215.csv',
 '../data/picks_2012/J25B_20121124.csv',
 '../data/picks_2012/KHBB_20120806.csv',
 '../data/picks_2012/J49A_20120601.csv',
 '../data/picks_2012/KSXB_20120317.csv',
 '../data/picks_2012/BTB_20120912.csv',
 '../data/picks_2012/KHBB_20120421.csv',
 '../data/picks_2012/JCC_20120116.csv',
 '../data/picks_2012/M06A_20120528.csv',
 '../data/picks_2012/J26A_20120215.csv',
 '../data/picks_2012/PGC_20121229.csv',
 '../data/picks_2012/G03D_20121112.csv',
 '../data/picks_2012/KMR_20120625.csv',
 '../data/picks_2012/KMPB_20120402.csv',
 '../data/picks_2012/I03D_20120215.csv',
 '../data/picks_2012/WISH_20120805.csv',
 '../data/picks_2012/J11B_20121115.csv',
 '../data/picks_2012/OFR_20120318.csv',
 '../data/picks_2012/FORK_20120519.csv',
 '../data/picks_2012/J19B_20121015.csv',
 '../data/picks_2012/F04D_20121105.csv',
 '../data/picks_2012/KHMB_20120325.csv',
 '../data/picks_2012/NLLB_20120918.csv',
 '../data/picks_2012/SNB_20121222.csv',
 '../data/picks_2012/J41A_20120213.csv',
 '../data/picks_2012/J01D_20120219.csv',
 '../data/picks_2012/LZB_20121217.csv',
 '../data/picks_2012/JCC_20120401.csv',
 '../data/picks_2012/I03D_20120626.csv',
 '../data/picks_2012/D03D_20121110.csv',
 '../data/picks_2012/KCT_20120315.csv',
 '../data/picks_2012/I03D_20121104.csv',
 '../data/picks_2012/FS20B_20121104.csv',
 '../data/picks_2012/JCC_20120330.csv',
 '../data/picks_2012/VGZ_20120921.csv',
 '../data/picks_2012/LRIV_20120306.csv',
 '../data/picks_2012/J42A_20120418.csv',
 '../data/picks_2012/G03D_20120724.csv',
 '../data/picks_2012/J17B_20121008.csv',
 '../data/picks_2012/FS10B_20121212.csv',
 '../data/picks_2012/KMR_20120915.csv',
 '../data/picks_2012/M01A_20120627.csv',
 '../data/picks_2012/KHMB_20120921.csv',
 '../data/picks_2012/L02E_20121117.csv',
 '../data/picks_2012/J17B_20121102.csv',
 '../data/picks_2012/MEGW_20120618.csv',
 '../data/picks_2012/BABR_20121127.csv',
 '../data/picks_2012/SNB_20120619.csv',
 '../data/picks_2012/FN12A_20120417.csv',
 '../data/picks_2012/FN16A_20120404.csv',

In [6]:
len(csv_list)

134423

In [7]:
#  Concatenate all the picks in all the files produced in 1_parallel_detect_picks_elep_all_sta
all_csv =[]


for i in csv_list:
    temp = pd.read_csv(i,index_col=0)
    all_csv.append(temp)
    
df = pd.concat(all_csv, axis=0)

/tmp/ipykernel_3351465/3549658960.py:9: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df = pd.concat(all_csv, axis=0)
/tmp/ipykernel_3351465/3549658960.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(all_csv, axis=0)

In [8]:
# Print df
df[0:10]

,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,trace_name,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival
0,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T06:10:29.225000Z
1,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T06:46:04.625000Z
2,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T07:00:06.025000Z
3,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T07:07:06.925000Z
4,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T08:05:24.075000Z
5,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T08:14:16.350000Z
6,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T10:52:11.925000Z
7,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T11:23:25.800000Z
8,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T11:55:23.950000Z
9,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T12:25:08.800000Z

In [9]:
len(df)

23571109

In [10]:
df = df[df['station_code'].isin(list(stas_or_shelf_trench['id']))]

In [11]:
len(df['station_code'].drop_duplicates())

0

In [12]:
len(df)

0

In [13]:
# df.to_csv('../data/datasets_all_years/all_picks_all_years_pnsn_jdf_for_picking.csv')

In [14]:
# Remove picks with the following stations due to the noise: 'FN05A', 'YOUB' and 'MGB'
df = df[~df['station_code'].isin(['FN05A', 'YOUB', 'MGB'])]

In [15]:
# # Remove picks with the following stations due to the noise: 'FN05A', 'YOUB' and 'MGB'
# df = df[~df['station_code'].isin(['FN05A', 'YOUB', 'MGB','FN14A','FN07A','J41A','J49A',
# 'J25B','J33B','FN18A','FN08A','M09B','G17B'])]

In [16]:
# # Remove picks with the following stations due to the noise
# df = df[~df['station_code'].isin(['FN05A', 'YOUB', 'MGB',
#                                   'J41A','J33B','M09B','FN01A','FN08A',
#                                   'FN12A','FN18A','J26A','J34A', 'J41A',
#                                   'M02A','FS03B','FS05B','FS08B','G33B',
#                                   'J17B','M10B','M13B','M18B'
#                                  ])]

In [17]:
len(df)

0

In [18]:
df.to_csv('../data/datasets_or_shelf_trench/all_picks_all_years_for_assoc_or_shelf_trench.csv')

### 1.3 Create a CSV file for picks for the association

In [19]:
# Assign P to P phases in the df
p_phase = df.loc[df['trace_p_arrival'].notna(), 'phase'] = "P"

ValueError: cannot set a frame with no defined index and a scalar

In [20]:
# Filter the df 
p_stas_picks_phase = df.loc[df['trace_p_arrival'].notna(), ['station_code','trace_p_arrival','phase']]
p_stas_picks_phase

    station_code              trace_p_arrival phase
0           M07A  2012-01-01T08:36:06.723600Z     P
1           M07A  2012-01-01T08:38:20.143600Z     P
2           M07A  2012-01-01T08:55:35.863600Z     P
3           M07A  2012-01-01T09:01:00.963600Z     P
4           M07A  2012-01-01T09:07:24.023600Z     P
..           ...                          ...   ...
270         J41A  2011-08-13T23:49:29.487000Z     P
271         J41A  2011-08-13T23:50:06.543000Z     P
272         J41A  2011-08-13T23:50:19.087000Z     P
273         J41A  2011-08-13T23:53:07.623000Z     P
274         J41A  2011-08-13T23:54:21.583000Z     P

[1892169 rows x 3 columns]

In [21]:
# Rename the df
_p_stas_picks_phase = p_stas_picks_phase.rename(columns={"station_code": "station", "trace_p_arrival": "time"})
_p_stas_picks_phase

    station                         time phase
0      M07A  2012-01-01T08:36:06.723600Z     P
1      M07A  2012-01-01T08:38:20.143600Z     P
2      M07A  2012-01-01T08:55:35.863600Z     P
3      M07A  2012-01-01T09:01:00.963600Z     P
4      M07A  2012-01-01T09:07:24.023600Z     P
..      ...                          ...   ...
270    J41A  2011-08-13T23:49:29.487000Z     P
271    J41A  2011-08-13T23:50:06.543000Z     P
272    J41A  2011-08-13T23:50:19.087000Z     P
273    J41A  2011-08-13T23:53:07.623000Z     P
274    J41A  2011-08-13T23:54:21.583000Z     P

[1892169 rows x 3 columns]

In [22]:
# Assign S to S phases in the df
s_phase = df.loc[df['trace_s_arrival'].notna(), 'phase'] = "S"# Filter the df

In [23]:
# Filter the df 
s_stas_picks_phase = df.loc[df['trace_s_arrival'].notna(), ['station_code','trace_s_arrival','phase']]
s_stas_picks_phase

    station_code              trace_s_arrival phase
77          M07A  2012-01-01T02:07:33.703600Z     S
78          M07A  2012-01-01T03:49:30.203600Z     S
79          M07A  2012-01-01T04:29:26.863600Z     S
80          M07A  2012-01-01T05:19:27.743600Z     S
81          M07A  2012-01-01T16:05:50.363600Z     S
..           ...                          ...   ...
510         J41A  2011-08-13T23:30:09.743000Z     S
511         J41A  2011-08-13T23:34:30.911000Z     S
512         J41A  2011-08-13T23:37:23.287000Z     S
513         J41A  2011-08-13T23:50:19.039000Z     S
514         J41A  2011-08-13T23:53:30.703000Z     S

[1768284 rows x 3 columns]

In [24]:
# Rename the df
_s_stas_picks_phase = s_stas_picks_phase.rename(columns={"station_code": "station", "trace_s_arrival": "time"})
_s_stas_picks_phase

    station                         time phase
77     M07A  2012-01-01T02:07:33.703600Z     S
78     M07A  2012-01-01T03:49:30.203600Z     S
79     M07A  2012-01-01T04:29:26.863600Z     S
80     M07A  2012-01-01T05:19:27.743600Z     S
81     M07A  2012-01-01T16:05:50.363600Z     S
..      ...                          ...   ...
510    J41A  2011-08-13T23:30:09.743000Z     S
511    J41A  2011-08-13T23:34:30.911000Z     S
512    J41A  2011-08-13T23:37:23.287000Z     S
513    J41A  2011-08-13T23:50:19.039000Z     S
514    J41A  2011-08-13T23:53:30.703000Z     S

[1768284 rows x 3 columns]

In [25]:
# Concatenate the P and S picks
picks = pd.concat(objs = [_p_stas_picks_phase,_s_stas_picks_phase] , axis=0)
picks

    station                         time phase
0      M07A  2012-01-01T08:36:06.723600Z     P
1      M07A  2012-01-01T08:38:20.143600Z     P
2      M07A  2012-01-01T08:55:35.863600Z     P
3      M07A  2012-01-01T09:01:00.963600Z     P
4      M07A  2012-01-01T09:07:24.023600Z     P
..      ...                          ...   ...
510    J41A  2011-08-13T23:30:09.743000Z     S
511    J41A  2011-08-13T23:34:30.911000Z     S
512    J41A  2011-08-13T23:37:23.287000Z     S
513    J41A  2011-08-13T23:50:19.039000Z     S
514    J41A  2011-08-13T23:53:30.703000Z     S

[3660453 rows x 3 columns]

In [26]:
# Swap the time and phase columns
picks = picks.iloc[:,[0,2,1]]
picks = picks.reset_index(drop=True)
picks

        station phase                         time
0          M07A     P  2012-01-01T08:36:06.723600Z
1          M07A     P  2012-01-01T08:38:20.143600Z
2          M07A     P  2012-01-01T08:55:35.863600Z
3          M07A     P  2012-01-01T09:01:00.963600Z
4          M07A     P  2012-01-01T09:07:24.023600Z
...         ...   ...                          ...
3660448    J41A     S  2011-08-13T23:30:09.743000Z
3660449    J41A     S  2011-08-13T23:34:30.911000Z
3660450    J41A     S  2011-08-13T23:37:23.287000Z
3660451    J41A     S  2011-08-13T23:50:19.039000Z
3660452    J41A     S  2011-08-13T23:53:30.703000Z

[3660453 rows x 3 columns]

In [27]:
picks[0:20]

   station phase                         time
0     M07A     P  2012-01-01T08:36:06.723600Z
1     M07A     P  2012-01-01T08:38:20.143600Z
2     M07A     P  2012-01-01T08:55:35.863600Z
3     M07A     P  2012-01-01T09:01:00.963600Z
4     M07A     P  2012-01-01T09:07:24.023600Z
5     M07A     P  2012-01-01T13:11:54.643600Z
6     M07A     P  2012-01-01T13:18:33.083600Z
7     M07A     P  2012-01-01T13:35:59.083600Z
8     M07A     P  2012-01-01T15:59:24.903600Z
9     M07A     P  2012-01-01T16:03:15.703600Z
10    M07A     P  2012-01-01T16:17:49.563600Z
11    M07A     P  2012-01-01T16:30:58.343600Z
12    M07A     P  2012-01-01T17:09:29.563600Z
13    M07A     P  2012-01-01T17:13:48.923600Z
14    M07A     P  2012-01-01T17:16:58.903600Z
15    M07A     P  2012-01-01T17:58:59.183600Z
16    M07A     P  2012-01-01T18:03:45.923600Z
17    M07A     P  2012-01-01T18:04:49.403600Z
18    M07A     P  2012-01-01T18:16:01.463600Z
19    M07A     P  2012-01-01T18:16:38.583600Z

In [28]:
# Save the these picks to the data folder
picks.to_csv("../data/datasets_or_shelf_trench/picks_or_shelf_trench.csv")

## 2. Create the stations data frame

In [29]:
# Print the stations for which the picks were detected in 1_parallel_detect_picks_elep_all_sta 
stations = df.drop_duplicates(subset='station_code')
stations

,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,trace_name,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival,phase
0,,,7D,,M07A,NaN,44.898701,-125.116798,-1356.5,,50.000000,2012-01-01T00:00:00.003600Z,,,,,,NaN,2012-01-01T08:36:06.723600Z,P
0,,,7D,,J33A,NaN,45.106602,-124.570801,-348.7,,50.000000,2012-01-01T00:00:00.002200Z,,,,,,NaN,2012-01-01T00:41:01.882200Z,P
0,,,7D,,M08A,NaN,44.118698,-124.895302,-126.4,,50.000000,2012-01-01T00:00:00.001400Z,,,,,,NaN,2012-01-01T01:33:16.921400Z,P
0,,,7D,,J25A,NaN,44.472900,-124.621597,-142.8,,50.000000,2012-01-01T00:00:00.007000Z,,,,,,NaN,2012-01-01T00:14:59.747000Z,P
0,,,7D,,J41A,NaN,45.811901,-124.537201,-175.0,,125.000000,2012-01-01T00:00:00.005000Z,,,,,,NaN,2012-01-01T00:02:20.589000Z,P
0,,,7D,,J42A,NaN,45.933102,-125.299698,-1540.0,,125.000000,2012-01-01T00:00:00.004000Z,,,,,,NaN,2012-01-01T00:08:55.844000Z,P
0,,,7D,,J09B,NaN,43.151001,-124.726997,-252.0,,50.000000,2012-09-07T00:00:00.008051Z,,,,,,NaN,2012-09-07T00:23:40.688051Z,P
0,,,7D,,J25B,NaN,44.471298,-124.621696,-147.0,,125.000000,2012-10-02T00:00:00.000000Z,,,,,,NaN,2012-10-02T00:06:18.776000Z,P
0,,,7D,,J33B,NaN,45.106602,-124.570602,-350.0,,125.000000,2012-12-18T00:00:00.003100Z,,,,,,NaN,2012-12-18T00:01:10.075100Z,P
0,,,7D,,J18B,NaN,44.008301,-125.466003,-3047.0,,50.000000,2012-12-25T00:00:00.012076Z,,,,,,NaN,2012-12-25T07:31:16.732076Z,P
0,,,7D,,M09B,NaN,44.249699,-125.058899,-914.0,,125.000000,2012-12-13T00:00:00.007800Z,,,,,,NaN,2012-12-13T00:01:00.407800Z,P
0,,,7D,,J10B,NaN,43.349400,-125.543503,-3093.0,,50.000000,2012-10-09T00:00:00.002509Z,,,,,,NaN,2012-10-09T00:42:24.562509Z,P
0,,,7D,,M06A,NaN,45.529499,-124.926804,-1439.0,,125.000000,2012-06-13T00:00:00.007000Z,,,,,,NaN,2012-06-13T03:18:48.535000Z,P
0,,,7D,,J17B,NaN,43.790001,-124.614799,-286.0,,124.999992,2012-12-23T00:00:00.006700Z,,,,,,NaN,2012-12-23T12:32:42.241456Z,P
0,,,7D,,J10D,NaN,43.348499,-125.545097,-3085.0,,125.000008,2014-10-05T00:00:00.003000Z,,,,,,NaN,2014-10-05T00:00:09.850999Z,P
0,,,7D,,M06C,NaN,45.528702,-124.926102,-1460.0,,124.999992,2014-01-28T00:00:00.003700Z,,,,,,NaN,2014-01-28T00:01:35.275706Z,P
0,,,7D,,J26C,NaN,44.653400,-125.465302,-2868.0,,125.000000,2014-06-01T00:00:00.000400Z,,,,,,NaN,2014-06-01T00:12:38.312400Z,P
0,,,7D,,M05C,NaN,46.173500,-124.934502,-837.0,,50.000000,2014-04-13T00:00:00.012536Z,,,,,,NaN,2014-04-13T00:06:14.812536Z,P
0,,,7D,,J33C,NaN,45.106800,-124.570801,-354.0,,50.000000,2014-01-27T00:00:00.006003Z,,,,,,NaN,2014-01-27T00:05:30.406003Z,P
0,,,7D,,J18D,NaN,43.977200,-125.481400,-3050.0,,124.999985,2014-09-23T00:00:00.004700Z,,,,,,NaN,2014-09-23T00:22:20.876864Z,P
0,,,7D,,J34C,NaN,45.306999,-125.415199,-2580.0,,125.000000,2014-01-02T00:00:00.004100Z,,,,,,NaN,2014-01-02T00:08:08.244100Z,P
0,,,7D,,J42C,NaN,45.932301,-125.299103,-1550.0,,125.000000,2014-04-23T00:00:00.004500Z,,,,,,NaN,2014-04-23T00:22:35.956500Z,P
0,,,7D,,J25C,NaN,44.473000,-124.621696,-144.0,,50.000000,2014-03-29T00:00:00.011536Z,,,,,,NaN,2014-03-29T00:36:18.311536Z,P
0,,,7D,,J17D,NaN,43.787300,-124.613403,-285.0,,125.000000,2014-10-29T00:00:00.002400Z,,,,,,NaN,2014-10-29T00:00:14.098400Z,P
0,,,7D,,M08C,NaN,44.118500,-124.895401,-131.0,,50.000000,2014-03-10T00:00:00.012111Z,,,,,,NaN,2014-03-10T04:29:51.392111Z,P
0,,,7D,,J41C,NaN,45.811699,-124.537598,-171.0,,125.000000,2014-06-05T00:00:00.002600Z,,,,,,NaN,2014-06-05T01:26:47.666600Z,P
0,,,7D,,J26D,NaN,44.657700,-125.467003,-2880.0,,125.000000,2014-09-12T00:00:00.001900Z,,,,,,NaN,2014-09-12T01:40:00.441900Z,P
0,,,7D,,J09D,NaN,43.151402,-124.727097,-252.0,,125.000000,2014-12-30T00:00:00.000000Z,,,,,,NaN,2014-12-30T00:01:32.248000Z,P
0,,,7D,,FC03D,NaN,44.813301,-124.738297,-432.0,,125.000000,2014-12-07T00:00:00.004500Z,,,,,,NaN,2014-12-07T00:18:57.580500Z,P
0,,,7D,,J25D,NaN,44.456699,-124.630997,-136.0,,125.000000,2014-11-03T00:00:00.004600Z,,,,,,NaN,2014-11-03T00:06:17.748600Z,P
0,,,7D,,M07C,NaN,44.898800,-125.116798,-1365.0,,50.000000,2014-01-11T00:00:00.017352Z,,,,,,NaN,2014-01-11T12:30:03.677352Z,P
0,,,7D,,M13D,NaN,43.597301,-125.044601,-990.0,,125.000000,2014-12-21T00:00:00.003300Z,,,,,,NaN,2014-12-21T22:12:02.763300Z,P
0,,,OO,,HYS14,NaN,44.569157,-125.147900,-775.0,,200.000000,2014-12-31T00:06:20.630000Z,,,,,,NaN,2014-12-31T00:09:06.175000Z,P
0,,,OO,,HYSB1,NaN,44.509791,-125.405258,-2908.0,,200.000031,2015-12-28T00:00:00.000000Z,,,,,,NaN,2015-12-28T00:00:44.974993Z,P
0,,,7D,,M10B,NaN,43.624802,-124.972801,-675.0,,125.000008,2013-03-11T00:00:00.005500Z,,,,,,NaN,2013-03-11T05:52:25.780209Z,P
0,,,7D,,M18B,NaN,44.887100,-124.971199,-720.0,,125.000000,2013-03-11T00:00:00.000700Z,,,,,,NaN,2013-03-11T14:02:47.560700Z,P

In [30]:
# Obtain only the columns you need for assoication
_stations = stations.iloc[:,[4,7,6,8]]
_stations

,station_code,station_longitude_deg,station_latitude_deg,station_elevation_m
0,M07A,-125.116798,44.898701,-1356.5
0,J33A,-124.570801,45.106602,-348.7
0,M08A,-124.895302,44.118698,-126.4
0,J25A,-124.621597,44.472900,-142.8
0,J41A,-124.537201,45.811901,-175.0
0,J42A,-125.299698,45.933102,-1540.0
0,J09B,-124.726997,43.151001,-252.0
0,J25B,-124.621696,44.471298,-147.0
0,J33B,-124.570602,45.106602,-350.0
0,J18B,-125.466003,44.008301,-3047.0
0,M09B,-125.058899,44.249699,-914.0
0,J10B,-125.543503,43.349400,-3093.0
0,M06A,-124.926804,45.529499,-1439.0
0,J17B,-124.614799,43.790001,-286.0
0,J10D,-125.545097,43.348499,-3085.0
0,M06C,-124.926102,45.528702,-1460.0
0,J26C,-125.465302,44.653400,-2868.0
0,M05C,-124.934502,46.173500,-837.0
0,J33C,-124.570801,45.106800,-354.0
0,J18D,-125.481400,43.977200,-3050.0
0,J34C,-125.415199,45.306999,-2580.0
0,J42C,-125.299103,45.932301,-1550.0
0,J25C,-124.621696,44.473000,-144.0
0,J17D,-124.613403,43.787300,-285.0
0,M08C,-124.895401,44.118500,-131.0
0,J41C,-124.537598,45.811699,-171.0
0,J26D,-125.467003,44.657700,-2880.0
0,J09D,-124.727097,43.151402,-252.0
0,FC03D,-124.738297,44.813301,-432.0
0,J25D,-124.630997,44.456699,-136.0
0,M07C,-125.116798,44.898800,-1365.0
0,M13D,-125.044601,43.597301,-990.0
0,HYS14,-125.147900,44.569157,-775.0
0,HYSB1,-125.405258,44.509791,-2908.0
0,M10B,-124.972801,43.624802,-675.0
0,M18B,-124.971199,44.887100,-720.0

In [31]:
# Rename the columns
_stations = _stations.rename(columns={'station_code': 'id', 'station_longitude_deg': 'longitude', 'station_latitude_deg': 'latitude', 'station_elevation_m': 'elevation'})
_stations = _stations.reset_index(drop=True)
_stations

       id   longitude   latitude  elevation
0    M07A -125.116798  44.898701    -1356.5
1    J33A -124.570801  45.106602     -348.7
2    M08A -124.895302  44.118698     -126.4
3    J25A -124.621597  44.472900     -142.8
4    J41A -124.537201  45.811901     -175.0
5    J42A -125.299698  45.933102    -1540.0
6    J09B -124.726997  43.151001     -252.0
7    J25B -124.621696  44.471298     -147.0
8    J33B -124.570602  45.106602     -350.0
9    J18B -125.466003  44.008301    -3047.0
10   M09B -125.058899  44.249699     -914.0
11   J10B -125.543503  43.349400    -3093.0
12   M06A -124.926804  45.529499    -1439.0
13   J17B -124.614799  43.790001     -286.0
14   J10D -125.545097  43.348499    -3085.0
15   M06C -124.926102  45.528702    -1460.0
16   J26C -125.465302  44.653400    -2868.0
17   M05C -124.934502  46.173500     -837.0
18   J33C -124.570801  45.106800     -354.0
19   J18D -125.481400  43.977200    -3050.0
20   J34C -125.415199  45.306999    -2580.0
21   J42C -125.299103  45.932301    -1550.0
22   J25C -124.621696  44.473000     -144.0
23   J17D -124.613403  43.787300     -285.0
24   M08C -124.895401  44.118500     -131.0
25   J41C -124.537598  45.811699     -171.0
26   J26D -125.467003  44.657700    -2880.0
27   J09D -124.727097  43.151402     -252.0
28  FC03D -124.738297  44.813301     -432.0
29   J25D -124.630997  44.456699     -136.0
30   M07C -125.116798  44.898800    -1365.0
31   M13D -125.044601  43.597301     -990.0
32  HYS14 -125.147900  44.569157     -775.0
33  HYSB1 -125.405258  44.509791    -2908.0
34   M10B -124.972801  43.624802     -675.0
35   M18B -124.971199  44.887100     -720.0

In [32]:
# Create  a csv file
_stations.to_csv('../data/datasets_or_shelf_trench/all_stations_or_shelf_trench.csv')

## 3. Make pick and station data frames for different CI years

### 3.1 Make pick and station data frames for CI year 1 of 2012

### 3.1.1 Picks

In [38]:
t = pd.Timestamp(f'{year}-7-31 00:00:00.000000+0000', tz='UTC')
picks = pd.read_csv("../data/datasets_2012/picks_2012.csv",index_col=0)
picks["time"] = pd.to_datetime(picks['time'], utc = True)
picks_CI1 = picks[picks['time']<=t]
picks_CI1

        station phase                             time
0           PGC     P 2012-01-25 06:10:29.225000+00:00
1           PGC     P 2012-01-25 06:46:04.625000+00:00
2           PGC     P 2012-01-25 07:00:06.025000+00:00
3           PGC     P 2012-01-25 07:07:06.925000+00:00
4           PGC     P 2012-01-25 08:05:24.075000+00:00
...         ...   ...                              ...
3715118     KBO     S 2012-02-08 12:14:33.610000+00:00
3715119     KBO     S 2012-02-08 13:25:05.800000+00:00
3715120     KBO     S 2012-02-08 14:50:53.370000+00:00
3715121     KBO     S 2012-02-08 15:37:35.810000+00:00
3715122     KBO     S 2012-02-08 19:13:18.460000+00:00

[1677988 rows x 3 columns]

In [39]:
picks_CI1.to_csv('../data/datasets_2012/picks_2012_CI1.csv')

### 3.1.2 Stations

In [43]:
stas = pd.read_csv("../data/datasets_2012/all_stations_2012.csv",index_col=0)
stas

        id   longitude   latitude  elevation
0      PGC -123.452100  48.649800       12.0
1     KSXB -123.876884  41.830379     1136.0
2      JCC -124.029549  40.817451       27.2
3      VGZ -123.325100  48.413100       67.0
4     J01D -123.931396  43.161400      131.0
..     ...         ...        ...        ...
110  BB060 -126.113297  42.856098    -2795.0
111  FS14B -124.591797  40.495499     -107.0
112   M06A -124.926804  45.529499    -1439.0
113  FS11B -124.577797  40.429199     -132.0
114   G20B -126.613297  41.298698    -3141.0

[115 rows x 4 columns]

In [50]:
stas_CI1 = list(picks_CI1['station'].drop_duplicates().values)
stas_CI1

['PGC',
 'KSXB',
 'JCC',
 'VGZ',
 'J01D',
 'LEBA',
 'KHBB',
 'J50A',
 'FN14A',
 'KCT',
 'KBO',
 'OZB',
 'J51A',
 'SHB',
 'J25A',
 'KEB',
 'LZB',
 'FN16A',
 'M03A',
 'FN07A',
 'D03D',
 'DBO',
 'KRP',
 'J59A',
 'I02D',
 'TAKO',
 'J42A',
 'MEGW',
 'KRMB',
 'KMPB',
 'F04D',
 'HEBO',
 'J57A',
 'J43A',
 'J49A',
 'G03D',
 'J73A',
 'FORK',
 'WISH',
 'RADR',
 'M08A',
 'L02D',
 'BABR',
 'NLLB',
 'SNB',
 'KHMB',
 'J35A',
 'K02D',
 'J65A',
 'G03A',
 'J58A',
 'KMR',
 'JEDS',
 'FISH',
 'OFR',
 'M07A',
 'PFB',
 'M01A',
 'I03D',
 'LRIV',
 'J33A',
 'BTB',
 'NC89',
 'M06A',
 'J25B',
 'NCBC']

In [52]:
_stas_CI1 = stas.loc[stas['id'].isin(stas_CI1)]
_stas_CI1

       id   longitude   latitude  elevation
0     PGC -123.452100  48.649800       12.0
1    KSXB -123.876884  41.830379     1136.0
2     JCC -124.029549  40.817451       27.2
3     VGZ -123.325100  48.413100       67.0
4    J01D -123.931396  43.161400      131.0
..    ...         ...        ...        ...
101  NC89 -126.848767  48.670537    -1258.0
102  M07A -125.116798  44.898701    -1356.5
104  M01A -126.722099  49.150398     -132.9
108  J33A -124.570801  45.106602     -348.7
112  M06A -124.926804  45.529499    -1439.0

[66 rows x 4 columns]

In [53]:
_stas_CI1.to_csv('../data/datasets_2012/stations_2012_CI1.csv')