## Notebook for formatting data frames for phase association

In [34]:
import pandas as pd
import numpy as np
import datetime
import glob
import os

In [35]:
# Make a directory to store the data associated with the picks
year =2012
filepath = f'../../data/datasets_{year}'
os.makedirs(filepath,exist_ok=True)

### 1.1 Load the station data frame

In [36]:
stas_2011_pnsn_jdf = pd.read_csv('../data/datasets_2011/stas_2011_pnsn_jdf.csv',index_col=0)
stas_2012_pnsn_jdf = pd.read_csv('../data/datasets_2012/stas_2012_pnsn_jdf.csv',index_col=0)
stas_2013_pnsn_jdf = pd.read_csv('../data/datasets_2013/stas_2013_pnsn_jdf.csv',index_col=0)
stas_2014_pnsn_jdf = pd.read_csv('../data/datasets_2014/stas_2014_pnsn_jdf.csv',index_col=0)
stas_2015_pnsn_jdf = pd.read_csv('../data/datasets_2015/stas_2015_pnsn_jdf.csv',index_col=0)
print(stas_2011_pnsn_jdf)
print(stas_2012_pnsn_jdf)
print(stas_2013_pnsn_jdf)
print(stas_2014_pnsn_jdf)
print(stas_2015_pnsn_jdf)

         id   longitude   latitude  elevation
0  7D.J59A. -126.415298  47.509602    -2371.0
1  7D.J51A. -126.164101  46.797001    -2610.0
2  7D.G03A. -126.162498  40.059101    -4113.0
3  7D.J35A. -126.266800  45.498901    -2662.0
4  7D.J43A. -126.172096  46.137798    -2654.4
           id   longitude   latitude  elevation
0   7D.FS02B. -124.797997  40.351101    -1402.8
1    7D.J51A. -126.164101  46.797001    -2610.0
2   7D.FS06B. -124.785301  40.381199    -2198.0
3    7D.G11B. -126.376404  40.687500    -3123.0
4   7D.FS09B. -124.808502  40.438702    -2161.0
5    7D.J59A. -126.415298  47.509602    -2371.0
6   7D.FS13B. -124.806503  40.493099    -2332.0
7   7D.FS01B. -124.949203  40.326801     -940.0
8    7D.G19B. -125.773598  41.307400    -3071.0
9    7D.J43A. -126.172096  46.137798    -2654.4
10   7D.G26B. -125.177498  41.924900    -2357.0
11  7D.FS20B. -125.031097  40.389500    -2378.0
12   7D.G28B. -126.733902  41.942799    -3327.0
13   7D.G02B. -125.296898  40.048599    -1920.0
14   7D.G10B. -125.553299  40.677898    -2936.0
15  X9.BB070. -126.006798  43.306801    -3023.0
16   7D.J18B. -125.466003  44.008301    -3047.0
17   7D.J19B. -126.271698  44.177700    -2968.0
18   7D.J35A. -126.266800  45.498901    -2662.0
19  7D.G36B2. -126.903801  42.599400    -2423.0
20  X9.BB030. -126.933601  42.947300    -2730.0
21   7D.J11B. -126.367302  43.541401    -3030.0
22   7D.G03A. -126.162498  40.059101    -4113.0
23  X9.BB090. -126.660301  43.373600    -2901.0
24   7D.G03B. -126.163399  40.057999    -4051.0
25   7D.G04B. -126.928497  40.058498    -4368.0
26   7D.J27B. -126.306900  44.847599    -2824.0
27   7D.G35B. -126.055801  42.565800    -2367.0
28   7D.J10B. -125.543503  43.349400    -3093.0
29   7D.G27B. -126.016701  41.916599    -3480.0
30  7D.FS05B. -124.899597  40.386600    -2316.0
31   7D.J26A. -125.466400  44.654701    -2864.0
32  X9.BB060. -126.113297  42.856098    -2795.0
33   7D.G20B. -126.613297  41.298698    -3141.0
           id   longitude   latitude  elevation
0    7D.G02B. -125.296898  40.048599    -1920.0
1   Z5.BB630. -126.636902  42.877399    -3340.0
2   X9.BB060. -126.113297  42.856098    -2795.0
3    7D.G10B. -125.553299  40.677898    -2936.0
4   X9.BB070. -126.006798  43.306801    -3023.0
5   X9.BB090. -126.660301  43.373600    -2901.0
6    7D.G03B. -126.163399  40.057999    -4051.0
7   7D.G36B2. -126.903801  42.599400    -2423.0
8   7D.FS09B. -124.808502  40.438702    -2161.0
9    7D.J18B. -125.466003  44.008301    -3047.0
10   7D.J59C. -126.416801  47.511101    -2389.0
11  Z5.GB260. -125.221298  40.975498    -3067.0
12   7D.J11B. -126.367302  43.541401    -3030.0
13  X9.BB030. -126.933601  42.947300    -2730.0
14   7D.J10B. -125.543503  43.349400    -3093.0
15   7D.J27B. -126.306900  44.847599    -2824.0
16   7D.G35B. -126.055801  42.565800    -2367.0
17  Z5.GB380. -126.162498  40.059399    -4068.0
18  7D.FS06B. -124.785301  40.381199    -2198.0
19   7D.J19B. -126.271698  44.177700    -2968.0
20   7D.G27B. -126.016701  41.916599    -3480.0
21  7D.FS02B. -124.797997  40.351101    -1402.8
22   7D.G28B. -126.733902  41.942799    -3327.0
23  7D.FS05B. -124.899597  40.386600    -2316.0
24  7D.FS01B. -124.949203  40.326801     -940.0
25   7D.G19B. -125.773598  41.307400    -3071.0
26   7D.J35C. -126.268303  45.499500    -2655.0
27   7D.J43C. -126.172501  46.137001    -2645.0
28  Z5.GB320. -125.912102  40.396599    -2332.0
29  Z5.GB210. -126.055801  41.337002    -3094.0
30   7D.G20B. -126.613297  41.298698    -3141.0
31  Z5.GB220. -126.914497  41.073299    -2998.0
32   7D.J26C. -125.465302  44.653400    -2868.0
33   7D.G04B. -126.928497  40.058498    -4368.0
34   7D.G11B. -126.376404  40.687500    -3123.0
35  7D.FS20B. -125.031097  40.389500    -2378.0
36  7D.FS13B. -124.806503  40.493099    -2332.0
37  Z5.GB330. -126.584900  40.511101    -3156.0
38  Z5.GB080. -125.307701  41.982800    -3103.0
39  Z5.GB050. -126.902702  42.474998    -3948.0
40  Z5.GB100. -126.585197  42.026001    -3571.0
41  Z5.GB030. -125.857101  42.356499    -2621.0
42   7D.G26B. -125.177498  41.924900    -2357.0
43   7D.J51C. -126.163101  46.795700    -2626.0
           id   longitude   latitude  elevation
0    7D.G34D. -125.448601  42.572300    -3089.0
1   Z5.GB210. -126.055801  41.337002    -3094.0
2   Z5.BB630. -126.636902  42.877399    -3340.0
3   Z5.GB050. -126.902702  42.474998    -3948.0
4    7D.G20D. -126.863800  41.451599    -2931.3
5    7D.J19D. -126.271202  44.179001    -2955.4
6   7D.FS09D. -124.803703  40.437698    -2122.1
7   Z5.GB030. -125.857101  42.356499    -2621.0
8    7D.J10D. -125.545097  43.348499    -3085.0
9    7D.G36D. -126.896500  42.461800    -3779.6
10   7D.J26C. -125.465302  44.653400    -2868.0
11  Z5.GB220. -126.914497  41.073299    -2998.0
12   7D.J27D. -126.308296  44.848900    -2814.8
13   7D.G35D. -126.399002  42.555698    -2822.6
14   7D.G10D. -125.554398  40.788799    -3015.0
15  Z5.GB380. -126.162498  40.059399    -4068.0
16  7D.FS13D. -124.803398  40.493698    -2291.2
17  Z5.GB320. -125.912102  40.396599    -2332.0
18   7D.J18D. -125.481400  43.977200    -3050.0
19   7D.J59C. -126.416801  47.511101    -2389.0
20   7D.J35C. -126.268303  45.499500    -2655.0
21  Z5.BB631. -126.634399  42.878700    -3320.0
22  Z5.GB260. -125.221298  40.975498    -3067.0
23  Z5.GB100. -126.585197  42.026001    -3571.0
24   7D.G26D. -125.308296  41.983799    -3104.0
25   7D.G02D. -125.297699  40.160301    -1741.0
26  7D.FS02D. -124.800201  40.326000     -947.9
27  Z5.GB080. -125.307701  41.982800    -3103.0
28   7D.J26D. -125.467003  44.657700    -2880.0
29  Z5.GB101. -126.587997  42.020500    -3585.0
30  Z5.GB281. -126.089897  41.028400    -3124.0
31   7D.G19D. -126.027901  41.331600    -3082.0
32   7D.J11D. -126.368599  43.541599    -3000.8
33   7D.G04D. -126.784698  40.157700    -4350.3
34  Z5.GB331. -126.584000  40.513000    -3137.0
35   7D.G18D. -125.255798  41.304699    -3130.0
36  Z5.GB330. -126.584900  40.511101    -3156.0
37  7D.FS06D. -124.806702  40.369999    -1946.8
38   7D.G11D. -126.468300  40.784500    -3145.0
39   7D.G03D. -126.161201  40.058701    -4056.5
40   7D.J43C. -126.172501  46.137001    -2645.0
41   7D.G27D. -125.981697  42.001301    -2939.0
42  Z5.GB321. -125.911697  40.392200    -2283.0
43   7D.J51C. -126.163101  46.795700    -2626.0
           id   longitude   latitude  elevation
0    7D.G26D. -125.308296  41.983799    -3104.0
1   Z5.GB101. -126.587997  42.020500    -3585.0
2   7D.FS06D. -124.806702  40.369999    -1946.8
3    7D.G19D. -126.027901  41.331600    -3082.0
4    7D.J18D. -125.481400  43.977200    -3050.0
5   7D.FS09D. -124.803703  40.437698    -2122.1
6    7D.G04D. -126.784698  40.157700    -4350.3
7   Z5.GB331. -126.584000  40.513000    -3137.0
8    7D.G18D. -125.255798  41.304699    -3130.0
9    7D.G27D. -125.981697  42.001301    -2939.0
10  7D.FS13D. -124.803398  40.493698    -2291.2
11   7D.J11D. -126.368599  43.541599    -3000.8
12  7D.FS02D. -124.800201  40.326000     -947.9
13   7D.J27D. -126.308296  44.848900    -2814.8
14   7D.G20D. -126.863800  41.451599    -2931.3
15   7D.G36D. -126.896500  42.461800    -3779.6
16   7D.G02D. -125.297699  40.160301    -1741.0
17  Z5.GB281. -126.089897  41.028400    -3124.0
18   7D.J19D. -126.271202  44.179001    -2955.4
19   7D.G03D. -126.161201  40.058701    -4056.5
20   7D.G34D. -125.448601  42.572300    -3089.0
21   7D.J26D. -125.467003  44.657700    -2880.0
22   7D.J10D. -125.545097  43.348499    -3085.0
23   7D.G35D. -126.399002  42.555698    -2822.6
24   7D.G10D. -125.554398  40.788799    -3015.0
25  Z5.BB631. -126.634399  42.878700    -3320.0
26  OO.HYSB1. -125.405258  44.509791    -2908.0
27  Z5.GB321. -125.911697  40.392200    -2283.0

In [37]:
stas_pnsn_jdf = pd.concat([stas_2011_pnsn_jdf,stas_2012_pnsn_jdf,stas_2013_pnsn_jdf,
                           stas_2014_pnsn_jdf,stas_2015_pnsn_jdf],ignore_index=True)
stas_pnsn_jdf = stas_pnsn_jdf.drop_duplicates(subset='id')
stas_pnsn_jdf

            id   longitude   latitude  elevation
0     7D.J59A. -126.415298  47.509602    -2371.0
1     7D.J51A. -126.164101  46.797001    -2610.0
2     7D.G03A. -126.162498  40.059101    -4113.0
3     7D.J35A. -126.266800  45.498901    -2662.0
4     7D.J43A. -126.172096  46.137798    -2654.4
..         ...         ...        ...        ...
121   7D.G11D. -126.468300  40.784500    -3145.0
122   7D.G03D. -126.161201  40.058701    -4056.5
124   7D.G27D. -125.981697  42.001301    -2939.0
125  Z5.GB321. -125.911697  40.392200    -2283.0
153  OO.HYSB1. -125.405258  44.509791    -2908.0

[79 rows x 4 columns]

In [38]:
# Create  a csv file
stas_pnsn_jdf.to_csv('../data/datasets_pnsn_jdf/all_stations_pnsn_jdf.csv')

### 1.2 Concatenate data frames from several stations and format

In [25]:
# Gather all the files that we produced in 1_parallel_detect_picks_elep_all_sta
csv_list = glob.glob('../data/picks_201[1-5]/*.csv')

In [26]:
# Print csv_list
csv_list

['../data/picks_2012/PGC_20120125.csv',
 '../data/picks_2012/KSXB_20120105.csv',
 '../data/picks_2012/JCC_20120213.csv',
 '../data/picks_2012/VGZ_20120203.csv',
 '../data/picks_2012/J01D_20120701.csv',
 '../data/picks_2012/LEBA_20120209.csv',
 '../data/picks_2012/FS02B_20121216.csv',
 '../data/picks_2012/J01D_20120216.csv',
 '../data/picks_2012/LEBA_20120906.csv',
 '../data/picks_2012/KHBB_20120312.csv',
 '../data/picks_2012/G25B_20121220.csv',
 '../data/picks_2012/MGB_20120216.csv',
 '../data/picks_2012/J50A_20120510.csv',
 '../data/picks_2012/FN14A_20120614.csv',
 '../data/picks_2012/PFB_20121101.csv',
 '../data/picks_2012/KCT_20120303.csv',
 '../data/picks_2012/KBO_20120301.csv',
 '../data/picks_2012/OZB_20120203.csv',
 '../data/picks_2012/J01D_20120530.csv',
 '../data/picks_2012/J51A_20120227.csv',
 '../data/picks_2012/SHB_20120515.csv',
 '../data/picks_2012/DBO_20121101.csv',
 '../data/picks_2012/FS18B_20121105.csv',
 '../data/picks_2012/LZB_20121122.csv',
 '../data/picks_2012/L02E_20121103.csv',
 '../data/picks_2012/FS06B_20121009.csv',
 '../data/picks_2012/J51A_20120331.csv',
 '../data/picks_2012/J25A_20120409.csv',
 '../data/picks_2012/KEB_20120104.csv',
 '../data/picks_2012/FN01A_20120608.csv',
 '../data/picks_2012/LZB_20120604.csv',
 '../data/picks_2012/KHBB_20120402.csv',
 '../data/picks_2012/FS08B_20121002.csv',
 '../data/picks_2012/G11B_20121031.csv',
 '../data/picks_2012/FN16A_20120216.csv',
 '../data/picks_2012/G33B_20121201.csv',
 '../data/picks_2012/M11B_20120918.csv',
 '../data/picks_2012/M03A_20120613.csv',
 '../data/picks_2012/FN07A_20120421.csv',
 '../data/picks_2012/FS02B_20121224.csv',
 '../data/picks_2012/SHB_20120917.csv',
 '../data/picks_2012/FS09B_20121111.csv',
 '../data/picks_2012/FN12A_20120228.csv',
 '../data/picks_2012/D03D_20120821.csv',
 '../data/picks_2012/HEBO_20120807.csv',
 '../data/picks_2012/D03D_20120210.csv',
 '../data/picks_2012/DBO_20120510.csv',
 '../data/picks_2012/FN07A_20120317.csv',
 '../data/picks_2012/FS02B_20121110.csv',
 '../data/picks_2012/KRP_20120211.csv',
 '../data/picks_2012/KHBB_20120714.csv',
 '../data/picks_2012/J09B_20120907.csv',
 '../data/picks_2012/F04D_20120923.csv',
 '../data/picks_2012/KSXB_20120721.csv',
 '../data/picks_2012/VGZ_20120808.csv',
 '../data/picks_2012/J59A_20120426.csv',
 '../data/picks_2012/I02D_20120709.csv',
 '../data/picks_2012/TAKO_20120419.csv',
 '../data/picks_2012/J01D_20120927.csv',
 '../data/picks_2012/PGC_20120803.csv',
 '../data/picks_2012/J42A_20120315.csv',
 '../data/picks_2012/MEGW_20120108.csv',
 '../data/picks_2012/FS13B_20121105.csv',
 '../data/picks_2012/G34B_20121201.csv',
 '../data/picks_2012/FS01B_20121205.csv',
 '../data/picks_2012/KRMB_20120119.csv',
 '../data/picks_2012/NLLB_20121008.csv',
 '../data/picks_2012/KSXB_20120309.csv',
 '../data/picks_2012/TAKO_20120818.csv',
 '../data/picks_2012/KMPB_20120716.csv',
 '../data/picks_2012/DBO_20120928.csv',
 '../data/picks_2012/PGC_20121216.csv',
 '../data/picks_2012/FS15B_20121227.csv',
 '../data/picks_2012/KRP_20120828.csv',
 '../data/picks_2012/F04D_20120115.csv',
 '../data/picks_2012/FN12A_20120209.csv',
 '../data/picks_2012/HEBO_20120207.csv',
 '../data/picks_2012/J57A_20120130.csv',
 '../data/picks_2012/KHMB_20121122.csv',
 '../data/picks_2012/F04D_20120206.csv',
 '../data/picks_2012/FS19B_20121125.csv',
 '../data/picks_2012/J41A_20120502.csv',
 '../data/picks_2012/LEBA_20120818.csv',
 '../data/picks_2012/KRP_20120319.csv',
 '../data/picks_2012/L02E_20121107.csv',
 '../data/picks_2012/KBO_20120328.csv',
 '../data/picks_2012/KMPB_20120605.csv',
 '../data/picks_2012/KEB_20120215.csv',
 '../data/picks_2012/G19B_20121009.csv',
 '../data/picks_2012/G33B_20121104.csv',
 '../data/picks_2012/FS09B_20121005.csv',
 '../data/picks_2012/JCC_20120131.csv',
 '../data/picks_2012/RADR_20121021.csv',
 '../data/picks_2012/LEBA_20120707.csv',
 '../data/picks_2012/J43A_20120514.csv',
 '../data/picks_2012/FN12A_20120531.csv',
 '../data/picks_2012/FS06B_20121011.csv',
 '../data/picks_2012/J49A_20120410.csv',
 '../data/picks_2012/KEB_20120328.csv',
 '../data/picks_2012/G26B_20121118.csv',
 '../data/picks_2012/J51A_20120313.csv',
 '../data/picks_2012/J25B_20121002.csv',
 '../data/picks_2012/OFR_20120927.csv',
 '../data/picks_2012/DBO_20120122.csv',
 '../data/picks_2012/FS20B_20121024.csv',
 '../data/picks_2012/J42A_20120519.csv',
 '../data/picks_2012/G03D_20120713.csv',
 '../data/picks_2012/DBO_20120606.csv',
 '../data/picks_2012/KCT_20120330.csv',
 '../data/picks_2012/LZB_20120826.csv',
 '../data/picks_2012/KMPB_20120626.csv',
 '../data/picks_2012/G03D_20120721.csv',
 '../data/picks_2012/J73A_20120602.csv',
 '../data/picks_2012/TAKO_20120621.csv',
 '../data/picks_2012/G28B_20121201.csv',
 '../data/picks_2012/LRIV_20121224.csv',
 '../data/picks_2012/FORK_20120124.csv',
 '../data/picks_2012/FS15B_20121015.csv',
 '../data/picks_2012/K02D_20120805.csv',
 '../data/picks_2012/FN07A_20120305.csv',
 '../data/picks_2012/FS02B_20121115.csv',
 '../data/picks_2012/VGZ_20120202.csv',
 '../data/picks_2012/WISH_20120510.csv',
 '../data/picks_2012/SHB_20120628.csv',
 '../data/picks_2012/J17B_20120919.csv',
 '../data/picks_2012/OZB_20120114.csv',
 '../data/picks_2012/G02B_20120910.csv',
 '../data/picks_2012/FORK_20121202.csv',
 '../data/picks_2012/G11B_20120930.csv',
 '../data/picks_2012/FS19B_20121110.csv',
 '../data/picks_2012/FN12A_20120214.csv',
 '../data/picks_2012/M03A_20120326.csv',
 '../data/picks_2012/WISH_20120406.csv',
 '../data/picks_2012/KMPB_20120312.csv',
 '../data/picks_2012/FN07A_20120108.csv',
 '../data/picks_2012/G10B_20121227.csv',
 '../data/picks_2012/BB070_20121010.csv',
 '../data/picks_2012/J50A_20120404.csv',
 '../data/picks_2012/PGC_20120921.csv',
 '../data/picks_2012/RADR_20120708.csv',
 '../data/picks_2012/FISH_20120821.csv',
 '../data/picks_2012/M08A_20120218.csv',
 '../data/picks_2012/G10B_20121031.csv',
 '../data/picks_2012/KEB_20121018.csv',
 '../data/picks_2012/M08A_20120420.csv',
 '../data/picks_2012/J33B_20121218.csv',
 '../data/picks_2012/KMR_20121214.csv',
 '../data/picks_2012/J34A_20120503.csv',
 '../data/picks_2012/FS02B_20121130.csv',
 '../data/picks_2012/FN16A_20120611.csv',
 '../data/picks_2012/FN18A_20120516.csv',
 '../data/picks_2012/L02D_20120220.csv',
 '../data/picks_2012/KMPB_20120416.csv',
 '../data/picks_2012/VGZ_20120621.csv',
 '../data/picks_2012/JCC_20121130.csv',
 '../data/picks_2012/J17B_20120729.csv',
 '../data/picks_2012/M06A_20120427.csv',
 '../data/picks_2012/G26B_20121102.csv',
 '../data/picks_2012/FORK_20121125.csv',
 '../data/picks_2012/RADR_20120817.csv',
 '../data/picks_2012/FS07B_20121003.csv',
 '../data/picks_2012/G03D_20120308.csv',
 '../data/picks_2012/J59A_20120320.csv',
 '../data/picks_2012/BABR_20120629.csv',
 '../data/picks_2012/FN12A_20120520.csv',
 '../data/picks_2012/FORK_20121122.csv',
 '../data/picks_2012/J41A_20120120.csv',
 '../data/picks_2012/J34A_20120712.csv',
 '../data/picks_2012/KRP_20120401.csv',
 '../data/picks_2012/J01D_20120828.csv',
 '../data/picks_2012/LEBA_20120407.csv',
 '../data/picks_2012/FN07A_20120415.csv',
 '../data/picks_2012/FS18B_20121028.csv',
 '../data/picks_2012/FS10B_20121220.csv',
 '../data/picks_2012/SHB_20121219.csv',
 '../data/picks_2012/J59A_20120229.csv',
 '../data/picks_2012/BTB_20120922.csv',
 '../data/picks_2012/J18B_20121225.csv',
 '../data/picks_2012/KRP_20120425.csv',
 '../data/picks_2012/NLLB_20120208.csv',
 '../data/picks_2012/J01D_20120727.csv',
 '../data/picks_2012/M14B_20121230.csv',
 '../data/picks_2012/I02D_20120413.csv',
 '../data/picks_2012/J19B_20121208.csv',
 '../data/picks_2012/KMPB_20120612.csv',
 '../data/picks_2012/J42A_20120702.csv',
 '../data/picks_2012/FN08A_20120525.csv',
 '../data/picks_2012/MEGW_20120204.csv',
 '../data/picks_2012/G02B_20121231.csv',
 '../data/picks_2012/VGZ_20120809.csv',
 '../data/picks_2012/FN01A_20120317.csv',
 '../data/picks_2012/KMR_20120921.csv',
 '../data/picks_2012/M03A_20120520.csv',
 '../data/picks_2012/BABR_20120626.csv',
 '../data/picks_2012/G09B_20121229.csv',
 '../data/picks_2012/WISH_20120908.csv',
 '../data/picks_2012/J17B_20120801.csv',
 '../data/picks_2012/M06A_20120130.csv',
 '../data/picks_2012/M06A_20120128.csv',
 '../data/picks_2012/SNB_20120609.csv',
 '../data/picks_2012/G03D_20120427.csv',
 '../data/picks_2012/KHMB_20120601.csv',
 '../data/picks_2012/J35A_20120408.csv',
 '../data/picks_2012/G36B2_20121210.csv',
 '../data/picks_2012/D03D_20120607.csv',
 '../data/picks_2012/NLLB_20121121.csv',
 '../data/picks_2012/TAKO_20120118.csv',
 '../data/picks_2012/FN16A_20120227.csv',
 '../data/picks_2012/KSXB_20120125.csv',
 '../data/picks_2012/M18B_20120820.csv',
 '../data/picks_2012/J57A_20120428.csv',
 '../data/picks_2012/BTB_20120914.csv',
 '../data/picks_2012/BB030_20120924.csv',
 '../data/picks_2012/BABR_20121110.csv',
 '../data/picks_2012/M11B_20121120.csv',
 '../data/picks_2012/G19B_20121224.csv',
 '../data/picks_2012/K02D_20120726.csv',
 '../data/picks_2012/J65A_20120102.csv',
 '../data/picks_2012/J11B_20121202.csv',
 '../data/picks_2012/J57A_20120222.csv',
 '../data/picks_2012/J57A_20120710.csv',
 '../data/picks_2012/G03A_20120331.csv',
 '../data/picks_2012/FS15B_20121130.csv',
 '../data/picks_2012/J58A_20120531.csv',
 '../data/picks_2012/J59A_20120531.csv',
 '../data/picks_2012/M09B_20121213.csv',
 '../data/picks_2012/I02D_20120918.csv',
 '../data/picks_2012/PFB_20121219.csv',
 '../data/picks_2012/G03D_20120404.csv',
 '../data/picks_2012/J19B_20120908.csv',
 '../data/picks_2012/MGB_20120809.csv',
 '../data/picks_2012/BB070_20121214.csv',
 '../data/picks_2012/FN16A_20120713.csv',
 '../data/picks_2012/FN07A_20120308.csv',
 '../data/picks_2012/BB070_20121216.csv',
 '../data/picks_2012/M06A_20120612.csv',
 '../data/picks_2012/J50A_20120413.csv',
 '../data/picks_2012/FISH_20120518.csv',
 '../data/picks_2012/LZB_20120910.csv',
 '../data/picks_2012/I03D_20121014.csv',
 '../data/picks_2012/J01D_20120208.csv',
 '../data/picks_2012/J58A_20120201.csv',
 '../data/picks_2012/M13B_20121014.csv',
 '../data/picks_2012/G36B2_20120915.csv',
 '../data/picks_2012/FS17B_20121124.csv',
 '../data/picks_2012/BB030_20121121.csv',
 '../data/picks_2012/FISH_20121201.csv',
 '../data/picks_2012/YOUB_20120912.csv',
 '../data/picks_2012/KBO_20120325.csv',
 '../data/picks_2012/J25A_20120316.csv',
 '../data/picks_2012/RADR_20120302.csv',
 '../data/picks_2012/BB090_20121120.csv',
 '../data/picks_2012/D03D_20120707.csv',
 '../data/picks_2012/M13B_20120925.csv',
 '../data/picks_2012/FN08A_20120622.csv',
 '../data/picks_2012/I02D_20120426.csv',
 '../data/picks_2012/KHBB_20120131.csv',
 '../data/picks_2012/I03D_20121120.csv',
 '../data/picks_2012/YOUB_20121127.csv',
 '../data/picks_2012/SHB_20121229.csv',
 '../data/picks_2012/KHMB_20121210.csv',
 '../data/picks_2012/KHMB_20120323.csv',
 '../data/picks_2012/J25A_20120705.csv',
 '../data/picks_2012/KRP_20121013.csv',
 '../data/picks_2012/BABR_20120104.csv',
 '../data/picks_2012/SHB_20120508.csv',
 '../data/picks_2012/G02B_20121221.csv',
 '../data/picks_2012/G18B_20121123.csv',
 '../data/picks_2012/NLLB_20120618.csv',
 '../data/picks_2012/BTB_20120904.csv',
 '../data/picks_2012/WISH_20121214.csv',
 '../data/picks_2012/FN01A_20120628.csv',
 '../data/picks_2012/NCBC_20120731.csv',
 '../data/picks_2012/KMPB_20120814.csv',
 '../data/picks_2012/L02D_20120404.csv',
 '../data/picks_2012/BABR_20120401.csv',
 '../data/picks_2012/FS12B_20121201.csv',
 '../data/picks_2012/J58A_20120624.csv',
 '../data/picks_2012/G18B_20121126.csv',
 '../data/picks_2012/KHMB_20121220.csv',
 '../data/picks_2012/TAKO_20120113.csv',
 '../data/picks_2012/M06A_20120403.csv',
 '../data/picks_2012/RADR_20120115.csv',
 '../data/picks_2012/J65A_20120207.csv',
 '../data/picks_2012/F04D_20120805.csv',
 '../data/picks_2012/G03B_20120924.csv',
 '../data/picks_2012/KMR_20120622.csv',
 '../data/picks_2012/BABR_20120520.csv',
 '../data/picks_2012/M14B_20121113.csv',
 '../data/picks_2012/G25B_20121109.csv',
 '../data/picks_2012/G28B_20121002.csv',
 '../data/picks_2012/BABR_20121201.csv',
 '../data/picks_2012/WISH_20120520.csv',
 '../data/picks_2012/J49A_20120317.csv',
 '../data/picks_2012/FS08B_20121129.csv',
 '../data/picks_2012/PGC_20121123.csv',
 '../data/picks_2012/FN18A_20120527.csv',
 '../data/picks_2012/KHMB_20120925.csv',
 '../data/picks_2012/M02A_20120525.csv',
 '../data/picks_2012/G17B_20121228.csv',
 '../data/picks_2012/J73A_20120630.csv',
 '../data/picks_2012/F04D_20121218.csv',
 '../data/picks_2012/J18B_20121118.csv',
 '../data/picks_2012/FS01B_20121130.csv',
 '../data/picks_2012/J59A_20120105.csv',
 '../data/picks_2012/KMPB_20120512.csv',
 '../data/picks_2012/I02D_20121122.csv',
 '../data/picks_2012/G04B_20121207.csv',
 '../data/picks_2012/DBO_20120202.csv',
 '../data/picks_2012/FS06B_20121231.csv',
 '../data/picks_2012/TAKO_20120816.csv',
 '../data/picks_2012/G17B_20121215.csv',
 '../data/picks_2012/LEBA_20120606.csv',
 '../data/picks_2012/KEB_20120611.csv',
 '../data/picks_2012/J33B_20120902.csv',
 '../data/picks_2012/FS02B_20121206.csv',
 '../data/picks_2012/M11B_20121112.csv',
 '../data/picks_2012/SNB_20120731.csv',
 '../data/picks_2012/KMR_20121015.csv',
 '../data/picks_2012/J01E_20121209.csv',
 '../data/picks_2012/JEDS_20120220.csv',
 '../data/picks_2012/FS03B_20121028.csv',
 '../data/picks_2012/M13B_20121107.csv',
 '../data/picks_2012/M06A_20120320.csv',
 '../data/picks_2012/OZB_20120220.csv',
 '../data/picks_2012/FS07B_20121112.csv',
 '../data/picks_2012/M14B_20121214.csv',
 '../data/picks_2012/YOUB_20121203.csv',
 '../data/picks_2012/FS12B_20121022.csv',
 '../data/picks_2012/KHBB_20120330.csv',
 '../data/picks_2012/G28B_20121103.csv',
 '../data/picks_2012/VGZ_20121222.csv',
 '../data/picks_2012/FISH_20120401.csv',
 '../data/picks_2012/OFR_20120923.csv',
 '../data/picks_2012/G03D_20121007.csv',
 '../data/picks_2012/FS13B_20121003.csv',
 '../data/picks_2012/L02D_20120304.csv',
 '../data/picks_2012/J01D_20120305.csv',
 '../data/picks_2012/NLLB_20120814.csv',
 '../data/picks_2012/FS15B_20121011.csv',
 '../data/picks_2012/FS15B_20121024.csv',
 '../data/picks_2012/FS04B_20121211.csv',
 '../data/picks_2012/G03A_20120403.csv',
 '../data/picks_2012/KMR_20121212.csv',
 '../data/picks_2012/J57A_20120607.csv',
 '../data/picks_2012/M18B_20121224.csv',
 '../data/picks_2012/J26A_20120609.csv',
 '../data/picks_2012/KEB_20120321.csv',
 '../data/picks_2012/J41A_20120318.csv',
 '../data/picks_2012/G34B_20121106.csv',
 '../data/picks_2012/J33B_20121004.csv',
 '../data/picks_2012/LZB_20120628.csv',
 '../data/picks_2012/PGC_20121030.csv',
 '../data/picks_2012/KBO_20120602.csv',
 '../data/picks_2012/G36B2_20121227.csv',
 '../data/picks_2012/F04D_20120609.csv',
 '../data/picks_2012/KEB_20120311.csv',
 '../data/picks_2012/J25B_20121030.csv',
 '../data/picks_2012/G17B_20121005.csv',
 '../data/picks_2012/OFR_20120816.csv',
 '../data/picks_2012/FISH_20120508.csv',
 '../data/picks_2012/OFR_20120710.csv',
 '../data/picks_2012/J09B_20121018.csv',
 '../data/picks_2012/SHB_20120426.csv',
 '../data/picks_2012/KSXB_20120208.csv',
 '../data/picks_2012/J26A_20120216.csv',
 '../data/picks_2012/HEBO_20120506.csv',
 '../data/picks_2012/J27B_20120908.csv',
 '../data/picks_2012/J57A_20120228.csv',
 '../data/picks_2012/NC89_20121231.csv',
 '../data/picks_2012/LEBA_20120715.csv',
 '../data/picks_2012/I02D_20120220.csv',
 '../data/picks_2012/G03A_20120301.csv',
 '../data/picks_2012/J11B_20121106.csv',
 '../data/picks_2012/FS15B_20121224.csv',
 '../data/picks_2012/I02D_20121020.csv',
 '../data/picks_2012/KRMB_20120430.csv',
 '../data/picks_2012/M07A_20120420.csv',
 '../data/picks_2012/JCC_20120307.csv',
 '../data/picks_2012/KBO_20120329.csv',
 '../data/picks_2012/KMR_20120818.csv',
 '../data/picks_2012/M18B_20120723.csv',
 '../data/picks_2012/FISH_20120310.csv',
 '../data/picks_2012/HEBO_20120429.csv',
 '../data/picks_2012/J65A_20120426.csv',
 '../data/picks_2012/HEBO_20120707.csv',
 '../data/picks_2012/OFR_20121226.csv',
 '../data/picks_2012/G03D_20120915.csv',
 '../data/picks_2012/SNB_20120309.csv',
 '../data/picks_2012/J09B_20121223.csv',
 '../data/picks_2012/J57A_20120616.csv',
 '../data/picks_2012/KHBB_20120210.csv',
 '../data/picks_2012/D03D_20120830.csv',
 '../data/picks_2012/G25B_20121104.csv',
 '../data/picks_2012/FN18A_20120216.csv',
 '../data/picks_2012/FISH_20120408.csv',
 '../data/picks_2012/FN18A_20120107.csv',
 '../data/picks_2012/KEB_20121116.csv',
 '../data/picks_2012/FS16B_20121227.csv',
 '../data/picks_2012/PFB_20120308.csv',
 '../data/picks_2012/M06A_20120229.csv',
 '../data/picks_2012/KMR_20120912.csv',
 '../data/picks_2012/I02D_20121105.csv',
 '../data/picks_2012/KHMB_20120311.csv',
 '../data/picks_2012/M06A_20120116.csv',
 '../data/picks_2012/FS04B_20120920.csv',
 '../data/picks_2012/M01A_20120222.csv',
 '../data/picks_2012/M18B_20120924.csv',
 '../data/picks_2012/MEGW_20120320.csv',
 '../data/picks_2012/I02D_20120401.csv',
 '../data/picks_2012/DBO_20121212.csv',
 '../data/picks_2012/KRP_20120909.csv',
 '../data/picks_2012/FN16A_20120131.csv',
 '../data/picks_2012/KEB_20120320.csv',
 '../data/picks_2012/TAKO_20120605.csv',
 '../data/picks_2012/SNB_20120414.csv',
 '../data/picks_2012/J58A_20120414.csv',
 '../data/picks_2012/SHB_20120914.csv',
 '../data/picks_2012/DBO_20120630.csv',
 '../data/picks_2012/M12B_20120925.csv',
 '../data/picks_2012/G02B_20121028.csv',
 '../data/picks_2012/J73A_20120311.csv',
 '../data/picks_2012/KHBB_20121007.csv',
 '../data/picks_2012/G11B_20121004.csv',
 '../data/picks_2012/DBO_20120307.csv',
 '../data/picks_2012/G36B2_20121029.csv',
 '../data/picks_2012/M09B_20120909.csv',
 '../data/picks_2012/J17B_20121017.csv',
 '../data/picks_2012/FORK_20120615.csv',
 '../data/picks_2012/J01D_20120823.csv',
 '../data/picks_2012/KMPB_20121231.csv',
 '../data/picks_2012/NLLB_20120331.csv',
 '../data/picks_2012/G09B_20121128.csv',
 '../data/picks_2012/M18B_20121220.csv',
 '../data/picks_2012/F04D_20120416.csv',
 '../data/picks_2012/FISH_20120323.csv',
 '../data/picks_2012/G04B_20120912.csv',
 '../data/picks_2012/J01D_20120716.csv',
 '../data/picks_2012/M18B_20121215.csv',
 '../data/picks_2012/J25B_20121124.csv',
 '../data/picks_2012/KHBB_20120806.csv',
 '../data/picks_2012/J49A_20120601.csv',
 '../data/picks_2012/KSXB_20120317.csv',
 '../data/picks_2012/BTB_20120912.csv',
 '../data/picks_2012/KHBB_20120421.csv',
 '../data/picks_2012/JCC_20120116.csv',
 '../data/picks_2012/M06A_20120528.csv',
 '../data/picks_2012/J26A_20120215.csv',
 '../data/picks_2012/PGC_20121229.csv',
 '../data/picks_2012/G03D_20121112.csv',
 '../data/picks_2012/KMR_20120625.csv',
 '../data/picks_2012/KMPB_20120402.csv',
 '../data/picks_2012/I03D_20120215.csv',
 '../data/picks_2012/WISH_20120805.csv',
 '../data/picks_2012/J11B_20121115.csv',
 '../data/picks_2012/OFR_20120318.csv',
 '../data/picks_2012/FORK_20120519.csv',
 '../data/picks_2012/J19B_20121015.csv',
 '../data/picks_2012/F04D_20121105.csv',
 '../data/picks_2012/KHMB_20120325.csv',
 '../data/picks_2012/NLLB_20120918.csv',
 '../data/picks_2012/SNB_20121222.csv',
 '../data/picks_2012/J41A_20120213.csv',
 '../data/picks_2012/J01D_20120219.csv',
 '../data/picks_2012/LZB_20121217.csv',
 '../data/picks_2012/JCC_20120401.csv',
 '../data/picks_2012/I03D_20120626.csv',
 '../data/picks_2012/D03D_20121110.csv',
 '../data/picks_2012/KCT_20120315.csv',
 '../data/picks_2012/I03D_20121104.csv',
 '../data/picks_2012/FS20B_20121104.csv',
 '../data/picks_2012/JCC_20120330.csv',
 '../data/picks_2012/VGZ_20120921.csv',
 '../data/picks_2012/LRIV_20120306.csv',
 '../data/picks_2012/J42A_20120418.csv',
 '../data/picks_2012/G03D_20120724.csv',
 '../data/picks_2012/J17B_20121008.csv',
 '../data/picks_2012/FS10B_20121212.csv',
 '../data/picks_2012/KMR_20120915.csv',
 '../data/picks_2012/M01A_20120627.csv',
 '../data/picks_2012/KHMB_20120921.csv',
 '../data/picks_2012/L02E_20121117.csv',
 '../data/picks_2012/J17B_20121102.csv',
 '../data/picks_2012/MEGW_20120618.csv',
 '../data/picks_2012/BABR_20121127.csv',
 '../data/picks_2012/SNB_20120619.csv',
 '../data/picks_2012/FN12A_20120417.csv',
 '../data/picks_2012/FN16A_20120404.csv',

In [27]:
len(csv_list)

134423

In [28]:
#  Concatenate all the picks in all the files produced in 1_parallel_detect_picks_elep_all_sta
all_csv =[]


for i in csv_list:
    temp = pd.read_csv(i,index_col=0)
    all_csv.append(temp)
    
df = pd.concat(all_csv, axis=0)

/tmp/ipykernel_3352231/3549658960.py:9: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df = pd.concat(all_csv, axis=0)
/tmp/ipykernel_3352231/3549658960.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(all_csv, axis=0)

In [29]:
# Print df
df[0:10]

,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,trace_name,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival
0,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T06:10:29.225000Z
1,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T06:46:04.625000Z
2,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T07:00:06.025000Z
3,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T07:07:06.925000Z
4,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T08:05:24.075000Z
5,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T08:14:16.350000Z
6,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T10:52:11.925000Z
7,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T11:23:25.800000Z
8,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T11:55:23.950000Z
9,,,CN,,PGC,NaN,48.6498,-123.4521,12.0,,40.0,2012-01-25T00:00:00.000000Z,,,,,,NaN,2012-01-25T12:25:08.800000Z

In [30]:
len(df)

23571109

In [31]:
df = df[df['station_code'].isin(list(stas_pnsn_jdf['id']))]

In [32]:
len(df['station_code'].drop_duplicates())

0

In [33]:
len(df)

0

In [14]:
# df.to_csv('../data/datasets_all_years/all_picks_all_years_pnsn_jdf_for_picking.csv')

In [15]:
# Remove picks with the following stations due to the noise: 'FN05A', 'YOUB' and 'MGB'
df = df[~df['station_code'].isin(['FN05A', 'YOUB', 'MGB'])]

In [16]:
# # Remove picks with the following stations due to the noise: 'FN05A', 'YOUB' and 'MGB'
# df = df[~df['station_code'].isin(['FN05A', 'YOUB', 'MGB','FN14A','FN07A','J41A','J49A',
# 'J25B','J33B','FN18A','FN08A','M09B','G17B'])]

In [17]:
# # Remove picks with the following stations due to the noise
# df = df[~df['station_code'].isin(['FN05A', 'YOUB', 'MGB',
#                                   'J41A','J33B','M09B','FN01A','FN08A',
#                                   'FN12A','FN18A','J26A','J34A', 'J41A',
#                                   'M02A','FS03B','FS05B','FS08B','G33B',
#                                   'J17B','M10B','M13B','M18B'
#                                  ])]

In [18]:
len(df)

0

In [19]:
df.to_csv('../data/datasets_pnsn_jdf/all_picks_all_years_for_assoc_pnsn_jdf.csv')

### 1.3 Create a CSV file for picks for the association

In [20]:
# Assign P to P phases in the df
p_phase = df.loc[df['trace_p_arrival'].notna(), 'phase'] = "P"

ValueError: cannot set a frame with no defined index and a scalar

In [23]:
# Filter the df 
p_stas_picks_phase = df.loc[df['trace_p_arrival'].notna(), ['station_code','trace_p_arrival','phase']]
p_stas_picks_phase

   station_code              trace_p_arrival phase
0          J59A  2012-01-01T02:24:23.134000Z     P
1          J59A  2012-01-01T04:16:03.302000Z     P
2          J59A  2012-01-01T04:36:46.806000Z     P
3          J59A  2012-01-01T05:43:07.142000Z     P
4          J59A  2012-01-01T07:26:37.990000Z     P
..          ...                          ...   ...
16         J59A  2011-11-27T19:56:10.724000Z     P
17         J59A  2011-11-27T20:47:28.956000Z     P
18         J59A  2011-11-27T21:30:04.572000Z     P
19         J59A  2011-11-27T23:22:16.724000Z     P
20         J59A  2011-11-27T23:26:42.452000Z     P

[1667892 rows x 3 columns]

In [24]:
# Rename the df
_p_stas_picks_phase = p_stas_picks_phase.rename(columns={"station_code": "station", "trace_p_arrival": "time"})
_p_stas_picks_phase

   station                         time phase
0     J59A  2012-01-01T02:24:23.134000Z     P
1     J59A  2012-01-01T04:16:03.302000Z     P
2     J59A  2012-01-01T04:36:46.806000Z     P
3     J59A  2012-01-01T05:43:07.142000Z     P
4     J59A  2012-01-01T07:26:37.990000Z     P
..     ...                          ...   ...
16    J59A  2011-11-27T19:56:10.724000Z     P
17    J59A  2011-11-27T20:47:28.956000Z     P
18    J59A  2011-11-27T21:30:04.572000Z     P
19    J59A  2011-11-27T23:22:16.724000Z     P
20    J59A  2011-11-27T23:26:42.452000Z     P

[1667892 rows x 3 columns]

In [25]:
# Assign S to S phases in the df
s_phase = df.loc[df['trace_s_arrival'].notna(), 'phase'] = "S"# Filter the df

In [26]:
# Filter the df 
s_stas_picks_phase = df.loc[df['trace_s_arrival'].notna(), ['station_code','trace_s_arrival','phase']]
s_stas_picks_phase

   station_code              trace_s_arrival phase
12         J59A  2012-01-01T00:07:01.454000Z     S
13         J59A  2012-01-01T00:52:14.886000Z     S
14         J59A  2012-01-01T08:01:17.278000Z     S
15         J59A  2012-01-01T08:42:37.110000Z     S
16         J59A  2012-01-01T08:49:13.758000Z     S
..          ...                          ...   ...
41         J59A  2011-11-27T22:43:21.900000Z     S
42         J59A  2011-11-27T22:53:05.212000Z     S
43         J59A  2011-11-27T22:54:38.332000Z     S
44         J59A  2011-11-27T23:38:05.212000Z     S
45         J59A  2011-11-27T23:59:11.044000Z     S

[1278468 rows x 3 columns]

In [27]:
# Rename the df
_s_stas_picks_phase = s_stas_picks_phase.rename(columns={"station_code": "station", "trace_s_arrival": "time"})
_s_stas_picks_phase

   station                         time phase
12    J59A  2012-01-01T00:07:01.454000Z     S
13    J59A  2012-01-01T00:52:14.886000Z     S
14    J59A  2012-01-01T08:01:17.278000Z     S
15    J59A  2012-01-01T08:42:37.110000Z     S
16    J59A  2012-01-01T08:49:13.758000Z     S
..     ...                          ...   ...
41    J59A  2011-11-27T22:43:21.900000Z     S
42    J59A  2011-11-27T22:53:05.212000Z     S
43    J59A  2011-11-27T22:54:38.332000Z     S
44    J59A  2011-11-27T23:38:05.212000Z     S
45    J59A  2011-11-27T23:59:11.044000Z     S

[1278468 rows x 3 columns]

In [28]:
# Concatenate the P and S picks
picks = pd.concat(objs = [_p_stas_picks_phase,_s_stas_picks_phase] , axis=0)
picks

   station                         time phase
0     J59A  2012-01-01T02:24:23.134000Z     P
1     J59A  2012-01-01T04:16:03.302000Z     P
2     J59A  2012-01-01T04:36:46.806000Z     P
3     J59A  2012-01-01T05:43:07.142000Z     P
4     J59A  2012-01-01T07:26:37.990000Z     P
..     ...                          ...   ...
41    J59A  2011-11-27T22:43:21.900000Z     S
42    J59A  2011-11-27T22:53:05.212000Z     S
43    J59A  2011-11-27T22:54:38.332000Z     S
44    J59A  2011-11-27T23:38:05.212000Z     S
45    J59A  2011-11-27T23:59:11.044000Z     S

[2946360 rows x 3 columns]

In [29]:
# Swap the time and phase columns
picks = picks.iloc[:,[0,2,1]]
picks = picks.reset_index(drop=True)
picks

        station phase                         time
0          J59A     P  2012-01-01T02:24:23.134000Z
1          J59A     P  2012-01-01T04:16:03.302000Z
2          J59A     P  2012-01-01T04:36:46.806000Z
3          J59A     P  2012-01-01T05:43:07.142000Z
4          J59A     P  2012-01-01T07:26:37.990000Z
...         ...   ...                          ...
2946355    J59A     S  2011-11-27T22:43:21.900000Z
2946356    J59A     S  2011-11-27T22:53:05.212000Z
2946357    J59A     S  2011-11-27T22:54:38.332000Z
2946358    J59A     S  2011-11-27T23:38:05.212000Z
2946359    J59A     S  2011-11-27T23:59:11.044000Z

[2946360 rows x 3 columns]

In [30]:
picks[0:20]

   station phase                         time
0     J59A     P  2012-01-01T02:24:23.134000Z
1     J59A     P  2012-01-01T04:16:03.302000Z
2     J59A     P  2012-01-01T04:36:46.806000Z
3     J59A     P  2012-01-01T05:43:07.142000Z
4     J59A     P  2012-01-01T07:26:37.990000Z
5     J59A     P  2012-01-01T07:28:01.350000Z
6     J59A     P  2012-01-01T08:01:07.726000Z
7     J59A     P  2012-01-01T08:07:04.246000Z
8     J59A     P  2012-01-01T14:53:53.318000Z
9     J59A     P  2012-01-01T21:14:18.166000Z
10    J59A     P  2012-01-01T21:14:38.726000Z
11    J59A     P  2012-01-01T21:15:19.766000Z
12    J51A     P  2012-01-01T00:22:54.961000Z
13    J51A     P  2012-01-01T01:08:43.121000Z
14    J51A     P  2012-01-01T01:18:35.633000Z
15    J51A     P  2012-01-01T02:06:38.217000Z
16    J51A     P  2012-01-01T03:59:31.265000Z
17    J51A     P  2012-01-01T04:31:20.385000Z
18    J51A     P  2012-01-01T05:01:35.313000Z
19    J51A     P  2012-01-01T05:55:52.937000Z

In [31]:
# Save the these picks to the data folder
picks.to_csv("../data/datasets_pnsn_jdf/picks_pnsn_jdf.csv")

## 2. Create the stations data frame

In [32]:
# Print the stations for which the picks were detected in 1_parallel_detect_picks_elep_all_sta 
stations = df.drop_duplicates(subset='station_code')
stations

,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,trace_name,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival,phase
0,,,7D,,J59A,NaN,47.509602,-126.415298,-2371.0,,125.000000,2012-01-01T00:00:00.006000Z,,,,,,NaN,2012-01-01T02:24:23.134000Z,P
0,,,7D,,J51A,NaN,46.797001,-126.164101,-2610.0,,125.000000,2012-01-01T00:00:00.001000Z,,,,,,NaN,2012-01-01T00:22:54.961000Z,P
0,,,7D,,G03A,NaN,40.059101,-126.162498,-4113.0,,50.000000,2012-01-01T00:00:00.013500Z,,,,,,NaN,2012-01-01T01:32:55.573500Z,P
0,,,7D,,J35A,NaN,45.498901,-126.266800,-2662.0,,50.000000,2012-01-01T00:00:00.003100Z,,,,,,NaN,2012-01-01T00:37:45.563100Z,P
0,,,7D,,J43A,NaN,46.137798,-126.172096,-2654.4,,50.000000,2012-01-01T00:00:00.006900Z,,,,,,NaN,2012-01-01T01:03:23.426900Z,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,,,7D,,J43C,NaN,46.137001,-126.172501,-2645.0,,50.000000,2014-02-16T00:00:00.015700Z,,,,,,NaN,2014-02-16T02:24:26.355700Z,P
0,,,7D,,G27D,NaN,42.001301,-125.981697,-2939.0,,125.000015,2014-11-14T00:00:00.004700Z,,,,,,NaN,2014-11-14T00:00:06.348699Z,P
0,,,Z5,,GB321,NaN,40.392200,-125.911697,-2283.0,,100.000000,2014-09-14T00:00:00.001090Z,,,,,,NaN,2014-09-14T09:25:22.891090Z,P
0,,,7D,,J51C,NaN,46.795700,-126.163101,-2626.0,,125.000008,2014-05-24T00:00:00.007400Z,,,,,,NaN,2014-05-24T00:00:06.095400Z,P
0,,,OO,,HYSB1,NaN,44.509791,-125.405258,-2908.0,,200.000031,2015-12-28T00:00:00.000000Z,,,,,,NaN,2015-12-28T00:00:44.974993Z,P

In [33]:
# Obtain only the columns you need for assoication
_stations = stations.iloc[:,[4,7,6,8]]
_stations

,station_code,station_longitude_deg,station_latitude_deg,station_elevation_m
0,J59A,-126.415298,47.509602,-2371.0
0,J51A,-126.164101,46.797001,-2610.0
0,G03A,-126.162498,40.059101,-4113.0
0,J35A,-126.266800,45.498901,-2662.0
0,J43A,-126.172096,46.137798,-2654.4
...,...,...,...,...
0,J43C,-126.172501,46.137001,-2645.0
0,G27D,-125.981697,42.001301,-2939.0
0,GB321,-125.911697,40.392200,-2283.0
0,J51C,-126.163101,46.795700,-2626.0
0,HYSB1,-125.405258,44.509791,-2908.0

In [34]:
# Rename the columns
_stations = _stations.rename(columns={'station_code': 'id', 'station_longitude_deg': 'longitude', 'station_latitude_deg': 'latitude', 'station_elevation_m': 'elevation'})
_stations = _stations.reset_index(drop=True)
_stations

       id   longitude   latitude  elevation
0    J59A -126.415298  47.509602    -2371.0
1    J51A -126.164101  46.797001    -2610.0
2    G03A -126.162498  40.059101    -4113.0
3    J35A -126.266800  45.498901    -2662.0
4    J43A -126.172096  46.137798    -2654.4
..    ...         ...        ...        ...
72   J43C -126.172501  46.137001    -2645.0
73   G27D -125.981697  42.001301    -2939.0
74  GB321 -125.911697  40.392200    -2283.0
75   J51C -126.163101  46.795700    -2626.0
76  HYSB1 -125.405258  44.509791    -2908.0

[77 rows x 4 columns]

In [35]:
# Create  a csv file
_stations.to_csv('../data/datasets_pnsn_jdf/all_stations_pnsn_jdf.csv')

## 3. Make pick and station data frames for different CI years

### 3.1 Make pick and station data frames for CI year 1 of 2012

### 3.1.1 Picks

In [38]:
t = pd.Timestamp(f'{year}-7-31 00:00:00.000000+0000', tz='UTC')
picks = pd.read_csv("../data/datasets_2012/picks_2012.csv",index_col=0)
picks["time"] = pd.to_datetime(picks['time'], utc = True)
picks_CI1 = picks[picks['time']<=t]
picks_CI1

        station phase                             time
0           PGC     P 2012-01-25 06:10:29.225000+00:00
1           PGC     P 2012-01-25 06:46:04.625000+00:00
2           PGC     P 2012-01-25 07:00:06.025000+00:00
3           PGC     P 2012-01-25 07:07:06.925000+00:00
4           PGC     P 2012-01-25 08:05:24.075000+00:00
...         ...   ...                              ...
3715118     KBO     S 2012-02-08 12:14:33.610000+00:00
3715119     KBO     S 2012-02-08 13:25:05.800000+00:00
3715120     KBO     S 2012-02-08 14:50:53.370000+00:00
3715121     KBO     S 2012-02-08 15:37:35.810000+00:00
3715122     KBO     S 2012-02-08 19:13:18.460000+00:00

[1677988 rows x 3 columns]

In [39]:
picks_CI1.to_csv('../data/datasets_2012/picks_2012_CI1.csv')

### 3.1.2 Stations

In [43]:
stas = pd.read_csv("../data/datasets_2012/all_stations_2012.csv",index_col=0)
stas

        id   longitude   latitude  elevation
0      PGC -123.452100  48.649800       12.0
1     KSXB -123.876884  41.830379     1136.0
2      JCC -124.029549  40.817451       27.2
3      VGZ -123.325100  48.413100       67.0
4     J01D -123.931396  43.161400      131.0
..     ...         ...        ...        ...
110  BB060 -126.113297  42.856098    -2795.0
111  FS14B -124.591797  40.495499     -107.0
112   M06A -124.926804  45.529499    -1439.0
113  FS11B -124.577797  40.429199     -132.0
114   G20B -126.613297  41.298698    -3141.0

[115 rows x 4 columns]

In [50]:
stas_CI1 = list(picks_CI1['station'].drop_duplicates().values)
stas_CI1

['PGC',
 'KSXB',
 'JCC',
 'VGZ',
 'J01D',
 'LEBA',
 'KHBB',
 'J50A',
 'FN14A',
 'KCT',
 'KBO',
 'OZB',
 'J51A',
 'SHB',
 'J25A',
 'KEB',
 'LZB',
 'FN16A',
 'M03A',
 'FN07A',
 'D03D',
 'DBO',
 'KRP',
 'J59A',
 'I02D',
 'TAKO',
 'J42A',
 'MEGW',
 'KRMB',
 'KMPB',
 'F04D',
 'HEBO',
 'J57A',
 'J43A',
 'J49A',
 'G03D',
 'J73A',
 'FORK',
 'WISH',
 'RADR',
 'M08A',
 'L02D',
 'BABR',
 'NLLB',
 'SNB',
 'KHMB',
 'J35A',
 'K02D',
 'J65A',
 'G03A',
 'J58A',
 'KMR',
 'JEDS',
 'FISH',
 'OFR',
 'M07A',
 'PFB',
 'M01A',
 'I03D',
 'LRIV',
 'J33A',
 'BTB',
 'NC89',
 'M06A',
 'J25B',
 'NCBC']

In [52]:
_stas_CI1 = stas.loc[stas['id'].isin(stas_CI1)]
_stas_CI1

       id   longitude   latitude  elevation
0     PGC -123.452100  48.649800       12.0
1    KSXB -123.876884  41.830379     1136.0
2     JCC -124.029549  40.817451       27.2
3     VGZ -123.325100  48.413100       67.0
4    J01D -123.931396  43.161400      131.0
..    ...         ...        ...        ...
101  NC89 -126.848767  48.670537    -1258.0
102  M07A -125.116798  44.898701    -1356.5
104  M01A -126.722099  49.150398     -132.9
108  J33A -124.570801  45.106602     -348.7
112  M06A -124.926804  45.529499    -1439.0

[66 rows x 4 columns]

In [53]:
_stas_CI1.to_csv('../data/datasets_2012/stations_2012_CI1.csv')