## Notebook for formatting data frames for phase association
Source:
1. https://chatgpt.com/

In [1]:
import pandas as pd
import numpy as np
import datetime
import glob
import os

### 1.1 Load the station data frame

In [2]:
region = 'pnsn_jdf'
stas_2011 = pd.read_csv(f'../data/datasets_2011/stas_2011_{region}.csv',index_col=0)
stas_2012 = pd.read_csv(f'../data/datasets_2012/stas_2012_{region}.csv',index_col=0)
stas_2013 = pd.read_csv(f'../data/datasets_2013/stas_2013_{region}.csv',index_col=0)
stas_2014 = pd.read_csv(f'../data/datasets_2014/stas_2014_{region}.csv',index_col=0)
stas_2015 = pd.read_csv(f'../data/datasets_2015/stas_2015_{region}.csv',index_col=0)
print(stas_2011)
print(stas_2012)
print(stas_2013)
print(stas_2014)
print(stas_2015)

         id   longitude   latitude  elevation
0  7D.J59A. -126.415298  47.509602    -2371.0
1  7D.J51A. -126.164101  46.797001    -2610.0
2  7D.G03A. -126.162498  40.059101    -4113.0
3  7D.J35A. -126.266800  45.498901    -2662.0
4  7D.J43A. -126.172096  46.137798    -2654.4
           id   longitude   latitude  elevation
0   7D.FS02B. -124.797997  40.351101    -1402.8
1    7D.J51A. -126.164101  46.797001    -2610.0
2   7D.FS06B. -124.785301  40.381199    -2198.0
3    7D.G11B. -126.376404  40.687500    -3123.0
4   7D.FS09B. -124.808502  40.438702    -2161.0
5    7D.J59A. -126.415298  47.509602    -2371.0
6   7D.FS13B. -124.806503  40.493099    -2332.0
7   7D.FS01B. -124.949203  40.326801     -940.0
8    7D.G19B. -125.773598  41.307400    -3071.0
9    7D.J43A. -126.172096  46.137798    -2654.4
10   7D.G26B. -125.177498  41.924900    -2357.0
11  7D.FS20B. -125.031097  40.389500    -2378.0
12   7D.G28B. -126.733902  41.942799    -3327.0
13   7D.G02B. -125.296898  40.048599    -1920.0
14   7D.G10B. -125.553299  40.677898    -2936.0
15  X9.BB070. -126.006798  43.306801    -3023.0
16   7D.J18B. -125.466003  44.008301    -3047.0
17   7D.J19B. -126.271698  44.177700    -2968.0
18   7D.J35A. -126.266800  45.498901    -2662.0
19  7D.G36B2. -126.903801  42.599400    -2423.0
20  X9.BB030. -126.933601  42.947300    -2730.0
21   7D.J11B. -126.367302  43.541401    -3030.0
22   7D.G03A. -126.162498  40.059101    -4113.0
23  X9.BB090. -126.660301  43.373600    -2901.0
24   7D.G03B. -126.163399  40.057999    -4051.0
25   7D.G04B. -126.928497  40.058498    -4368.0
26   7D.J27B. -126.306900  44.847599    -2824.0
27   7D.G35B. -126.055801  42.565800    -2367.0
28   7D.J10B. -125.543503  43.349400    -3093.0
29   7D.G27B. -126.016701  41.916599    -3480.0
30  7D.FS05B. -124.899597  40.386600    -2316.0
31   7D.J26A. -125.466400  44.654701    -2864.0
32  X9.BB060. -126.113297  42.856098    -2795.0
33   7D.G20B. -126.613297  41.298698    -3141.0
           id   longitude   latitude  elevation
0    7D.G02B. -125.296898  40.048599    -1920.0
1   Z5.BB630. -126.636902  42.877399    -3340.0
2   X9.BB060. -126.113297  42.856098    -2795.0
3    7D.G10B. -125.553299  40.677898    -2936.0
4   X9.BB070. -126.006798  43.306801    -3023.0
5   X9.BB090. -126.660301  43.373600    -2901.0
6    7D.G03B. -126.163399  40.057999    -4051.0
7   7D.G36B2. -126.903801  42.599400    -2423.0
8   7D.FS09B. -124.808502  40.438702    -2161.0
9    7D.J18B. -125.466003  44.008301    -3047.0
10   7D.J59C. -126.416801  47.511101    -2389.0
11  Z5.GB260. -125.221298  40.975498    -3067.0
12   7D.J11B. -126.367302  43.541401    -3030.0
13  X9.BB030. -126.933601  42.947300    -2730.0
14   7D.J10B. -125.543503  43.349400    -3093.0
15   7D.J27B. -126.306900  44.847599    -2824.0
16   7D.G35B. -126.055801  42.565800    -2367.0
17  Z5.GB380. -126.162498  40.059399    -4068.0
18  7D.FS06B. -124.785301  40.381199    -2198.0
19   7D.J19B. -126.271698  44.177700    -2968.0
20   7D.G27B. -126.016701  41.916599    -3480.0
21  7D.FS02B. -124.797997  40.351101    -1402.8
22   7D.G28B. -126.733902  41.942799    -3327.0
23  7D.FS05B. -124.899597  40.386600    -2316.0
24  7D.FS01B. -124.949203  40.326801     -940.0
25   7D.G19B. -125.773598  41.307400    -3071.0
26   7D.J35C. -126.268303  45.499500    -2655.0
27   7D.J43C. -126.172501  46.137001    -2645.0
28  Z5.GB320. -125.912102  40.396599    -2332.0
29  Z5.GB210. -126.055801  41.337002    -3094.0
30   7D.G20B. -126.613297  41.298698    -3141.0
31  Z5.GB220. -126.914497  41.073299    -2998.0
32   7D.J26C. -125.465302  44.653400    -2868.0
33   7D.G04B. -126.928497  40.058498    -4368.0
34   7D.G11B. -126.376404  40.687500    -3123.0
35  7D.FS20B. -125.031097  40.389500    -2378.0
36  7D.FS13B. -124.806503  40.493099    -2332.0
37  Z5.GB330. -126.584900  40.511101    -3156.0
38  Z5.GB080. -125.307701  41.982800    -3103.0
39  Z5.GB050. -126.902702  42.474998    -3948.0
40  Z5.GB100. -126.585197  42.026001    -3571.0
41  Z5.GB030. -125.857101  42.356499    -2621.0
42   7D.G26B. -125.177498  41.924900    -2357.0
43   7D.J51C. -126.163101  46.795700    -2626.0
           id   longitude   latitude  elevation
0    7D.G34D. -125.448601  42.572300    -3089.0
1   Z5.GB210. -126.055801  41.337002    -3094.0
2   Z5.BB630. -126.636902  42.877399    -3340.0
3   Z5.GB050. -126.902702  42.474998    -3948.0
4    7D.G20D. -126.863800  41.451599    -2931.3
5    7D.J19D. -126.271202  44.179001    -2955.4
6   7D.FS09D. -124.803703  40.437698    -2122.1
7   Z5.GB030. -125.857101  42.356499    -2621.0
8    7D.J10D. -125.545097  43.348499    -3085.0
9    7D.G36D. -126.896500  42.461800    -3779.6
10   7D.J26C. -125.465302  44.653400    -2868.0
11  Z5.GB220. -126.914497  41.073299    -2998.0
12   7D.J27D. -126.308296  44.848900    -2814.8
13   7D.G35D. -126.399002  42.555698    -2822.6
14   7D.G10D. -125.554398  40.788799    -3015.0
15  Z5.GB380. -126.162498  40.059399    -4068.0
16  7D.FS13D. -124.803398  40.493698    -2291.2
17  Z5.GB320. -125.912102  40.396599    -2332.0
18   7D.J18D. -125.481400  43.977200    -3050.0
19   7D.J59C. -126.416801  47.511101    -2389.0
20   7D.J35C. -126.268303  45.499500    -2655.0
21  Z5.BB631. -126.634399  42.878700    -3320.0
22  Z5.GB260. -125.221298  40.975498    -3067.0
23  Z5.GB100. -126.585197  42.026001    -3571.0
24   7D.G26D. -125.308296  41.983799    -3104.0
25   7D.G02D. -125.297699  40.160301    -1741.0
26  7D.FS02D. -124.800201  40.326000     -947.9
27  Z5.GB080. -125.307701  41.982800    -3103.0
28   7D.J26D. -125.467003  44.657700    -2880.0
29  Z5.GB101. -126.587997  42.020500    -3585.0
30  Z5.GB281. -126.089897  41.028400    -3124.0
31   7D.G19D. -126.027901  41.331600    -3082.0
32   7D.J11D. -126.368599  43.541599    -3000.8
33   7D.G04D. -126.784698  40.157700    -4350.3
34  Z5.GB331. -126.584000  40.513000    -3137.0
35   7D.G18D. -125.255798  41.304699    -3130.0
36  Z5.GB330. -126.584900  40.511101    -3156.0
37  7D.FS06D. -124.806702  40.369999    -1946.8
38   7D.G11D. -126.468300  40.784500    -3145.0
39   7D.G03D. -126.161201  40.058701    -4056.5
40   7D.J43C. -126.172501  46.137001    -2645.0
41   7D.G27D. -125.981697  42.001301    -2939.0
42  Z5.GB321. -125.911697  40.392200    -2283.0
43   7D.J51C. -126.163101  46.795700    -2626.0
           id   longitude   latitude  elevation
0    7D.G26D. -125.308296  41.983799    -3104.0
1   Z5.GB101. -126.587997  42.020500    -3585.0
2   7D.FS06D. -124.806702  40.369999    -1946.8
3    7D.G19D. -126.027901  41.331600    -3082.0
4    7D.J18D. -125.481400  43.977200    -3050.0
5   7D.FS09D. -124.803703  40.437698    -2122.1
6    7D.G04D. -126.784698  40.157700    -4350.3
7   Z5.GB331. -126.584000  40.513000    -3137.0
8    7D.G18D. -125.255798  41.304699    -3130.0
9    7D.G27D. -125.981697  42.001301    -2939.0
10  7D.FS13D. -124.803398  40.493698    -2291.2
11   7D.J11D. -126.368599  43.541599    -3000.8
12  7D.FS02D. -124.800201  40.326000     -947.9
13   7D.J27D. -126.308296  44.848900    -2814.8
14   7D.G20D. -126.863800  41.451599    -2931.3
15   7D.G36D. -126.896500  42.461800    -3779.6
16   7D.G02D. -125.297699  40.160301    -1741.0
17  Z5.GB281. -126.089897  41.028400    -3124.0
18   7D.J19D. -126.271202  44.179001    -2955.4
19   7D.G03D. -126.161201  40.058701    -4056.5
20   7D.G34D. -125.448601  42.572300    -3089.0
21   7D.J26D. -125.467003  44.657700    -2880.0
22   7D.J10D. -125.545097  43.348499    -3085.0
23   7D.G35D. -126.399002  42.555698    -2822.6
24   7D.G10D. -125.554398  40.788799    -3015.0
25  Z5.BB631. -126.634399  42.878700    -3320.0
26  OO.HYSB1. -125.405258  44.509791    -2908.0
27  Z5.GB321. -125.911697  40.392200    -2283.0

In [3]:
stas = pd.concat([stas_2011,stas_2012,stas_2013,
                           stas_2014,stas_2015],ignore_index=True)
stas = stas.drop_duplicates(subset='id')
stas = stas.reset_index(drop=True)
stas

           id   longitude   latitude  elevation
0    7D.J59A. -126.415298  47.509602    -2371.0
1    7D.J51A. -126.164101  46.797001    -2610.0
2    7D.G03A. -126.162498  40.059101    -4113.0
3    7D.J35A. -126.266800  45.498901    -2662.0
4    7D.J43A. -126.172096  46.137798    -2654.4
..        ...         ...        ...        ...
74   7D.G11D. -126.468300  40.784500    -3145.0
75   7D.G03D. -126.161201  40.058701    -4056.5
76   7D.G27D. -125.981697  42.001301    -2939.0
77  Z5.GB321. -125.911697  40.392200    -2283.0
78  OO.HYSB1. -125.405258  44.509791    -2908.0

[79 rows x 4 columns]

In [4]:
stas.to_csv(f'../data/datasets_{region}/all_stations_{region}.csv')

### 1.2 Concatenate data frames from several stations and format

In [5]:
df = pd.read_csv('../data/datasets_all_regions/all_picks_all_years_for_assoc.csv',index_col=0)

In [6]:
df['station_id'] = df['station_network_code'] + '.' + df['station_code']+'.'
df = df[df['station_id'].isin(list(stas['id']))]

In [7]:
len(df['station_id'].drop_duplicates())

79

In [8]:
len(df)

3762601

In [9]:
# df.to_csv('../data/datasets_all_years/all_picks_all_years_pnsn_jdf_for_picking.csv')

In [10]:
# # Remove picks with the following stations due to the noise: 'FN05A', 'YOUB' and 'MGB'
# df = df[~df['station_code'].isin(['FN05A', 'YOUB', 'MGB','FN14A','FN07A','J41A','J49A',
# 'J25B','J33B','FN18A','FN08A','M09B','G17B'])]

In [11]:
# # Remove picks with the following stations due to the noise
# df = df[~df['station_code'].isin(['FN05A', 'YOUB', 'MGB',
#                                   'J41A','J33B','M09B','FN01A','FN08A',
#                                   'FN12A','FN18A','J26A','J34A', 'J41A',
#                                   'M02A','FS03B','FS05B','FS08B','G33B',
#                                   'J17B','M10B','M13B','M18B'
#                                  ])]

In [12]:
len(df)

3762601

In [13]:
df.to_csv(f'../data/datasets_{region}/all_picks_all_years_for_assoc_{region}.csv')

### 1.3 Create a CSV file for picks for the association

In [14]:
df = pd.read_csv(f'../data/datasets_{region}/all_picks_all_years_for_assoc_{region}.csv',index_col=0)

In [15]:
# Assign P to P phases in the df
p_phase = df.loc[df['trace_p_arrival'].notna(), 'phase'] = "P"

In [16]:
# Filter the df 
p_stas_picks_phase = df.loc[df['trace_p_arrival'].notna(), ['station_id','trace_p_arrival','phase','pick_id']]
p_stas_picks_phase

         station_id              trace_p_arrival phase   pick_id
1361617    7D.J43A.  2011-10-19T22:42:41.009000Z     P   1361617
1372478    7D.J43A.  2011-10-20T21:31:11.089500Z     P   1372478
1372479    7D.J43A.  2011-10-20T18:30:20.749500Z     P   1372479
1372485    7D.J43A.  2011-10-20T18:30:07.509500Z     P   1372485
1372486    7D.J43A.  2011-10-20T21:30:58.849500Z     P   1372486
...             ...                          ...   ...       ...
23562560  OO.HYSB1.  2015-12-28T18:47:37.759676Z     P  23562560
23562561  OO.HYSB1.  2015-12-28T18:10:53.320013Z     P  23562561
23562562  OO.HYSB1.  2015-12-28T17:26:54.490415Z     P  23562562
23562563  OO.HYSB1.  2015-12-28T17:18:58.090488Z     P  23562563
23562564  OO.HYSB1.  2015-12-28T11:29:14.683690Z     P  23562564

[2166517 rows x 4 columns]

In [17]:
# Rename the df
_p_stas_picks_phase = p_stas_picks_phase.rename(columns={"station_id": "station", "trace_p_arrival": "time"})
_p_stas_picks_phase

            station                         time phase   pick_id
1361617    7D.J43A.  2011-10-19T22:42:41.009000Z     P   1361617
1372478    7D.J43A.  2011-10-20T21:31:11.089500Z     P   1372478
1372479    7D.J43A.  2011-10-20T18:30:20.749500Z     P   1372479
1372485    7D.J43A.  2011-10-20T18:30:07.509500Z     P   1372485
1372486    7D.J43A.  2011-10-20T21:30:58.849500Z     P   1372486
...             ...                          ...   ...       ...
23562560  OO.HYSB1.  2015-12-28T18:47:37.759676Z     P  23562560
23562561  OO.HYSB1.  2015-12-28T18:10:53.320013Z     P  23562561
23562562  OO.HYSB1.  2015-12-28T17:26:54.490415Z     P  23562562
23562563  OO.HYSB1.  2015-12-28T17:18:58.090488Z     P  23562563
23562564  OO.HYSB1.  2015-12-28T11:29:14.683690Z     P  23562564

[2166517 rows x 4 columns]

In [18]:
# Assign S to S phases in the df
s_phase = df.loc[df['trace_s_arrival'].notna(), 'phase'] = "S"# Filter the df

In [19]:
# Filter the df 
s_stas_picks_phase = df.loc[df['trace_s_arrival'].notna(), ['station_id','trace_s_arrival','phase','pick_id']]
s_stas_picks_phase

         station_id              trace_s_arrival phase   pick_id
1361616    7D.J43A.  2011-10-19T22:42:41.349000Z     S   1361616
1372480    7D.J43A.  2011-10-20T18:48:36.169500Z     S   1372480
1372481    7D.J43A.  2011-10-20T20:15:01.229500Z     S   1372481
1372482    7D.J43A.  2011-10-20T21:25:04.689500Z     S   1372482
1372483    7D.J43A.  2011-10-20T21:30:20.469500Z     S   1372483
...             ...                          ...   ...       ...
23562550  OO.HYSB1.  2015-12-28T02:27:18.963651Z     S  23562550
23562551  OO.HYSB1.  2015-12-28T02:20:46.603711Z     S  23562551
23562552  OO.HYSB1.  2015-12-28T00:47:05.304569Z     S  23562552
23562553  OO.HYSB1.  2015-12-28T00:11:33.859894Z     S  23562553
23562554  OO.HYSB1.  2015-12-28T00:00:45.184993Z     S  23562554

[1596084 rows x 4 columns]

In [20]:
# Rename the df
_s_stas_picks_phase = s_stas_picks_phase.rename(columns={"station_id": "station", "trace_s_arrival": "time"})
_s_stas_picks_phase

            station                         time phase   pick_id
1361616    7D.J43A.  2011-10-19T22:42:41.349000Z     S   1361616
1372480    7D.J43A.  2011-10-20T18:48:36.169500Z     S   1372480
1372481    7D.J43A.  2011-10-20T20:15:01.229500Z     S   1372481
1372482    7D.J43A.  2011-10-20T21:25:04.689500Z     S   1372482
1372483    7D.J43A.  2011-10-20T21:30:20.469500Z     S   1372483
...             ...                          ...   ...       ...
23562550  OO.HYSB1.  2015-12-28T02:27:18.963651Z     S  23562550
23562551  OO.HYSB1.  2015-12-28T02:20:46.603711Z     S  23562551
23562552  OO.HYSB1.  2015-12-28T00:47:05.304569Z     S  23562552
23562553  OO.HYSB1.  2015-12-28T00:11:33.859894Z     S  23562553
23562554  OO.HYSB1.  2015-12-28T00:00:45.184993Z     S  23562554

[1596084 rows x 4 columns]

In [21]:
# Concatenate the P and S picks
picks = pd.concat(objs = [_p_stas_picks_phase,_s_stas_picks_phase] , axis=0)
picks

            station                         time phase   pick_id
1361617    7D.J43A.  2011-10-19T22:42:41.009000Z     P   1361617
1372478    7D.J43A.  2011-10-20T21:31:11.089500Z     P   1372478
1372479    7D.J43A.  2011-10-20T18:30:20.749500Z     P   1372479
1372485    7D.J43A.  2011-10-20T18:30:07.509500Z     P   1372485
1372486    7D.J43A.  2011-10-20T21:30:58.849500Z     P   1372486
...             ...                          ...   ...       ...
23562550  OO.HYSB1.  2015-12-28T02:27:18.963651Z     S  23562550
23562551  OO.HYSB1.  2015-12-28T02:20:46.603711Z     S  23562551
23562552  OO.HYSB1.  2015-12-28T00:47:05.304569Z     S  23562552
23562553  OO.HYSB1.  2015-12-28T00:11:33.859894Z     S  23562553
23562554  OO.HYSB1.  2015-12-28T00:00:45.184993Z     S  23562554

[3762601 rows x 4 columns]

In [22]:
# Swap the time and phase columns
picks = picks.iloc[:,[0,2,1,3]]
picks = picks.reset_index(drop=True)
picks

           station phase                         time   pick_id
0         7D.J43A.     P  2011-10-19T22:42:41.009000Z   1361617
1         7D.J43A.     P  2011-10-20T21:31:11.089500Z   1372478
2         7D.J43A.     P  2011-10-20T18:30:20.749500Z   1372479
3         7D.J43A.     P  2011-10-20T18:30:07.509500Z   1372485
4         7D.J43A.     P  2011-10-20T21:30:58.849500Z   1372486
...            ...   ...                          ...       ...
3762596  OO.HYSB1.     S  2015-12-28T02:27:18.963651Z  23562550
3762597  OO.HYSB1.     S  2015-12-28T02:20:46.603711Z  23562551
3762598  OO.HYSB1.     S  2015-12-28T00:47:05.304569Z  23562552
3762599  OO.HYSB1.     S  2015-12-28T00:11:33.859894Z  23562553
3762600  OO.HYSB1.     S  2015-12-28T00:00:45.184993Z  23562554

[3762601 rows x 4 columns]

In [23]:
picks[0:20]

     station phase                         time  pick_id
0   7D.J43A.     P  2011-10-19T22:42:41.009000Z  1361617
1   7D.J43A.     P  2011-10-20T21:31:11.089500Z  1372478
2   7D.J43A.     P  2011-10-20T18:30:20.749500Z  1372479
3   7D.J43A.     P  2011-10-20T18:30:07.509500Z  1372485
4   7D.J43A.     P  2011-10-20T21:30:58.849500Z  1372486
5   7D.J43A.     P  2011-10-20T17:28:04.729500Z  1372487
6   7D.J43A.     P  2011-10-20T21:33:45.749500Z  1372488
7   7D.J43A.     P  2011-10-20T21:50:56.449500Z  1372489
8   7D.J43A.     P  2011-10-20T05:56:07.949500Z  1372490
9   7D.J43A.     P  2011-10-20T22:11:09.189500Z  1372491
10  7D.J43A.     P  2011-10-20T23:45:17.969500Z  1372492
11  7D.J43A.     P  2011-10-20T18:30:55.589500Z  1372494
12  7D.J43A.     P  2011-10-20T18:31:59.269500Z  1372495
13  7D.J43A.     P  2011-10-20T18:47:05.889500Z  1372496
14  7D.J43A.     P  2011-10-20T19:25:55.749500Z  1372497
15  7D.J43A.     P  2011-10-20T21:30:17.709500Z  1372498
16  7D.J43A.     P  2011-10-20T21:25:04.449500Z  1372499
17  7D.J43A.     P  2011-10-20T20:15:00.689500Z  1372500
18  7D.J43A.     P  2011-10-20T19:34:54.789500Z  1372501
19  7D.J43A.     P  2011-10-20T19:28:34.969500Z  1372502

In [24]:
# Save the these picks to the data folder
picks.to_csv(f"../data/datasets_{region}/picks_{region}.csv")