## Notebook for formatting data frames for phase association
Source:
1. https://chatgpt.com/

In [5]:
import pandas as pd
import numpy as np
import datetime
import glob
import os

### 1.1 Load the station data frame

In [9]:
stas_2011_swa_shelf_trench = pd.read_csv('../data/datasets_2011/stas_2011_swa_shelf_trench.csv',index_col=0)
stas_2012_swa_shelf_trench = pd.read_csv('../data/datasets_2012/stas_2012_swa_shelf_trench.csv',index_col=0)
stas_2013_swa_shelf_trench = pd.read_csv('../data/datasets_2013/stas_2013_swa_shelf_trench.csv',index_col=0)
stas_2014_swa_shelf_trench = pd.read_csv('../data/datasets_2014/stas_2014_swa_shelf_trench.csv',index_col=0)
stas_2015_swa_shelf_trench = pd.read_csv('../data/datasets_2015/stas_2015_swa_shelf_trench.csv',index_col=0)
print(stas_2011_swa_shelf_trench)
print(stas_2012_swa_shelf_trench)
print(stas_2013_swa_shelf_trench)
print(stas_2014_swa_shelf_trench)
print(stas_2015_swa_shelf_trench)

          id   longitude   latitude  elevation
0  7D.FN08A. -124.876900  46.888802     -177.0
1   7D.J42A. -125.299698  45.933102    -1540.0
2   7D.J49A. -124.427498  46.437801     -120.0
3  7D.FN14A. -124.964699  47.024799     -173.0
4  7D.FN07A. -124.786499  46.855499     -154.0
5  7D.FN16A. -125.516098  46.799599    -1907.0
6  7D.FN18A. -124.724800  46.699799     -163.0
7   7D.J50A. -125.299103  46.640202    -1909.0
8  7D.FN12A. -125.119202  46.888500     -650.0
9   7D.J57A. -124.450500  47.080101      -55.8
           id   longitude   latitude  elevation
0    7D.J50A. -125.299103  46.640202    -1909.0
1   7D.FN14A. -124.964699  47.024799     -173.0
2   7D.FN16A. -125.516098  46.799599    -1907.0
3   7D.FN07A. -124.786499  46.855499     -154.0
4   7D.FN12A. -125.119202  46.888500     -650.0
5    7D.J42A. -125.299698  45.933102    -1540.0
6    7D.J57A. -124.450500  47.080101      -55.8
7    7D.J49A. -124.427498  46.437801     -120.0
8   7D.FN18A. -124.724800  46.699799     -163.0
9   7D.FN08A. -124.876900  46.888802     -177.0
10   7D.J58A. -125.534401  47.318802    -1511.0
11  7D.FN01A. -124.333702  46.882000      -54.0
           id   longitude   latitude  elevation
0   7D.FN19C. -124.366798  46.730099      -72.0
1    7D.J49C. -124.427803  46.438000     -113.0
2   7D.FN02C. -124.428001  46.949699      -67.0
3   7D.FN01C. -124.333298  46.882301      -56.0
4   7D.FN05C. -124.655602  46.857498     -123.0
5   7D.FN14C. -124.964203  47.024899     -173.0
6   7D.FN03C. -124.525101  46.887199      -93.0
7    7D.J42C. -125.299103  45.932301    -1550.0
8   7D.FN12C. -125.119003  46.888699     -656.0
9    7D.J50C. -125.298698  46.641102    -1931.0
10   7D.J57C. -124.450600  47.080399      -67.0
11   7D.M05C. -124.934502  46.173500     -837.0
12  7D.FN07C. -124.786003  46.855400     -158.0
13   7D.M04C. -125.192299  47.558399     -570.0
14  7D.FN09C. -124.887199  46.840199     -198.0
15  7D.FN11C. -125.045403  46.820499     -619.0
16  7D.FN08C. -124.875999  46.888699     -176.0
17  7D.FN13C. -125.301102  47.000401    -1764.0
18  7D.FN10C. -124.993500  46.898102     -811.0
19   7D.J58C. -125.534599  47.317799    -1527.0
20  7D.FN04C. -124.601303  46.917500     -104.0
21  7D.FN06C. -124.731300  46.922001     -137.0
22  7D.FN16C. -125.500099  46.800499    -1728.0
23  7D.FN17C. -125.000504  46.681599    -1015.0
           id   longitude   latitude  elevation
0   7D.FN07C. -124.786003  46.855400     -158.0
1    7D.J50C. -125.298698  46.641102    -1931.0
2   7D.FN03C. -124.525101  46.887199      -93.0
3   7D.FN04C. -124.601303  46.917500     -104.0
4   7D.FN12C. -125.119003  46.888699     -656.0
5    7D.J49C. -124.427803  46.438000     -113.0
6    7D.M05C. -124.934502  46.173500     -837.0
7    7D.M04C. -125.192299  47.558399     -570.0
8   7D.FN19C. -124.366798  46.730099      -72.0
9    7D.J42C. -125.299103  45.932301    -1550.0
10  7D.FN02C. -124.428001  46.949699      -67.0
11  7D.FN01C. -124.333298  46.882301      -56.0
12  7D.FN08C. -124.875999  46.888699     -176.0
13  7D.FN05C. -124.655602  46.857498     -123.0
14  7D.FN11C. -125.045403  46.820499     -619.0
15   7D.J58C. -125.534599  47.317799    -1527.0
16  7D.FN13C. -125.301102  47.000401    -1764.0
17  7D.FN14C. -124.964203  47.024899     -173.0
18  7D.FN09C. -124.887199  46.840199     -198.0
19  7D.FN17C. -125.000504  46.681599    -1015.0
20   7D.J57C. -124.450600  47.080399      -67.0
21  7D.FN06C. -124.731300  46.922001     -137.0
22  7D.FN18C. -124.724800  46.700100     -166.0
23  7D.FN16C. -125.500099  46.800499    -1728.0
Empty DataFrame
Columns: [id, longitude, latitude, elevation]
Index: []

In [10]:
stas_swa_shelf_trench = pd.concat([stas_2011_swa_shelf_trench,stas_2012_swa_shelf_trench,stas_2013_swa_shelf_trench,
                           stas_2014_swa_shelf_trench,stas_2015_swa_shelf_trench],ignore_index=True)
stas_swa_shelf_trench = stas_swa_shelf_trench.drop_duplicates(subset='id')
stas_swa_shelf_trench

/tmp/ipykernel_3353858/2960368154.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  stas_swa_shelf_trench = pd.concat([stas_2011_swa_shelf_trench,stas_2012_swa_shelf_trench,stas_2013_swa_shelf_trench,

           id   longitude   latitude  elevation
0   7D.FN08A. -124.876900  46.888802     -177.0
1    7D.J42A. -125.299698  45.933102    -1540.0
2    7D.J49A. -124.427498  46.437801     -120.0
3   7D.FN14A. -124.964699  47.024799     -173.0
4   7D.FN07A. -124.786499  46.855499     -154.0
5   7D.FN16A. -125.516098  46.799599    -1907.0
6   7D.FN18A. -124.724800  46.699799     -163.0
7    7D.J50A. -125.299103  46.640202    -1909.0
8   7D.FN12A. -125.119202  46.888500     -650.0
9    7D.J57A. -124.450500  47.080101      -55.8
20   7D.J58A. -125.534401  47.318802    -1511.0
21  7D.FN01A. -124.333702  46.882000      -54.0
22  7D.FN19C. -124.366798  46.730099      -72.0
23   7D.J49C. -124.427803  46.438000     -113.0
24  7D.FN02C. -124.428001  46.949699      -67.0
25  7D.FN01C. -124.333298  46.882301      -56.0
26  7D.FN05C. -124.655602  46.857498     -123.0
27  7D.FN14C. -124.964203  47.024899     -173.0
28  7D.FN03C. -124.525101  46.887199      -93.0
29   7D.J42C. -125.299103  45.932301    -1550.0
30  7D.FN12C. -125.119003  46.888699     -656.0
31   7D.J50C. -125.298698  46.641102    -1931.0
32   7D.J57C. -124.450600  47.080399      -67.0
33   7D.M05C. -124.934502  46.173500     -837.0
34  7D.FN07C. -124.786003  46.855400     -158.0
35   7D.M04C. -125.192299  47.558399     -570.0
36  7D.FN09C. -124.887199  46.840199     -198.0
37  7D.FN11C. -125.045403  46.820499     -619.0
38  7D.FN08C. -124.875999  46.888699     -176.0
39  7D.FN13C. -125.301102  47.000401    -1764.0
40  7D.FN10C. -124.993500  46.898102     -811.0
41   7D.J58C. -125.534599  47.317799    -1527.0
42  7D.FN04C. -124.601303  46.917500     -104.0
43  7D.FN06C. -124.731300  46.922001     -137.0
44  7D.FN16C. -125.500099  46.800499    -1728.0
45  7D.FN17C. -125.000504  46.681599    -1015.0
68  7D.FN18C. -124.724800  46.700100     -166.0

In [11]:
# Create  a csv file
stas_swa_shelf_trench.to_csv('../data/datasets_swa_shelf_trench/all_stations_swa_shelf_trench.csv')

### 1.2 Concatenate data frames from several stations and format

In [6]:
# Gather all the files that we produced in 1_parallel_detect_picks_elep_all_sta
csv_list = glob.glob('../data/picks_201*/*.csv')

In [7]:
# Print csv_list
csv_list

['../data/picks_20120101/BABR_20120101.csv',
 '../data/picks_20120101/LEBA_20120101.csv',
 '../data/picks_20120101/DBO_20120101.csv',
 '../data/picks_20120101/L02D_20120101.csv',
 '../data/picks_20120101/KSXB_20120101.csv',
 '../data/picks_20120101/KCT_20120101.csv',
 '../data/picks_20120101/FN07A_20120101.csv',
 '../data/picks_20120101/NLLB_20120101.csv',
 '../data/picks_20120101/FN08A_20120101.csv',
 '../data/picks_20120101/FN18A_20120101.csv',
 '../data/picks_20120101/G03D_20120101.csv',
 '../data/picks_20120101/SHB_20120101.csv',
 '../data/picks_20120101/J34A_20120101.csv',
 '../data/picks_20120101/J73A_20120101.csv',
 '../data/picks_20120101/FN01A_20120101.csv',
 '../data/picks_20120101/M07A_20120101.csv',
 '../data/picks_20120101/I02D_20120101.csv',
 '../data/picks_20120101/J57A_20120101.csv',
 '../data/picks_20120101/I03D_20120101.csv',
 '../data/picks_20120101/LRIV_20120101.csv',
 '../data/picks_20120101/J33A_20120101.csv',
 '../data/picks_20120101/M06A_20120101.csv',
 '../data/picks_20120101/PGC_20120101.csv',
 '../data/picks_20120101/RADR_20120101.csv',
 '../data/picks_20120101/KRMB_20120101.csv',
 '../data/picks_20120101/M08A_20120101.csv',
 '../data/picks_20120101/J25A_20120101.csv',
 '../data/picks_20120101/KHMB_20120101.csv',
 '../data/picks_20120101/LZB_20120101.csv',
 '../data/picks_20120101/KHBB_20120101.csv',
 '../data/picks_20120101/MEGW_20120101.csv',
 '../data/picks_20120101/TAKO_20120101.csv',
 '../data/picks_20120101/FN12A_20120101.csv',
 '../data/picks_20120101/J58A_20120101.csv',
 '../data/picks_20120101/YOUB_20120101.csv',
 '../data/picks_20120101/JEDS_20120101.csv',
 '../data/picks_20120101/J26A_20120101.csv',
 '../data/picks_20120101/M03A_20120101.csv',
 '../data/picks_20120101/J41A_20120101.csv',
 '../data/picks_20120101/OFR_20120101.csv',
 '../data/picks_20120101/M01A_20120101.csv',
 '../data/picks_20120101/KMPB_20120101.csv',
 '../data/picks_20120101/J59A_20120101.csv',
 '../data/picks_20120101/J65A_20120101.csv',
 '../data/picks_20120101/K02D_20120101.csv',
 '../data/picks_20120101/J51A_20120101.csv',
 '../data/picks_20120101/KMR_20120101.csv',
 '../data/picks_20120101/J01D_20120101.csv',
 '../data/picks_20120101/HEBO_20120101.csv',
 '../data/picks_20120101/J50A_20120101.csv',
 '../data/picks_20120101/VGZ_20120101.csv',
 '../data/picks_20120101/KEB_20120101.csv',
 '../data/picks_20120101/G03A_20120101.csv',
 '../data/picks_20120101/M02A_20120101.csv',
 '../data/picks_20120101/KBO_20120101.csv',
 '../data/picks_20120101/OZB_20120101.csv',
 '../data/picks_20120101/J49A_20120101.csv',
 '../data/picks_20120101/J42A_20120101.csv',
 '../data/picks_20120101/FISH_20120101.csv',
 '../data/picks_20120101/FN14A_20120101.csv',
 '../data/picks_20120101/FN16A_20120101.csv',
 '../data/picks_20120101/JCC_20120101.csv',
 '../data/picks_20120101/F04D_20120101.csv',
 '../data/picks_20120101/J35A_20120101.csv',
 '../data/picks_20120101/KRP_20120101.csv',
 '../data/picks_20120101/D03D_20120101.csv',
 '../data/picks_20120101/J43A_20120101.csv',
 '../data/picks_20120101/FN05A_20120101.csv',
 '../data/picks_2012/PGC_20120125.csv',
 '../data/picks_2012/KSXB_20120105.csv',
 '../data/picks_2012/JCC_20120213.csv',
 '../data/picks_2012/VGZ_20120203.csv',
 '../data/picks_2012/J01D_20120701.csv',
 '../data/picks_2012/LEBA_20120209.csv',
 '../data/picks_2012/FS02B_20121216.csv',
 '../data/picks_2012/J01D_20120216.csv',
 '../data/picks_2012/LEBA_20120906.csv',
 '../data/picks_2012/KHBB_20120312.csv',
 '../data/picks_2012/G25B_20121220.csv',
 '../data/picks_2012/MGB_20120216.csv',
 '../data/picks_2012/J50A_20120510.csv',
 '../data/picks_2012/FN14A_20120614.csv',
 '../data/picks_2012/PFB_20121101.csv',
 '../data/picks_2012/KCT_20120303.csv',
 '../data/picks_2012/KBO_20120301.csv',
 '../data/picks_2012/OZB_20120203.csv',
 '../data/picks_2012/J01D_20120530.csv',
 '../data/picks_2012/J51A_20120227.csv',
 '../data/picks_2012/SHB_20120515.csv',
 '../data/picks_2012/DBO_20121101.csv',
 '../data/picks_2012/FS18B_20121105.csv',
 '../data/picks_2012/LZB_20121122.csv',
 '../data/picks_2012/L02E_20121103.csv',
 '../data/picks_2012/FS06B_20121009.csv',
 '../data/picks_2012/J51A_20120331.csv',
 '../data/picks_2012/J25A_20120409.csv',
 '../data/picks_2012/KEB_20120104.csv',
 '../data/picks_2012/FN01A_20120608.csv',
 '../data/picks_2012/LZB_20120604.csv',
 '../data/picks_2012/KHBB_20120402.csv',
 '../data/picks_2012/FS08B_20121002.csv',
 '../data/picks_2012/G11B_20121031.csv',
 '../data/picks_2012/FN16A_20120216.csv',
 '../data/picks_2012/G33B_20121201.csv',
 '../data/picks_2012/M11B_20120918.csv',
 '../data/picks_2012/M03A_20120613.csv',
 '../data/picks_2012/FN07A_20120421.csv',
 '../data/picks_2012/FS02B_20121224.csv',
 '../data/picks_2012/SHB_20120917.csv',
 '../data/picks_2012/FS09B_20121111.csv',
 '../data/picks_2012/FN12A_20120228.csv',
 '../data/picks_2012/D03D_20120821.csv',
 '../data/picks_2012/HEBO_20120807.csv',
 '../data/picks_2012/D03D_20120210.csv',
 '../data/picks_2012/DBO_20120510.csv',
 '../data/picks_2012/FN07A_20120317.csv',
 '../data/picks_2012/FS02B_20121110.csv',
 '../data/picks_2012/KRP_20120211.csv',
 '../data/picks_2012/KHBB_20120714.csv',
 '../data/picks_2012/J09B_20120907.csv',
 '../data/picks_2012/F04D_20120923.csv',
 '../data/picks_2012/KSXB_20120721.csv',
 '../data/picks_2012/VGZ_20120808.csv',
 '../data/picks_2012/J59A_20120426.csv',
 '../data/picks_2012/I02D_20120709.csv',
 '../data/picks_2012/TAKO_20120419.csv',
 '../data/picks_2012/J01D_20120927.csv',
 '../data/picks_2012/PGC_20120803.csv',
 '../data/picks_2012/J42A_20120315.csv',
 '../data/picks_2012/MEGW_20120108.csv',
 '../data/picks_2012/FS13B_20121105.csv',
 '../data/picks_2012/G34B_20121201.csv',
 '../data/picks_2012/FS01B_20121205.csv',
 '../data/picks_2012/KRMB_20120119.csv',
 '../data/picks_2012/NLLB_20121008.csv',
 '../data/picks_2012/KSXB_20120309.csv',
 '../data/picks_2012/TAKO_20120818.csv',
 '../data/picks_2012/KMPB_20120716.csv',
 '../data/picks_2012/DBO_20120928.csv',
 '../data/picks_2012/PGC_20121216.csv',
 '../data/picks_2012/FS15B_20121227.csv',
 '../data/picks_2012/KRP_20120828.csv',
 '../data/picks_2012/F04D_20120115.csv',
 '../data/picks_2012/FN12A_20120209.csv',
 '../data/picks_2012/HEBO_20120207.csv',
 '../data/picks_2012/J57A_20120130.csv',
 '../data/picks_2012/KHMB_20121122.csv',
 '../data/picks_2012/F04D_20120206.csv',
 '../data/picks_2012/FS19B_20121125.csv',
 '../data/picks_2012/J41A_20120502.csv',
 '../data/picks_2012/LEBA_20120818.csv',
 '../data/picks_2012/KRP_20120319.csv',
 '../data/picks_2012/L02E_20121107.csv',
 '../data/picks_2012/KBO_20120328.csv',
 '../data/picks_2012/KMPB_20120605.csv',
 '../data/picks_2012/KEB_20120215.csv',
 '../data/picks_2012/G19B_20121009.csv',
 '../data/picks_2012/G33B_20121104.csv',
 '../data/picks_2012/FS09B_20121005.csv',
 '../data/picks_2012/JCC_20120131.csv',
 '../data/picks_2012/RADR_20121021.csv',
 '../data/picks_2012/LEBA_20120707.csv',
 '../data/picks_2012/J43A_20120514.csv',
 '../data/picks_2012/FN12A_20120531.csv',
 '../data/picks_2012/FS06B_20121011.csv',
 '../data/picks_2012/J49A_20120410.csv',
 '../data/picks_2012/KEB_20120328.csv',
 '../data/picks_2012/G26B_20121118.csv',
 '../data/picks_2012/J51A_20120313.csv',
 '../data/picks_2012/J25B_20121002.csv',
 '../data/picks_2012/OFR_20120927.csv',
 '../data/picks_2012/DBO_20120122.csv',
 '../data/picks_2012/FS20B_20121024.csv',
 '../data/picks_2012/J42A_20120519.csv',
 '../data/picks_2012/G03D_20120713.csv',
 '../data/picks_2012/DBO_20120606.csv',
 '../data/picks_2012/KCT_20120330.csv',
 '../data/picks_2012/LZB_20120826.csv',
 '../data/picks_2012/KMPB_20120626.csv',
 '../data/picks_2012/G03D_20120721.csv',
 '../data/picks_2012/J73A_20120602.csv',
 '../data/picks_2012/TAKO_20120621.csv',
 '../data/picks_2012/G28B_20121201.csv',
 '../data/picks_2012/LRIV_20121224.csv',
 '../data/picks_2012/FORK_20120124.csv',
 '../data/picks_2012/FS15B_20121015.csv',
 '../data/picks_2012/K02D_20120805.csv',
 '../data/picks_2012/FN07A_20120305.csv',
 '../data/picks_2012/FS02B_20121115.csv',
 '../data/picks_2012/VGZ_20120202.csv',
 '../data/picks_2012/WISH_20120510.csv',
 '../data/picks_2012/SHB_20120628.csv',
 '../data/picks_2012/J17B_20120919.csv',
 '../data/picks_2012/OZB_20120114.csv',
 '../data/picks_2012/G02B_20120910.csv',
 '../data/picks_2012/FORK_20121202.csv',
 '../data/picks_2012/G11B_20120930.csv',
 '../data/picks_2012/FS19B_20121110.csv',
 '../data/picks_2012/FN12A_20120214.csv',
 '../data/picks_2012/M03A_20120326.csv',
 '../data/picks_2012/WISH_20120406.csv',
 '../data/picks_2012/KMPB_20120312.csv',
 '../data/picks_2012/FN07A_20120108.csv',
 '../data/picks_2012/G10B_20121227.csv',
 '../data/picks_2012/BB070_20121010.csv',
 '../data/picks_2012/J50A_20120404.csv',
 '../data/picks_2012/PGC_20120921.csv',
 '../data/picks_2012/RADR_20120708.csv',
 '../data/picks_2012/FISH_20120821.csv',
 '../data/picks_2012/M08A_20120218.csv',
 '../data/picks_2012/G10B_20121031.csv',
 '../data/picks_2012/KEB_20121018.csv',
 '../data/picks_2012/M08A_20120420.csv',
 '../data/picks_2012/J33B_20121218.csv',
 '../data/picks_2012/KMR_20121214.csv',
 '../data/picks_2012/J34A_20120503.csv',
 '../data/picks_2012/FS02B_20121130.csv',
 '../data/picks_2012/FN16A_20120611.csv',
 '../data/picks_2012/FN18A_20120516.csv',
 '../data/picks_2012/L02D_20120220.csv',
 '../data/picks_2012/KMPB_20120416.csv',
 '../data/picks_2012/VGZ_20120621.csv',
 '../data/picks_2012/JCC_20121130.csv',
 '../data/picks_2012/J17B_20120729.csv',
 '../data/picks_2012/M06A_20120427.csv',
 '../data/picks_2012/G26B_20121102.csv',
 '../data/picks_2012/FORK_20121125.csv',
 '../data/picks_2012/RADR_20120817.csv',
 '../data/picks_2012/FS07B_20121003.csv',
 '../data/picks_2012/G03D_20120308.csv',
 '../data/picks_2012/J59A_20120320.csv',
 '../data/picks_2012/BABR_20120629.csv',
 '../data/picks_2012/FN12A_20120520.csv',
 '../data/picks_2012/FORK_20121122.csv',
 '../data/picks_2012/J41A_20120120.csv',
 '../data/picks_2012/J34A_20120712.csv',
 '../data/picks_2012/KRP_20120401.csv',
 '../data/picks_2012/J01D_20120828.csv',
 '../data/picks_2012/LEBA_20120407.csv',
 '../data/picks_2012/FN07A_20120415.csv',
 '../data/picks_2012/FS18B_20121028.csv',
 '../data/picks_2012/FS10B_20121220.csv',
 '../data/picks_2012/SHB_20121219.csv',
 '../data/picks_2012/J59A_20120229.csv',
 '../data/picks_2012/BTB_20120922.csv',
 '../data/picks_2012/J18B_20121225.csv',
 '../data/picks_2012/KRP_20120425.csv',
 '../data/picks_2012/NLLB_20120208.csv',
 '../data/picks_2012/J01D_20120727.csv',
 '../data/picks_2012/M14B_20121230.csv',
 '../data/picks_2012/I02D_20120413.csv',
 '../data/picks_2012/J19B_20121208.csv',
 '../data/picks_2012/KMPB_20120612.csv',
 '../data/picks_2012/J42A_20120702.csv',
 '../data/picks_2012/FN08A_20120525.csv',
 '../data/picks_2012/MEGW_20120204.csv',
 '../data/picks_2012/G02B_20121231.csv',
 '../data/picks_2012/VGZ_20120809.csv',
 '../data/picks_2012/FN01A_20120317.csv',
 '../data/picks_2012/KMR_20120921.csv',
 '../data/picks_2012/M03A_20120520.csv',
 '../data/picks_2012/BABR_20120626.csv',
 '../data/picks_2012/G09B_20121229.csv',
 '../data/picks_2012/WISH_20120908.csv',
 '../data/picks_2012/J17B_20120801.csv',
 '../data/picks_2012/M06A_20120130.csv',
 '../data/picks_2012/M06A_20120128.csv',
 '../data/picks_2012/SNB_20120609.csv',
 '../data/picks_2012/G03D_20120427.csv',
 '../data/picks_2012/KHMB_20120601.csv',
 '../data/picks_2012/J35A_20120408.csv',
 '../data/picks_2012/G36B2_20121210.csv',
 '../data/picks_2012/D03D_20120607.csv',
 '../data/picks_2012/NLLB_20121121.csv',
 '../data/picks_2012/TAKO_20120118.csv',
 '../data/picks_2012/FN16A_20120227.csv',
 '../data/picks_2012/KSXB_20120125.csv',
 '../data/picks_2012/M18B_20120820.csv',
 '../data/picks_2012/J57A_20120428.csv',
 '../data/picks_2012/BTB_20120914.csv',
 '../data/picks_2012/BB030_20120924.csv',
 '../data/picks_2012/BABR_20121110.csv',
 '../data/picks_2012/M11B_20121120.csv',
 '../data/picks_2012/G19B_20121224.csv',
 '../data/picks_2012/K02D_20120726.csv',
 '../data/picks_2012/J65A_20120102.csv',
 '../data/picks_2012/J11B_20121202.csv',
 '../data/picks_2012/J57A_20120222.csv',
 '../data/picks_2012/J57A_20120710.csv',
 '../data/picks_2012/G03A_20120331.csv',
 '../data/picks_2012/FS15B_20121130.csv',
 '../data/picks_2012/J58A_20120531.csv',
 '../data/picks_2012/J59A_20120531.csv',
 '../data/picks_2012/M09B_20121213.csv',
 '../data/picks_2012/I02D_20120918.csv',
 '../data/picks_2012/PFB_20121219.csv',
 '../data/picks_2012/G03D_20120404.csv',
 '../data/picks_2012/J19B_20120908.csv',
 '../data/picks_2012/MGB_20120809.csv',
 '../data/picks_2012/BB070_20121214.csv',
 '../data/picks_2012/FN16A_20120713.csv',
 '../data/picks_2012/FN07A_20120308.csv',
 '../data/picks_2012/BB070_20121216.csv',
 '../data/picks_2012/M06A_20120612.csv',
 '../data/picks_2012/J50A_20120413.csv',
 '../data/picks_2012/FISH_20120518.csv',
 '../data/picks_2012/LZB_20120910.csv',
 '../data/picks_2012/I03D_20121014.csv',
 '../data/picks_2012/J01D_20120208.csv',
 '../data/picks_2012/J58A_20120201.csv',
 '../data/picks_2012/M13B_20121014.csv',
 '../data/picks_2012/G36B2_20120915.csv',
 '../data/picks_2012/FS17B_20121124.csv',
 '../data/picks_2012/BB030_20121121.csv',
 '../data/picks_2012/FISH_20121201.csv',
 '../data/picks_2012/YOUB_20120912.csv',
 '../data/picks_2012/KBO_20120325.csv',
 '../data/picks_2012/J25A_20120316.csv',
 '../data/picks_2012/RADR_20120302.csv',
 '../data/picks_2012/BB090_20121120.csv',
 '../data/picks_2012/D03D_20120707.csv',
 '../data/picks_2012/M13B_20120925.csv',
 '../data/picks_2012/FN08A_20120622.csv',
 '../data/picks_2012/I02D_20120426.csv',
 '../data/picks_2012/KHBB_20120131.csv',
 '../data/picks_2012/I03D_20121120.csv',
 '../data/picks_2012/YOUB_20121127.csv',
 '../data/picks_2012/SHB_20121229.csv',
 '../data/picks_2012/KHMB_20121210.csv',
 '../data/picks_2012/KHMB_20120323.csv',
 '../data/picks_2012/J25A_20120705.csv',
 '../data/picks_2012/KRP_20121013.csv',
 '../data/picks_2012/BABR_20120104.csv',
 '../data/picks_2012/SHB_20120508.csv',
 '../data/picks_2012/G02B_20121221.csv',
 '../data/picks_2012/G18B_20121123.csv',
 '../data/picks_2012/NLLB_20120618.csv',
 '../data/picks_2012/BTB_20120904.csv',
 '../data/picks_2012/WISH_20121214.csv',
 '../data/picks_2012/FN01A_20120628.csv',
 '../data/picks_2012/NCBC_20120731.csv',
 '../data/picks_2012/KMPB_20120814.csv',
 '../data/picks_2012/L02D_20120404.csv',
 '../data/picks_2012/BABR_20120401.csv',
 '../data/picks_2012/FS12B_20121201.csv',
 '../data/picks_2012/J58A_20120624.csv',
 '../data/picks_2012/G18B_20121126.csv',
 '../data/picks_2012/KHMB_20121220.csv',
 '../data/picks_2012/TAKO_20120113.csv',
 '../data/picks_2012/M06A_20120403.csv',
 '../data/picks_2012/RADR_20120115.csv',
 '../data/picks_2012/J65A_20120207.csv',
 '../data/picks_2012/F04D_20120805.csv',
 '../data/picks_2012/G03B_20120924.csv',
 '../data/picks_2012/KMR_20120622.csv',
 '../data/picks_2012/BABR_20120520.csv',
 '../data/picks_2012/M14B_20121113.csv',
 '../data/picks_2012/G25B_20121109.csv',
 '../data/picks_2012/G28B_20121002.csv',
 '../data/picks_2012/BABR_20121201.csv',
 '../data/picks_2012/WISH_20120520.csv',
 '../data/picks_2012/J49A_20120317.csv',
 '../data/picks_2012/FS08B_20121129.csv',
 '../data/picks_2012/PGC_20121123.csv',
 '../data/picks_2012/FN18A_20120527.csv',
 '../data/picks_2012/KHMB_20120925.csv',
 '../data/picks_2012/M02A_20120525.csv',
 '../data/picks_2012/G17B_20121228.csv',
 '../data/picks_2012/J73A_20120630.csv',
 '../data/picks_2012/F04D_20121218.csv',
 '../data/picks_2012/J18B_20121118.csv',
 '../data/picks_2012/FS01B_20121130.csv',
 '../data/picks_2012/J59A_20120105.csv',
 '../data/picks_2012/KMPB_20120512.csv',
 '../data/picks_2012/I02D_20121122.csv',
 '../data/picks_2012/G04B_20121207.csv',
 '../data/picks_2012/DBO_20120202.csv',
 '../data/picks_2012/FS06B_20121231.csv',
 '../data/picks_2012/TAKO_20120816.csv',
 '../data/picks_2012/G17B_20121215.csv',
 '../data/picks_2012/LEBA_20120606.csv',
 '../data/picks_2012/KEB_20120611.csv',
 '../data/picks_2012/J33B_20120902.csv',
 '../data/picks_2012/FS02B_20121206.csv',
 '../data/picks_2012/M11B_20121112.csv',
 '../data/picks_2012/SNB_20120731.csv',
 '../data/picks_2012/KMR_20121015.csv',
 '../data/picks_2012/J01E_20121209.csv',
 '../data/picks_2012/JEDS_20120220.csv',
 '../data/picks_2012/FS03B_20121028.csv',
 '../data/picks_2012/M13B_20121107.csv',
 '../data/picks_2012/M06A_20120320.csv',
 '../data/picks_2012/OZB_20120220.csv',
 '../data/picks_2012/FS07B_20121112.csv',
 '../data/picks_2012/M14B_20121214.csv',
 '../data/picks_2012/YOUB_20121203.csv',
 '../data/picks_2012/FS12B_20121022.csv',
 '../data/picks_2012/KHBB_20120330.csv',
 '../data/picks_2012/G28B_20121103.csv',
 '../data/picks_2012/VGZ_20121222.csv',
 '../data/picks_2012/FISH_20120401.csv',
 '../data/picks_2012/OFR_20120923.csv',
 '../data/picks_2012/G03D_20121007.csv',
 '../data/picks_2012/FS13B_20121003.csv',
 '../data/picks_2012/L02D_20120304.csv',
 '../data/picks_2012/J01D_20120305.csv',
 '../data/picks_2012/NLLB_20120814.csv',
 '../data/picks_2012/FS15B_20121011.csv',
 '../data/picks_2012/FS15B_20121024.csv',
 '../data/picks_2012/FS04B_20121211.csv',
 '../data/picks_2012/G03A_20120403.csv',
 '../data/picks_2012/KMR_20121212.csv',
 '../data/picks_2012/J57A_20120607.csv',
 '../data/picks_2012/M18B_20121224.csv',
 '../data/picks_2012/J26A_20120609.csv',
 '../data/picks_2012/KEB_20120321.csv',
 '../data/picks_2012/J41A_20120318.csv',
 '../data/picks_2012/G34B_20121106.csv',
 '../data/picks_2012/J33B_20121004.csv',
 '../data/picks_2012/LZB_20120628.csv',
 '../data/picks_2012/PGC_20121030.csv',
 '../data/picks_2012/KBO_20120602.csv',
 '../data/picks_2012/G36B2_20121227.csv',
 '../data/picks_2012/F04D_20120609.csv',
 '../data/picks_2012/KEB_20120311.csv',
 '../data/picks_2012/J25B_20121030.csv',
 '../data/picks_2012/G17B_20121005.csv',
 '../data/picks_2012/OFR_20120816.csv',
 '../data/picks_2012/FISH_20120508.csv',
 '../data/picks_2012/OFR_20120710.csv',
 '../data/picks_2012/J09B_20121018.csv',
 '../data/picks_2012/SHB_20120426.csv',
 '../data/picks_2012/KSXB_20120208.csv',
 '../data/picks_2012/J26A_20120216.csv',
 '../data/picks_2012/HEBO_20120506.csv',
 '../data/picks_2012/J27B_20120908.csv',
 '../data/picks_2012/J57A_20120228.csv',
 '../data/picks_2012/NC89_20121231.csv',
 '../data/picks_2012/LEBA_20120715.csv',
 '../data/picks_2012/I02D_20120220.csv',
 '../data/picks_2012/G03A_20120301.csv',
 '../data/picks_2012/J11B_20121106.csv',
 '../data/picks_2012/FS15B_20121224.csv',
 '../data/picks_2012/I02D_20121020.csv',
 '../data/picks_2012/KRMB_20120430.csv',
 '../data/picks_2012/M07A_20120420.csv',
 '../data/picks_2012/JCC_20120307.csv',
 '../data/picks_2012/KBO_20120329.csv',
 '../data/picks_2012/KMR_20120818.csv',
 '../data/picks_2012/M18B_20120723.csv',
 '../data/picks_2012/FISH_20120310.csv',
 '../data/picks_2012/HEBO_20120429.csv',
 '../data/picks_2012/J65A_20120426.csv',
 '../data/picks_2012/HEBO_20120707.csv',
 '../data/picks_2012/OFR_20121226.csv',
 '../data/picks_2012/G03D_20120915.csv',
 '../data/picks_2012/SNB_20120309.csv',
 '../data/picks_2012/J09B_20121223.csv',
 '../data/picks_2012/J57A_20120616.csv',
 '../data/picks_2012/KHBB_20120210.csv',
 '../data/picks_2012/D03D_20120830.csv',
 '../data/picks_2012/G25B_20121104.csv',
 '../data/picks_2012/FN18A_20120216.csv',
 '../data/picks_2012/FISH_20120408.csv',
 '../data/picks_2012/FN18A_20120107.csv',
 '../data/picks_2012/KEB_20121116.csv',
 '../data/picks_2012/FS16B_20121227.csv',
 '../data/picks_2012/PFB_20120308.csv',
 '../data/picks_2012/M06A_20120229.csv',
 '../data/picks_2012/KMR_20120912.csv',
 '../data/picks_2012/I02D_20121105.csv',
 '../data/picks_2012/KHMB_20120311.csv',
 '../data/picks_2012/M06A_20120116.csv',
 '../data/picks_2012/FS04B_20120920.csv',
 '../data/picks_2012/M01A_20120222.csv',
 '../data/picks_2012/M18B_20120924.csv',
 '../data/picks_2012/MEGW_20120320.csv',
 '../data/picks_2012/I02D_20120401.csv',
 '../data/picks_2012/DBO_20121212.csv',
 '../data/picks_2012/KRP_20120909.csv',
 '../data/picks_2012/FN16A_20120131.csv',

In [8]:
len(csv_list)

105109

In [9]:
#  Concatenate all the picks in all the files produced in 1_parallel_detect_picks_elep_all_sta
all_csv =[]


for i in csv_list:
    temp = pd.read_csv(i,index_col=0)
    all_csv.append(temp)
    
df = pd.concat(all_csv, axis=0)

/tmp/ipykernel_1085553/3549658960.py:9: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df = pd.concat(all_csv, axis=0)
/tmp/ipykernel_1085553/3549658960.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(all_csv, axis=0)

In [10]:
# Print df
df[0:10]

,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,trace_name,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival
0,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,NaN,2012-01-01T01:34:39.380000Z
1,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,NaN,2012-01-01T01:49:06.705000Z
2,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,NaN,2012-01-01T04:39:44.430000Z
3,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,NaN,2012-01-01T17:47:22.280000Z
4,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,NaN,2012-01-01T18:54:27.080000Z
5,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,2012-01-01T01:23:07.055000Z,NaN
6,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,2012-01-01T03:25:00.555000Z,NaN
7,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,2012-01-01T05:48:37.030000Z,NaN
8,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,2012-01-01T06:53:37.555000Z,NaN
9,,,UW,,BABR,NaN,44.62132,-123.78924,438.7,,40.0,2012-01-01T00:00:00.005000Z,,,,,,2012-01-01T09:21:36.180000Z,NaN

In [11]:
len(df)

18737281

In [12]:
df = df[df['station_code'].isin(list(stas_swa_shelf_trench['id']))]

In [13]:
len(df['station_code'].drop_duplicates())

32

In [14]:
len(df)

4165966

In [15]:
# df.to_csv('../data/datasets_all_years/all_picks_all_years_pnsn_jdf_for_picking.csv')

In [16]:
# Remove picks with the following stations due to the noise: 'FN05A', 'YOUB' and 'MGB'
df = df[~df['station_code'].isin(['FN05A', 'YOUB', 'MGB'])]

In [15]:
# # Remove picks with the following stations due to the noise: 'FN05A', 'YOUB' and 'MGB'
# df = df[~df['station_code'].isin(['FN05A', 'YOUB', 'MGB','FN14A','FN07A','J41A','J49A',
# 'J25B','J33B','FN18A','FN08A','M09B','G17B'])]

In [16]:
# # Remove picks with the following stations due to the noise
# df = df[~df['station_code'].isin(['FN05A', 'YOUB', 'MGB',
#                                   'J41A','J33B','M09B','FN01A','FN08A',
#                                   'FN12A','FN18A','J26A','J34A', 'J41A',
#                                   'M02A','FS03B','FS05B','FS08B','G33B',
#                                   'J17B','M10B','M13B','M18B'
#                                  ])]

In [17]:
len(df)

4165966

In [18]:
df.to_csv('../data/datasets_swa_shelf/all_picks_all_years_for_assoc_swa_shelf_trench.csv')

### 1.3 Create a CSV file for picks for the association

In [19]:
# Assign P to P phases in the df
p_phase = df.loc[df['trace_p_arrival'].notna(), 'phase'] = "P"

In [20]:
# Filter the df 
p_stas_picks_phase = df.loc[df['trace_p_arrival'].notna(), ['station_code','trace_p_arrival','phase']]
p_stas_picks_phase

    station_code              trace_p_arrival phase
0          FN07A  2012-01-01T00:02:00.833000Z     P
1          FN07A  2012-01-01T00:03:53.009000Z     P
2          FN07A  2012-01-01T00:07:18.433000Z     P
3          FN07A  2012-01-01T00:15:37.169000Z     P
4          FN07A  2012-01-01T00:16:36.929000Z     P
..           ...                          ...   ...
131         J42A  2011-12-13T22:52:15.029000Z     P
132         J42A  2011-12-13T22:52:48.581000Z     P
133         J42A  2011-12-13T23:04:02.069000Z     P
134         J42A  2011-12-13T23:47:09.605000Z     P
135         J42A  2011-12-13T23:54:44.261000Z     P

[2135511 rows x 3 columns]

In [21]:
# Rename the df
_p_stas_picks_phase = p_stas_picks_phase.rename(columns={"station_code": "station", "trace_p_arrival": "time"})
_p_stas_picks_phase

    station                         time phase
0     FN07A  2012-01-01T00:02:00.833000Z     P
1     FN07A  2012-01-01T00:03:53.009000Z     P
2     FN07A  2012-01-01T00:07:18.433000Z     P
3     FN07A  2012-01-01T00:15:37.169000Z     P
4     FN07A  2012-01-01T00:16:36.929000Z     P
..      ...                          ...   ...
131    J42A  2011-12-13T22:52:15.029000Z     P
132    J42A  2011-12-13T22:52:48.581000Z     P
133    J42A  2011-12-13T23:04:02.069000Z     P
134    J42A  2011-12-13T23:47:09.605000Z     P
135    J42A  2011-12-13T23:54:44.261000Z     P

[2135511 rows x 3 columns]

In [22]:
# Assign S to S phases in the df
s_phase = df.loc[df['trace_s_arrival'].notna(), 'phase'] = "S"# Filter the df

In [23]:
# Filter the df 
s_stas_picks_phase = df.loc[df['trace_s_arrival'].notna(), ['station_code','trace_s_arrival','phase']]
s_stas_picks_phase

    station_code              trace_s_arrival phase
795        FN07A  2012-01-01T00:02:43.673000Z     S
796        FN07A  2012-01-01T00:07:20.537000Z     S
797        FN07A  2012-01-01T00:08:51.433000Z     S
798        FN07A  2012-01-01T00:10:40.353000Z     S
799        FN07A  2012-01-01T00:13:05.553000Z     S
..           ...                          ...   ...
235         J42A  2011-12-13T21:50:08.029000Z     S
236         J42A  2011-12-13T22:25:12.557000Z     S
237         J42A  2011-12-13T23:09:29.949000Z     S
238         J42A  2011-12-13T23:11:31.781000Z     S
239         J42A  2011-12-13T23:30:47.093000Z     S

[2030455 rows x 3 columns]

In [24]:
# Rename the df
_s_stas_picks_phase = s_stas_picks_phase.rename(columns={"station_code": "station", "trace_s_arrival": "time"})
_s_stas_picks_phase

    station                         time phase
795   FN07A  2012-01-01T00:02:43.673000Z     S
796   FN07A  2012-01-01T00:07:20.537000Z     S
797   FN07A  2012-01-01T00:08:51.433000Z     S
798   FN07A  2012-01-01T00:10:40.353000Z     S
799   FN07A  2012-01-01T00:13:05.553000Z     S
..      ...                          ...   ...
235    J42A  2011-12-13T21:50:08.029000Z     S
236    J42A  2011-12-13T22:25:12.557000Z     S
237    J42A  2011-12-13T23:09:29.949000Z     S
238    J42A  2011-12-13T23:11:31.781000Z     S
239    J42A  2011-12-13T23:30:47.093000Z     S

[2030455 rows x 3 columns]

In [25]:
# Concatenate the P and S picks
picks = pd.concat(objs = [_p_stas_picks_phase,_s_stas_picks_phase] , axis=0)
picks

    station                         time phase
0     FN07A  2012-01-01T00:02:00.833000Z     P
1     FN07A  2012-01-01T00:03:53.009000Z     P
2     FN07A  2012-01-01T00:07:18.433000Z     P
3     FN07A  2012-01-01T00:15:37.169000Z     P
4     FN07A  2012-01-01T00:16:36.929000Z     P
..      ...                          ...   ...
235    J42A  2011-12-13T21:50:08.029000Z     S
236    J42A  2011-12-13T22:25:12.557000Z     S
237    J42A  2011-12-13T23:09:29.949000Z     S
238    J42A  2011-12-13T23:11:31.781000Z     S
239    J42A  2011-12-13T23:30:47.093000Z     S

[4165966 rows x 3 columns]

In [26]:
# Swap the time and phase columns
picks = picks.iloc[:,[0,2,1]]
picks = picks.reset_index(drop=True)
picks

        station phase                         time
0         FN07A     P  2012-01-01T00:02:00.833000Z
1         FN07A     P  2012-01-01T00:03:53.009000Z
2         FN07A     P  2012-01-01T00:07:18.433000Z
3         FN07A     P  2012-01-01T00:15:37.169000Z
4         FN07A     P  2012-01-01T00:16:36.929000Z
...         ...   ...                          ...
4165961    J42A     S  2011-12-13T21:50:08.029000Z
4165962    J42A     S  2011-12-13T22:25:12.557000Z
4165963    J42A     S  2011-12-13T23:09:29.949000Z
4165964    J42A     S  2011-12-13T23:11:31.781000Z
4165965    J42A     S  2011-12-13T23:30:47.093000Z

[4165966 rows x 3 columns]

In [27]:
picks[0:20]

   station phase                         time
0    FN07A     P  2012-01-01T00:02:00.833000Z
1    FN07A     P  2012-01-01T00:03:53.009000Z
2    FN07A     P  2012-01-01T00:07:18.433000Z
3    FN07A     P  2012-01-01T00:15:37.169000Z
4    FN07A     P  2012-01-01T00:16:36.929000Z
5    FN07A     P  2012-01-01T00:16:53.073000Z
6    FN07A     P  2012-01-01T00:19:08.113000Z
7    FN07A     P  2012-01-01T00:20:27.401000Z
8    FN07A     P  2012-01-01T00:21:09.433000Z
9    FN07A     P  2012-01-01T00:26:16.849000Z
10   FN07A     P  2012-01-01T00:27:23.017000Z
11   FN07A     P  2012-01-01T00:28:02.441000Z
12   FN07A     P  2012-01-01T00:29:31.033000Z
13   FN07A     P  2012-01-01T00:30:28.025000Z
14   FN07A     P  2012-01-01T00:31:50.593000Z
15   FN07A     P  2012-01-01T00:35:11.961000Z
16   FN07A     P  2012-01-01T00:37:34.833000Z
17   FN07A     P  2012-01-01T00:37:42.673000Z
18   FN07A     P  2012-01-01T00:39:50.017000Z
19   FN07A     P  2012-01-01T00:41:42.705000Z

In [28]:
# Save the these picks to the data folder
picks.to_csv("../data/datasets_swa_shelf/picks_swa_shelf_trench.csv")

## 2. Create the stations data frame

In [29]:
# Print the stations for which the picks were detected in 1_parallel_detect_picks_elep_all_sta 
stations = df.drop_duplicates(subset='station_code')
stations

,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,trace_name,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival,phase
0,,,7D,,FN07A,NaN,46.855499,-124.786499,-154.0,,125.000000,2012-01-01T00:00:00.001000Z,,,,,,NaN,2012-01-01T00:02:00.833000Z,P
0,,,7D,,J57A,NaN,47.080101,-124.450500,-55.8,,50.000000,2012-01-01T00:00:00.009500Z,,,,,,NaN,2012-01-01T00:33:03.249500Z,P
0,,,7D,,J50A,NaN,46.640202,-125.299103,-1909.0,,125.000000,2012-01-01T00:00:00.001000Z,,,,,,NaN,2012-01-01T00:24:41.913000Z,P
0,,,7D,,J49A,NaN,46.437801,-124.427498,-120.0,,125.000000,2012-01-01T00:00:00.001000Z,,,,,,NaN,2012-01-01T00:00:33.097000Z,P
0,,,7D,,J42A,NaN,45.933102,-125.299698,-1540.0,,125.000000,2012-01-01T00:00:00.004000Z,,,,,,NaN,2012-01-01T00:08:55.844000Z,P
0,,,7D,,FN14A,NaN,47.024799,-124.964699,-173.0,,125.000000,2012-01-01T00:00:00.006000Z,,,,,,NaN,2012-01-01T00:04:51.566000Z,P
0,,,7D,,FN16A,NaN,46.799599,-125.516098,-1907.0,,125.000000,2012-01-01T00:00:00.006000Z,,,,,,NaN,2012-01-01T00:57:36.126000Z,P
0,,,7D,,J58A,NaN,47.318802,-125.534401,-1511.0,,125.000000,2012-05-31T00:00:00.003000Z,,,,,,NaN,2012-05-31T00:05:29.611000Z,P
0,,,7D,,FN07C,NaN,46.855400,-124.786003,-158.0,,125.000000,2014-03-11T00:00:00.000300Z,,,,,,NaN,2014-03-11T00:00:56.040300Z,P
0,,,7D,,J50C,NaN,46.641102,-125.298698,-1931.0,,124.999985,2014-05-31T00:00:00.004800Z,,,,,,NaN,2014-05-31T00:02:11.916816Z,P
0,,,7D,,FN03C,NaN,46.887199,-124.525101,-93.0,,125.000000,2014-02-20T00:00:00.004400Z,,,,,,NaN,2014-02-20T00:06:37.092400Z,P
0,,,7D,,FN04C,NaN,46.917500,-124.601303,-104.0,,125.000000,2014-05-05T00:00:00.002700Z,,,,,,NaN,2014-05-05T00:02:39.874700Z,P
0,,,7D,,FN12C,NaN,46.888699,-125.119003,-656.0,,125.000000,2014-03-12T00:00:00.005600Z,,,,,,NaN,2014-03-12T00:01:51.925600Z,P
0,,,7D,,J49C,NaN,46.438000,-124.427803,-113.0,,125.000000,2014-02-23T00:00:00.004500Z,,,,,,NaN,2014-02-23T00:02:45.228500Z,P
0,,,7D,,M05C,NaN,46.173500,-124.934502,-837.0,,50.000000,2014-04-13T00:00:00.012536Z,,,,,,NaN,2014-04-13T00:06:14.812536Z,P
0,,,7D,,M04C,NaN,47.558399,-125.192299,-570.0,,50.000000,2014-05-12T00:00:00.002482Z,,,,,,NaN,2014-05-12T03:00:25.702482Z,P
0,,,7D,,FN19C,NaN,46.730099,-124.366798,-72.0,,125.000000,2014-02-09T00:00:00.006300Z,,,,,,NaN,2014-02-09T00:07:30.158300Z,P
0,,,7D,,J42C,NaN,45.932301,-125.299103,-1550.0,,125.000000,2014-04-23T00:00:00.004500Z,,,,,,NaN,2014-04-23T00:22:35.956500Z,P
0,,,7D,,FN02C,NaN,46.949699,-124.428001,-67.0,,125.000000,2014-01-29T00:00:00.003500Z,,,,,,NaN,2014-01-29T00:02:53.763500Z,P
0,,,7D,,FN01C,NaN,46.882301,-124.333298,-56.0,,125.000000,2014-05-17T00:00:00.004700Z,,,,,,NaN,2014-05-17T00:00:32.564700Z,P
0,,,7D,,FN08C,NaN,46.888699,-124.875999,-176.0,,125.000000,2014-03-30T00:00:00.007100Z,,,,,,NaN,2014-03-30T00:03:56.687100Z,P
0,,,7D,,FN05C,NaN,46.857498,-124.655602,-123.0,,125.000008,2014-01-27T00:00:00.005700Z,,,,,,NaN,2014-01-27T00:00:43.797697Z,P
0,,,7D,,FN11C,NaN,46.820499,-125.045403,-619.0,,125.000008,2014-03-26T00:00:00.000200Z,,,,,,NaN,2014-03-26T00:02:11.712192Z,P
0,,,7D,,J58C,NaN,47.317799,-125.534599,-1527.0,,125.000000,2014-06-18T00:00:00.000000Z,,,,,,NaN,2014-06-18T00:01:39.496000Z,P
0,,,7D,,FN13C,NaN,47.000401,-125.301102,-1764.0,,125.000000,2014-03-02T00:00:00.005700Z,,,,,,NaN,2014-03-02T00:09:04.645700Z,P
0,,,7D,,FN14C,NaN,47.024899,-124.964203,-173.0,,125.000008,2014-02-02T00:00:00.005800Z,,,,,,NaN,2014-02-02T00:02:17.365792Z,P
0,,,7D,,FN09C,NaN,46.840199,-124.887199,-198.0,,125.000000,2014-02-02T00:00:00.000000Z,,,,,,NaN,2014-02-02T00:01:15.760000Z,P
0,,,7D,,FN17C,NaN,46.681599,-125.000504,-1015.0,,125.000000,2014-02-08T00:00:00.000000Z,,,,,,NaN,2014-02-08T02:42:42.248000Z,P
0,,,7D,,J57C,NaN,47.080399,-124.450600,-67.0,,125.000000,2014-01-10T00:00:00.003200Z,,,,,,NaN,2014-01-10T00:01:07.131200Z,P
0,,,7D,,FN06C,NaN,46.922001,-124.731300,-137.0,,125.000000,2014-06-03T00:00:00.006800Z,,,,,,NaN,2014-06-03T00:00:23.182800Z,P
0,,,7D,,FN18C,NaN,46.700100,-124.724800,-166.0,,125.000008,2014-04-25T00:00:00.001900Z,,,,,,NaN,2014-04-25T08:00:03.584142Z,P
0,,,7D,,FN16C,NaN,46.800499,-125.500099,-1728.0,,125.000000,2014-05-03T00:00:00.002700Z,,,,,,NaN,2014-05-03T07:59:02.042700Z,P

In [30]:
# Obtain only the columns you need for assoication
_stations = stations.iloc[:,[4,7,6,8]]
_stations

,station_code,station_longitude_deg,station_latitude_deg,station_elevation_m
0,FN07A,-124.786499,46.855499,-154.0
0,J57A,-124.450500,47.080101,-55.8
0,J50A,-125.299103,46.640202,-1909.0
0,J49A,-124.427498,46.437801,-120.0
0,J42A,-125.299698,45.933102,-1540.0
0,FN14A,-124.964699,47.024799,-173.0
0,FN16A,-125.516098,46.799599,-1907.0
0,J58A,-125.534401,47.318802,-1511.0
0,FN07C,-124.786003,46.855400,-158.0
0,J50C,-125.298698,46.641102,-1931.0
0,FN03C,-124.525101,46.887199,-93.0
0,FN04C,-124.601303,46.917500,-104.0
0,FN12C,-125.119003,46.888699,-656.0
0,J49C,-124.427803,46.438000,-113.0
0,M05C,-124.934502,46.173500,-837.0
0,M04C,-125.192299,47.558399,-570.0
0,FN19C,-124.366798,46.730099,-72.0
0,J42C,-125.299103,45.932301,-1550.0
0,FN02C,-124.428001,46.949699,-67.0
0,FN01C,-124.333298,46.882301,-56.0
0,FN08C,-124.875999,46.888699,-176.0
0,FN05C,-124.655602,46.857498,-123.0
0,FN11C,-125.045403,46.820499,-619.0
0,J58C,-125.534599,47.317799,-1527.0
0,FN13C,-125.301102,47.000401,-1764.0
0,FN14C,-124.964203,47.024899,-173.0
0,FN09C,-124.887199,46.840199,-198.0
0,FN17C,-125.000504,46.681599,-1015.0
0,J57C,-124.450600,47.080399,-67.0
0,FN06C,-124.731300,46.922001,-137.0
0,FN18C,-124.724800,46.700100,-166.0
0,FN16C,-125.500099,46.800499,-1728.0

In [31]:
# Rename the columns
_stations = _stations.rename(columns={'station_code': 'id', 'station_longitude_deg': 'longitude', 'station_latitude_deg': 'latitude', 'station_elevation_m': 'elevation'})
_stations = _stations.reset_index(drop=True)
_stations

       id   longitude   latitude  elevation
0   FN07A -124.786499  46.855499     -154.0
1    J57A -124.450500  47.080101      -55.8
2    J50A -125.299103  46.640202    -1909.0
3    J49A -124.427498  46.437801     -120.0
4    J42A -125.299698  45.933102    -1540.0
5   FN14A -124.964699  47.024799     -173.0
6   FN16A -125.516098  46.799599    -1907.0
7    J58A -125.534401  47.318802    -1511.0
8   FN07C -124.786003  46.855400     -158.0
9    J50C -125.298698  46.641102    -1931.0
10  FN03C -124.525101  46.887199      -93.0
11  FN04C -124.601303  46.917500     -104.0
12  FN12C -125.119003  46.888699     -656.0
13   J49C -124.427803  46.438000     -113.0
14   M05C -124.934502  46.173500     -837.0
15   M04C -125.192299  47.558399     -570.0
16  FN19C -124.366798  46.730099      -72.0
17   J42C -125.299103  45.932301    -1550.0
18  FN02C -124.428001  46.949699      -67.0
19  FN01C -124.333298  46.882301      -56.0
20  FN08C -124.875999  46.888699     -176.0
21  FN05C -124.655602  46.857498     -123.0
22  FN11C -125.045403  46.820499     -619.0
23   J58C -125.534599  47.317799    -1527.0
24  FN13C -125.301102  47.000401    -1764.0
25  FN14C -124.964203  47.024899     -173.0
26  FN09C -124.887199  46.840199     -198.0
27  FN17C -125.000504  46.681599    -1015.0
28   J57C -124.450600  47.080399      -67.0
29  FN06C -124.731300  46.922001     -137.0
30  FN18C -124.724800  46.700100     -166.0
31  FN16C -125.500099  46.800499    -1728.0

In [32]:
# Create  a csv file
_stations.to_csv('../data/datasets_swa_shelf/all_stations_swa_shelf_trench.csv')

## 3. Make pick and station data frames for different CI years

### 3.1 Make pick and station data frames for CI year 1 of 2012

### 3.1.1 Picks

In [38]:
t = pd.Timestamp(f'{year}-7-31 00:00:00.000000+0000', tz='UTC')
picks = pd.read_csv("../data/datasets_2012/picks_2012.csv",index_col=0)
picks["time"] = pd.to_datetime(picks['time'], utc = True)
picks_CI1 = picks[picks['time']<=t]
picks_CI1

        station phase                             time
0           PGC     P 2012-01-25 06:10:29.225000+00:00
1           PGC     P 2012-01-25 06:46:04.625000+00:00
2           PGC     P 2012-01-25 07:00:06.025000+00:00
3           PGC     P 2012-01-25 07:07:06.925000+00:00
4           PGC     P 2012-01-25 08:05:24.075000+00:00
...         ...   ...                              ...
3715118     KBO     S 2012-02-08 12:14:33.610000+00:00
3715119     KBO     S 2012-02-08 13:25:05.800000+00:00
3715120     KBO     S 2012-02-08 14:50:53.370000+00:00
3715121     KBO     S 2012-02-08 15:37:35.810000+00:00
3715122     KBO     S 2012-02-08 19:13:18.460000+00:00

[1677988 rows x 3 columns]

In [39]:
picks_CI1.to_csv('../data/datasets_2012/picks_2012_CI1.csv')

### 3.1.2 Stations

In [43]:
stas = pd.read_csv("../data/datasets_2012/all_stations_2012.csv",index_col=0)
stas

        id   longitude   latitude  elevation
0      PGC -123.452100  48.649800       12.0
1     KSXB -123.876884  41.830379     1136.0
2      JCC -124.029549  40.817451       27.2
3      VGZ -123.325100  48.413100       67.0
4     J01D -123.931396  43.161400      131.0
..     ...         ...        ...        ...
110  BB060 -126.113297  42.856098    -2795.0
111  FS14B -124.591797  40.495499     -107.0
112   M06A -124.926804  45.529499    -1439.0
113  FS11B -124.577797  40.429199     -132.0
114   G20B -126.613297  41.298698    -3141.0

[115 rows x 4 columns]

In [50]:
stas_CI1 = list(picks_CI1['station'].drop_duplicates().values)
stas_CI1

['PGC',
 'KSXB',
 'JCC',
 'VGZ',
 'J01D',
 'LEBA',
 'KHBB',
 'J50A',
 'FN14A',
 'KCT',
 'KBO',
 'OZB',
 'J51A',
 'SHB',
 'J25A',
 'KEB',
 'LZB',
 'FN16A',
 'M03A',
 'FN07A',
 'D03D',
 'DBO',
 'KRP',
 'J59A',
 'I02D',
 'TAKO',
 'J42A',
 'MEGW',
 'KRMB',
 'KMPB',
 'F04D',
 'HEBO',
 'J57A',
 'J43A',
 'J49A',
 'G03D',
 'J73A',
 'FORK',
 'WISH',
 'RADR',
 'M08A',
 'L02D',
 'BABR',
 'NLLB',
 'SNB',
 'KHMB',
 'J35A',
 'K02D',
 'J65A',
 'G03A',
 'J58A',
 'KMR',
 'JEDS',
 'FISH',
 'OFR',
 'M07A',
 'PFB',
 'M01A',
 'I03D',
 'LRIV',
 'J33A',
 'BTB',
 'NC89',
 'M06A',
 'J25B',
 'NCBC']

In [52]:
_stas_CI1 = stas.loc[stas['id'].isin(stas_CI1)]
_stas_CI1

       id   longitude   latitude  elevation
0     PGC -123.452100  48.649800       12.0
1    KSXB -123.876884  41.830379     1136.0
2     JCC -124.029549  40.817451       27.2
3     VGZ -123.325100  48.413100       67.0
4    J01D -123.931396  43.161400      131.0
..    ...         ...        ...        ...
101  NC89 -126.848767  48.670537    -1258.0
102  M07A -125.116798  44.898701    -1356.5
104  M01A -126.722099  49.150398     -132.9
108  J33A -124.570801  45.106602     -348.7
112  M06A -124.926804  45.529499    -1439.0

[66 rows x 4 columns]

In [53]:
_stas_CI1.to_csv('../data/datasets_2012/stations_2012_CI1.csv')