# Merge Events from Assocation from PyOcto ver. 3

In [20]:
import pandas as pd
import numpy as np

In [45]:
# Define the data type for column 17
dtype = {17: 'str'}

# Read the CSV files with the specified data type for column 17
df1 = pd.read_csv('../data/datasets_nwa_shelf_trench/all_pick_assignments_nwa_shelf_trench_ver3.csv', index_col=0, dtype=dtype)
df2 = pd.read_csv('../data/datasets_nwa_shore/all_pick_assignments_nwa_shore_ver3.csv', index_col=0, dtype=dtype)
df3 = pd.read_csv('../data/datasets_or_shelf_trench/all_pick_assignments_or_shelf_trench_ver3.csv', index_col=0, dtype=dtype)
df4 = pd.read_csv('../data/datasets_or_shore/all_pick_assignments_or_shore_ver3.csv', index_col=0, dtype=dtype)
df5 = pd.read_csv('../data/datasets_pnsn_nor/all_pick_assignments_pnsn_nor_ver3.csv', index_col=0, dtype=dtype)
df6 = pd.read_csv('../data/datasets_pnsn_sor/all_pick_assignments_pnsn_sor_ver3.csv', index_col=0, dtype=dtype)
df7 = pd.read_csv('../data/datasets_pnsn_jdf/all_pick_assignments_pnsn_jdf_ver3.csv', index_col=0, dtype=dtype)
df8 = pd.read_csv('../data/datasets_pnsn_wa/all_pick_assignments_pnsn_wa_ver3.csv', index_col=0, dtype=dtype)
df9 = pd.read_csv('../data/datasets_swa_shelf_trench/all_pick_assignments_swa_shelf_trench_ver3.csv', index_col=0, dtype=dtype)
df10 = pd.read_csv('../data/datasets_swa_shore/all_pick_assignments_swa_shore_ver3.csv', index_col=0, dtype=dtype)

# Concatenate the DataFrames into a single DataFrame
df_assignments_concat = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10], ignore_index=True)

df_assignments_concat['idx'] = df_assignments_concat['idx'].astype('Int64')
df_assignments_concat['max_prob'] = df_assignments_concat['max_prob'].astype('float64')
df_assignments_concat = df_assignments_concat.drop(columns=['x', 'y', 'z'])

# Display the concatenated DataFrame
df_assignments_concat

,idx,time,picks,latitude,longitude,depth,event_idx,pick_idx,residual,station,phase,time_pick,arid,chan,max_prob,vmodel,delta
0,2,2011-02-02 15:45:49.638470+00:00,6,48.494197,-124.375441,49.609375,2,24328,0.145372,7A.W02.,P,1.296662e+09,4183287,NaN,NaN,vel_nwa_shelf_trench,158.838318
1,2,2011-02-02 15:45:49.638470+00:00,6,48.494197,-124.375441,49.609375,2,24513,-0.318408,7A.W02.,S,1.296662e+09,4183472,NaN,NaN,vel_nwa_shelf_trench,158.838318
2,2,2011-02-02 15:45:49.638470+00:00,6,48.494197,-124.375441,49.609375,2,24141,-0.219135,7A.W03.,P,1.296662e+09,4183063,NaN,NaN,vel_nwa_shelf_trench,173.988261
3,2,2011-02-02 15:45:49.638470+00:00,6,48.494197,-124.375441,49.609375,2,24086,-0.546669,7A.W03.,S,1.296662e+09,4183006,NaN,NaN,vel_nwa_shelf_trench,173.988261
4,2,2011-02-02 15:45:49.638470+00:00,6,48.494197,-124.375441,49.609375,2,24265,0.100764,7A.W07.,P,1.296662e+09,4183224,NaN,NaN,vel_nwa_shelf_trench,141.294277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086002,10632,2014-06-26 01:08:02.810201+00:00,7,46.901101,-124.628817,10.546875,10632,2559315,1.346963,7D.FN03C.,P,1.403745e+09,28500738,NaN,NaN,vel_swa_shore,8.031025
1086003,10632,2014-06-26 01:08:02.810201+00:00,7,46.901101,-124.628817,10.546875,10632,2559816,-0.489490,7D.FN03C.,S,1.403745e+09,28501239,NaN,NaN,vel_swa_shore,8.031025
1086004,10632,2014-06-26 01:08:02.810201+00:00,7,46.901101,-124.628817,10.546875,10632,2556490,0.361920,7D.FN04C.,P,1.403745e+09,28497475,NaN,NaN,vel_swa_shore,2.773666
1086005,10632,2014-06-26 01:08:02.810201+00:00,7,46.901101,-124.628817,10.546875,10632,2556514,-0.889507,7D.FN04C.,S,1.403745e+09,28497499,NaN,NaN,vel_swa_shore,2.773666
1086006,10632,2014-06-26 01:08:02.810201+00:00,7,46.901101,-124.628817,10.546875,10632,2556892,-0.654387,7D.J49C.,S,1.403745e+09,28497877,NaN,NaN,vel_swa_shore,53.730171

In [46]:
df_assignments_concat.to_csv('../data/datasets_all_regions/all_pick_assignments_all_regions_2010_2015_ver3.csv', index=False)

## Make the arrival table

In [47]:
df_arrival  = df_assignments_concat[['station', 'time_pick', 'arid', 'chan','phase']]
df_arrival = df_arrival.rename(columns={'station':'sta','time_pick': 'time','phase':'iphase'})
df_arrival

               sta          time      arid chan iphase
0          7A.W02.  1.296662e+09   4183287  NaN      P
1          7A.W02.  1.296662e+09   4183472  NaN      S
2          7A.W03.  1.296662e+09   4183063  NaN      P
3          7A.W03.  1.296662e+09   4183006  NaN      S
4          7A.W07.  1.296662e+09   4183224  NaN      P
...            ...           ...       ...  ...    ...
1086002  7D.FN03C.  1.403745e+09  28500738  NaN      P
1086003  7D.FN03C.  1.403745e+09  28501239  NaN      S
1086004  7D.FN04C.  1.403745e+09  28497475  NaN      P
1086005  7D.FN04C.  1.403745e+09  28497499  NaN      S
1086006   7D.J49C.  1.403745e+09  28497877  NaN      S

[1086007 rows x 5 columns]

In [48]:
df_arrival.to_csv('../data/datasets_all_regions/arrival_2010_2015_ver3.csv', index=False)

In [66]:
df_arrival['chan'][0]

nan

## Make the assoc table

In [49]:
# Assignn unique origin indices starting from 0 to each event
df_temp = df_assignments_concat['time']
_df_temp = df_temp.drop_duplicates()
_df_temp = _df_temp.reset_index(drop=True)
_df_temp = _df_temp.reset_index().rename(columns={'index': 'orid'})
df_assignments_concat_orid = df_assignments_concat.merge(_df_temp, left_on='time', right_on='time', how='left')
# df_assignments_concat_orid = df_assignments_concat_orid.drop(columns=['x', 'y','z'])
df_assignments_concat_orid

,idx,time,picks,latitude,longitude,depth,event_idx,pick_idx,residual,station,phase,time_pick,arid,chan,max_prob,vmodel,delta,orid
0,2,2011-02-02 15:45:49.638470+00:00,6,48.494197,-124.375441,49.609375,2,24328,0.145372,7A.W02.,P,1.296662e+09,4183287,NaN,NaN,vel_nwa_shelf_trench,158.838318,0
1,2,2011-02-02 15:45:49.638470+00:00,6,48.494197,-124.375441,49.609375,2,24513,-0.318408,7A.W02.,S,1.296662e+09,4183472,NaN,NaN,vel_nwa_shelf_trench,158.838318,0
2,2,2011-02-02 15:45:49.638470+00:00,6,48.494197,-124.375441,49.609375,2,24141,-0.219135,7A.W03.,P,1.296662e+09,4183063,NaN,NaN,vel_nwa_shelf_trench,173.988261,0
3,2,2011-02-02 15:45:49.638470+00:00,6,48.494197,-124.375441,49.609375,2,24086,-0.546669,7A.W03.,S,1.296662e+09,4183006,NaN,NaN,vel_nwa_shelf_trench,173.988261,0
4,2,2011-02-02 15:45:49.638470+00:00,6,48.494197,-124.375441,49.609375,2,24265,0.100764,7A.W07.,P,1.296662e+09,4183224,NaN,NaN,vel_nwa_shelf_trench,141.294277,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086002,10632,2014-06-26 01:08:02.810201+00:00,7,46.901101,-124.628817,10.546875,10632,2559315,1.346963,7D.FN03C.,P,1.403745e+09,28500738,NaN,NaN,vel_swa_shore,8.031025,116590
1086003,10632,2014-06-26 01:08:02.810201+00:00,7,46.901101,-124.628817,10.546875,10632,2559816,-0.489490,7D.FN03C.,S,1.403745e+09,28501239,NaN,NaN,vel_swa_shore,8.031025,116590
1086004,10632,2014-06-26 01:08:02.810201+00:00,7,46.901101,-124.628817,10.546875,10632,2556490,0.361920,7D.FN04C.,P,1.403745e+09,28497475,NaN,NaN,vel_swa_shore,2.773666,116590
1086005,10632,2014-06-26 01:08:02.810201+00:00,7,46.901101,-124.628817,10.546875,10632,2556514,-0.889507,7D.FN04C.,S,1.403745e+09,28497499,NaN,NaN,vel_swa_shore,2.773666,116590
1086006,10632,2014-06-26 01:08:02.810201+00:00,7,46.901101,-124.628817,10.546875,10632,2556892,-0.654387,7D.J49C.,S,1.403745e+09,28497877,NaN,NaN,vel_swa_shore,53.730171,116590

In [50]:
# Retrieve and rename the columns needed for the association table 
df_assoc = df_assignments_concat_orid[['arid', 'orid', 'station','phase','max_prob','delta','residual','time','vmodel']]
df_assoc = df_assoc.rename(columns={'station':'sta','max_prob':'belief','residual':'timeres','time':'timedef'})
df_assoc

,arid,orid,sta,phase,belief,delta,timeres,timedef,vmodel
0,4183287,0,7A.W02.,P,NaN,158.838318,0.145372,2011-02-02 15:45:49.638470+00:00,vel_nwa_shelf_trench
1,4183472,0,7A.W02.,S,NaN,158.838318,-0.318408,2011-02-02 15:45:49.638470+00:00,vel_nwa_shelf_trench
2,4183063,0,7A.W03.,P,NaN,173.988261,-0.219135,2011-02-02 15:45:49.638470+00:00,vel_nwa_shelf_trench
3,4183006,0,7A.W03.,S,NaN,173.988261,-0.546669,2011-02-02 15:45:49.638470+00:00,vel_nwa_shelf_trench
4,4183224,0,7A.W07.,P,NaN,141.294277,0.100764,2011-02-02 15:45:49.638470+00:00,vel_nwa_shelf_trench
...,...,...,...,...,...,...,...,...,...
1086002,28500738,116590,7D.FN03C.,P,NaN,8.031025,1.346963,2014-06-26 01:08:02.810201+00:00,vel_swa_shore
1086003,28501239,116590,7D.FN03C.,S,NaN,8.031025,-0.489490,2014-06-26 01:08:02.810201+00:00,vel_swa_shore
1086004,28497475,116590,7D.FN04C.,P,NaN,2.773666,0.361920,2014-06-26 01:08:02.810201+00:00,vel_swa_shore
1086005,28497499,116590,7D.FN04C.,S,NaN,2.773666,-0.889507,2014-06-26 01:08:02.810201+00:00,vel_swa_shore
1086006,28497877,116590,7D.J49C.,S,NaN,53.730171,-0.654387,2014-06-26 01:08:02.810201+00:00,vel_swa_shore

In [51]:
df_assoc.to_csv('../data/datasets_all_regions/assoc_2010_2015_ver3.csv', index=False)

In [60]:
df_assoc[0:10]

,arid,orid,sta,phase,belief,delta,timeres,timedef,vmodel
0,4183287,0,7A.W02.,P,NaN,158.838318,0.145372,2011-02-02 15:45:49.638470+00:00,vel_nwa_shelf_trench
1,4183472,0,7A.W02.,S,NaN,158.838318,-0.318408,2011-02-02 15:45:49.638470+00:00,vel_nwa_shelf_trench
2,4183063,0,7A.W03.,P,NaN,173.988261,-0.219135,2011-02-02 15:45:49.638470+00:00,vel_nwa_shelf_trench
3,4183006,0,7A.W03.,S,NaN,173.988261,-0.546669,2011-02-02 15:45:49.638470+00:00,vel_nwa_shelf_trench
4,4183224,0,7A.W07.,P,NaN,141.294277,0.100764,2011-02-02 15:45:49.638470+00:00,vel_nwa_shelf_trench
5,4183209,0,7A.W07.,S,NaN,141.294277,0.838077,2011-02-02 15:45:49.638470+00:00,vel_nwa_shelf_trench
6,4336456,1,7A.W02.,P,NaN,270.239481,-0.335814,2011-02-15 14:47:37.628525+00:00,vel_nwa_shelf_trench
7,4336734,1,7A.W02.,S,NaN,270.239481,-0.226405,2011-02-15 14:47:37.628525+00:00,vel_nwa_shelf_trench
8,4331089,1,7A.W03.,P,NaN,279.542829,0.519241,2011-02-15 14:47:37.628525+00:00,vel_nwa_shelf_trench
9,4331172,1,7A.W03.,S,NaN,279.542829,0.626910,2011-02-15 14:47:37.628525+00:00,vel_nwa_shelf_trench

## Make the origin table
Assuming 'time' is unique.

In [52]:
df_assignments_concat

,idx,time,picks,latitude,longitude,depth,event_idx,pick_idx,residual,station,phase,time_pick,arid,chan,max_prob,vmodel,delta
0,2,2011-02-02 15:45:49.638470+00:00,6,48.494197,-124.375441,49.609375,2,24328,0.145372,7A.W02.,P,1.296662e+09,4183287,NaN,NaN,vel_nwa_shelf_trench,158.838318
1,2,2011-02-02 15:45:49.638470+00:00,6,48.494197,-124.375441,49.609375,2,24513,-0.318408,7A.W02.,S,1.296662e+09,4183472,NaN,NaN,vel_nwa_shelf_trench,158.838318
2,2,2011-02-02 15:45:49.638470+00:00,6,48.494197,-124.375441,49.609375,2,24141,-0.219135,7A.W03.,P,1.296662e+09,4183063,NaN,NaN,vel_nwa_shelf_trench,173.988261
3,2,2011-02-02 15:45:49.638470+00:00,6,48.494197,-124.375441,49.609375,2,24086,-0.546669,7A.W03.,S,1.296662e+09,4183006,NaN,NaN,vel_nwa_shelf_trench,173.988261
4,2,2011-02-02 15:45:49.638470+00:00,6,48.494197,-124.375441,49.609375,2,24265,0.100764,7A.W07.,P,1.296662e+09,4183224,NaN,NaN,vel_nwa_shelf_trench,141.294277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086002,10632,2014-06-26 01:08:02.810201+00:00,7,46.901101,-124.628817,10.546875,10632,2559315,1.346963,7D.FN03C.,P,1.403745e+09,28500738,NaN,NaN,vel_swa_shore,8.031025
1086003,10632,2014-06-26 01:08:02.810201+00:00,7,46.901101,-124.628817,10.546875,10632,2559816,-0.489490,7D.FN03C.,S,1.403745e+09,28501239,NaN,NaN,vel_swa_shore,8.031025
1086004,10632,2014-06-26 01:08:02.810201+00:00,7,46.901101,-124.628817,10.546875,10632,2556490,0.361920,7D.FN04C.,P,1.403745e+09,28497475,NaN,NaN,vel_swa_shore,2.773666
1086005,10632,2014-06-26 01:08:02.810201+00:00,7,46.901101,-124.628817,10.546875,10632,2556514,-0.889507,7D.FN04C.,S,1.403745e+09,28497499,NaN,NaN,vel_swa_shore,2.773666
1086006,10632,2014-06-26 01:08:02.810201+00:00,7,46.901101,-124.628817,10.546875,10632,2556892,-0.654387,7D.J49C.,S,1.403745e+09,28497877,NaN,NaN,vel_swa_shore,53.730171

In [53]:
df_origin = df_assignments_concat_orid[['latitude','longitude','depth','time','orid','picks']]
df_origin = df_origin.rename(columns={'latitude':'lat','longitude':'lon','picks':'nass'})
df_origin['time'] = pd.to_datetime(df_origin["time"]).apply(lambda x: x.timestamp())
df_origin

               lat         lon      depth          time    orid  nass
0        48.494197 -124.375441  49.609375  1.296662e+09       0     6
1        48.494197 -124.375441  49.609375  1.296662e+09       0     6
2        48.494197 -124.375441  49.609375  1.296662e+09       0     6
3        48.494197 -124.375441  49.609375  1.296662e+09       0     6
4        48.494197 -124.375441  49.609375  1.296662e+09       0     6
...            ...         ...        ...           ...     ...   ...
1086002  46.901101 -124.628817  10.546875  1.403745e+09  116590     7
1086003  46.901101 -124.628817  10.546875  1.403745e+09  116590     7
1086004  46.901101 -124.628817  10.546875  1.403745e+09  116590     7
1086005  46.901101 -124.628817  10.546875  1.403745e+09  116590     7
1086006  46.901101 -124.628817  10.546875  1.403745e+09  116590     7

[1086007 rows x 6 columns]

In [54]:
df_origin.to_csv('../data/datasets_all_regions/origin_2010_2015_ver3.csv', index=False)

In [55]:
df_origin.drop_duplicates(subset=['orid'], keep='first', inplace=True)

In [59]:
df_origin[0:10]

          lat         lon      depth          time  orid  nass
0   48.494197 -124.375441  49.609375  1.296662e+09     0     6
6   45.934053 -127.535508  11.328125  1.297781e+09     1     7
13  49.351833 -127.780358   4.296875  1.298210e+09     2     6
19  47.889989 -124.418423   4.296875  1.298999e+09     3     8
27  48.340154 -126.591067  12.890625  1.299013e+09     4     7
34  48.520954 -129.087149  25.390625  1.299777e+09     5     9
43  48.903661 -129.921295  24.609375  1.325480e+09     6     8
51  48.745276 -128.435499   3.515625  1.328367e+09     7     7
58  50.157265 -126.101055   2.734375  1.328386e+09     8     8
66  48.925502 -128.430831  49.609375  1.328386e+09     9     7

In [57]:
df_assignments_concat.drop_duplicates(subset=['time'], keep='first', inplace=True)

In [58]:
df_assignments_concat

,idx,time,picks,latitude,longitude,depth,event_idx,pick_idx,residual,station,phase,time_pick,arid,chan,max_prob,vmodel,delta
0,2,2011-02-02 15:45:49.638470+00:00,6,48.494197,-124.375441,49.609375,2,24328,0.145372,7A.W02.,P,1.296662e+09,4183287,NaN,NaN,vel_nwa_shelf_trench,158.838318
6,3,2011-02-15 14:47:37.628525+00:00,7,45.934053,-127.535508,11.328125,3,34135,-0.335814,7A.W02.,P,1.297781e+09,4336456,NaN,NaN,vel_nwa_shelf_trench,270.239481
13,5,2011-02-20 13:50:12.089506+00:00,6,49.351833,-127.780358,4.296875,5,37733,0.552630,7A.W02.,P,1.298210e+09,4394755,NaN,NaN,vel_nwa_shelf_trench,153.600254
19,6,2011-03-01 17:07:04.998555+00:00,8,47.889989,-124.418423,4.296875,6,42791,-0.951309,7A.W01.,P,1.298999e+09,4506214,NaN,NaN,vel_nwa_shelf_trench,144.742301
27,7,2011-03-01 21:04:35.912639+00:00,7,48.340154,-126.591067,12.890625,7,42733,0.080603,7A.W01.,P,1.299013e+09,4506156,NaN,NaN,vel_nwa_shelf_trench,34.322163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085976,10598,2014-06-24 19:45:52.044683+00:00,6,46.901212,-124.643457,3.515625,10598,2547945,1.386195,7D.FN03C.,P,1.403639e+09,28455954,NaN,NaN,vel_swa_shore,9.127236
1085982,10612,2014-06-25 09:27:07.639354+00:00,6,46.667652,-124.413895,17.578125,10612,2554418,-0.313404,7D.FN02C.,P,1.403688e+09,28480185,NaN,NaN,vel_swa_shore,31.380552
1085988,10614,2014-06-25 15:05:09.420748+00:00,6,45.798660,-128.434658,49.609375,10614,2553447,0.540974,7D.FN01C.,P,1.403709e+09,28473784,NaN,NaN,vel_swa_shore,337.062572
1085994,10624,2014-06-25 20:47:18.763527+00:00,6,46.915258,-124.818981,1.171875,10624,2554037,-0.300317,7D.FN02C.,S,1.403729e+09,28479804,NaN,NaN,vel_swa_shore,29.933276
1086000,10632,2014-06-26 01:08:02.810201+00:00,7,46.901101,-124.628817,10.546875,10632,2558346,1.468220,7D.FN01C.,P,1.403745e+09,28499749,NaN,NaN,vel_swa_shore,22.553073